{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

<p>{{=A('SHEBANQ User Guide as PDF', _target='_blank',_href=URL('static', 'docs/help.pdf'))}}</p>
<hr/>
<h1><a name="usage">Summary</a></h1>
<dl>
<dt><a href="#the_text">The Text</a></dt>
<dt><a href="#words">Words</a></dt>
<dt><a href="#queries">Queries</a></dt>
<dt><a href="#data">Data</a></dt>
<dt><a href="#context_view">Context View</a></dt>
<dt><a href="#word_highlights">Word Highlights</a></dt>
<dt><a href="#query_highlights">Query Highlights</a></dt>
<dt><a href="#single_word_view">Single Word View</a></dt>
<dt><a href="#single_query_view">Single Query View</a></dt>
<dt><a href="#working_with_queries">Working with Queries</a></dt>
<dt><a href="#executing_queries">Executing Queries</a></dt>
<dt><a href="#charts">Charts</a></dt>
<dt><a href="#export_data">Export Data</a></dt>
<dt><a href="#citation">Citation</a></dt>
<dt><a href="#support">Support</a></dt>
</dl>

<hr/>
<h1><a name="the_text">The Text</a></h1>
<p><img src="{{=URL('static', 'images/help/help.001.jpg')}}"/></p>

<hr/>
<h1><a name="words">Words</a></h1>
<p><img src="{{=URL('static', 'images/help/help.002.jpg')}}"/></p>
 
<hr/>
<h1><a name="queries">Queries</a></h1>
<p><img src="{{=URL('static', 'images/help/help.003.jpg')}}"/></p>
 
<hr/>
<h1><a name="data">Data</a></h1>
<p><img src="{{=URL('static', 'images/help/help.004.jpg')}}"/></p>

<hr/>
<h1><a name="context_view">Context View</a></h1>
<p><img src="{{=URL('static', 'images/help/help.005.jpg')}}"/></p>

<hr/>
<h1><a name="word_highlights">Word Highlights</a></h1>
<p><img src="{{=URL('static', 'images/help/help.006.jpg')}}"/></p>

<hr/>
<h1><a name="query_highlights">Query Highlights</a></h1>
<p><img src="{{=URL('static', 'images/help/help.007.jpg')}}"/></p>

<hr/>
<h1><a name="single_word_view">Single Word View</a></h1>
<p><img src="{{=URL('static', 'images/help/help.008.jpg')}}"/></p>

<hr/>
<h1><a name="single_query_view">Single Query View</a></h1>
<p><img src="{{=URL('static', 'images/help/help.009.jpg')}}"/></p>

<hr/>
<h1><a name="working_with_queries">Working with queries</a></h1>
<p><img src="{{=URL('static', 'images/help/help.010.jpg')}}"/></p>

<hr/>
<h1><a name="executing_queries">Executing queries</a></h1>
<p><img src="{{=URL('static', 'images/help/help.011.jpg')}}"/></p>

<hr/>
<h1><a name="charts">Charts</a></h1>
<p><img src="{{=URL('static', 'images/help/help.012.jpg')}}"/></p>

<hr/>
<h1><a name="export_data">Export Data</a></h1>
<p><img src="{{=URL('static', 'images/help/help.013.jpg')}}"/></p>

<hr/>
<h1><a name="citation">Citation</a></h1>
<p><img src="{{=URL('static', 'images/help/help.014.jpg')}}"/></p>

<hr/>
<h1><a name="support">Support</a></h1>
<p>Please report to <a href="mailto:dirk.roorda@dans.knaw.nl">Dirk Roorda</a>.</p>
