{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h4>{{=T('Usage')}}</h4>
<p>You can <i>browse chapters in the Hebrew Bible</i> and <i>perform advanced queries in the Hebrew database</i>.</p>
<p>When you read a chapter, you may encounter queries with results in the chapter you are reading.
These queries are shown in the sidebar, to the left of the material.
You can investigate those queries and their results, and switch back and forth between chapter and query results.</p>
<p>You can also click on every word in order to mark all occurrences of that word in the passage you are reading.
The words show up in the sidebar, and from there you can get to all occurrences of a word throughout the whole Hebrew Bible.</p>
<p>You can assign colors to words and queries: query results are highlighted by coloring the backgound of words.
Word occurrences are highlighted by coloring the letters themselves.</p>
<p>You can export the results of a query or the occurrences of a lexeme as a csv file.</p>

<h4>{{=T('The Text')}}</h4>
<p>Use the {{=A(T("The Text"), _href=URL('hebrew', 'text', ))}} menu to choose a book and a chapter.</p>
<p>The dialog to select a chapter stays in view, until you click it away or press <code>&lt;Esc&gt;</code>.</p>

<h4>{{=T('Queries and Words')}}</h4>
<p><img src="{{=URL('static', 'images/help-mainscreen.png')}}"/></p>
<p>The sidebar contains information related to the chapter you are reading.</p>
<p>Click <i>show words</i> to get access to a list of all words that occur in this chapter.</p>
<p>Initially, the list will be empty, but when you click on words in the text, they will show up here.</p>
<p>Click <i>show queries</i> to show the list of queries with results in this chapter.
<p>See <i>Adjusting the view</i> for ways in which you can have the data presented.</p>
</p>

<h4>{{=T('Adjusting the view')}}</h4>
<p>There are many ways to get to the information you need, to highlight the relevant bits and to hide the rest.</p>
<p><img src="{{=URL('static', 'images/help-viewsettings.png')}}"/></p>
<h5>Text or data</h5>
<p>Above the text itself there is a control for how the main text is displayed:</p>
<dl>
<dt>text</dt>
<dd>This displays just the plain Hebrew text.</dd>
<dt>data</dt>
<dd>This displays the underlying data with the text.
It is an interlinear display of word-level features and features at the levels of subphrase, phrase, clause and sentence.
<p><img src="{{=URL('static', 'images/help-datalegend.png')}}"/></p>
A legend of this extra data can be called up, which can be used to customize the bits of information that you want to have shown.
By clicking on the name of a data feature you are taken to a documentation page that explains the feature.
</dd>
</dl>
<h5>Highlighting</h5>
<p>The words and queries in the sidebar can be used to highlight corresponding words in the main text.
Directly above each list in the sidebar is a row of <i>view controls</i>.</p>
<p>Going from right to left there are switches for:</p>
<dl>
<dt>off</dt><dd>switch off all highlighting</dd>
<dt>one</dt><dd>highlight everything with the same color, which can be selected by clicking the color picker to the left;</dd>
<dt>my</dt><dd>highlight uncustomized queries/words with the same color, as if <i>one</i> has been clicked, and 
use customized colors otherwise. 
You customize a color by clicking on the color picker next to the query/word and selecting a color.
Alternatively, you can customize a query color by clicking the select box next to its color picker.
In that case the color does not change, but counts as customized.
Words are treated differently from queries: only <i>customized</i> words show up in the list.
And in order to customize a word, you just click a word in the text. Clicking it again will uncustomize it.</dd>
<dt>many</dt><dd>assigns fixed default colors to the queries/words. Everything will be highlighted using this default color,
except for the customized ones, which will be highlighted in the colors you have assigned to them.
For words, this control enables you to view the full list of words.</dd>
<dt>X</dt><dd>reset: uncustomize all colors, so you can start with a clean slate.</dd>
</dl>

<h5>List view</h5>
The sidebar lists offer compact views on the relevant words and queries. You get more information by clicking on the item:
it will bring you to the corresponding query or word page, where you have access to all information about that item, 
including its results throughout the whole Hebrew Bible.
<p><img src="{{=URL('static', 'images/help-expand.png')}}"/></p>
Alternatively, you can just click on the the second part of a list item in the sidebar: the item will expand to show you a bit more information.
It will collapse by clicking the same bit again.

<h4>{{=T('Working with queries')}}</h4>
<p>You can view the queries of others, but you can also create your own queries, execute them, and save them.</p>

<h5>Viewing Public Queries</h5>
<p>The menu <i>Public Queries</i> shows you a list of all public queries in SHEBANQ.
Some of them you may encounter in the sidebar next to passages where they have results.<p>
<p>Some queries are <i>outdated</i>, meaning that the query has been saved again after its last execution.
There is no guarantee that the results of outdated queries match the body of the query.
Outdated queries are not shown in the sidebars, but they do show up in the list of public queries.</p>

<h5>My queries</h5>
<p>The menu <i>My Queries</i> shows you a list of all queries that you have created yourself.<p>
<p>From this list you can view, edit and delete your queries.</p>
<p><img src="{{=URL('static', 'images/help-create.png')}}"/></p>
<p>To create a new query, press the plus icon top right (red circle).</p>
<p><b>Hint 1</b>: fill in the details of the query, but do not run it from here. Instead, save it, go back to <i>My Queries</i>,
navigate to the new query, and edit it from there, as shown below.</p>
<p>By clicking the info icon (green circle) you are taken to the page for this query,
where you can view its results and all its details. From here you can also edit the query instruction and run the query.</p>
<p>By clicking the edit icon (orange circle) you can edit the information about that query.</p>

<h5>Developing a query</h5>
<p>You can develop a query from its dedicated page.</p>
<p><img src="{{=URL('static', 'images/help-query.png')}}"/></p>
<p>Next to the name field is an <i>Edit info</i> icon (orange circle) by which you can edit the information about your query, including the query itself.
However, the recommended way of editing the body of your query is by clicking the <i>Edit query</i> icon.
The page will make space for your query, you can edit and run it in a quick cycle from there.</p>
<p>And, when you are at it, take the opportunity to provide a decent description of your query for the benefit of others.</p>
<p><img src="{{=URL('static', 'images/help-edit_query.png')}}"/></p>
<p>By checking the <i>Public</i> checkbox, you indicate that this query may show up in the list of Public Queries and in the sidebar next to
chapters that contain results of this query.</p>
<p>When you edit your query, a timestamp will be added. This stamp contains the point in time that the query <i>body</i> was last changed.
If you merely edit the description or other metadata, this timestamp will not be changed. The timestamp is used to
determine whether your query results are up to date or outdated. Outdated queries will not show up in the sidebar.</p>

<h4>{{=T('Citation and sharing')}}</h4>
<p>You can cite individual queries and words by means of an <i>url</i>:</p>
<dl>
<dt>query</dt>
<dd><code>http://shebanq.ancient-data.org?mr=m&qw=q&iid=</code><i>id-of-query</i></dd>
<dt>word</dt>
<dd><code>http://shebanq.ancient-data.org?mr=m&qw=w&iid=</code><i>id-of-word</i></dd>
</dl>
<p><img src="{{=URL('static', 'images/help-cite.png')}}"/></p>
<p>You can generate these links and more if you are on a page that describes an individual query or word. You find them at the bottom right of
the window, in the <i>Cite</i> drawer.
If you are on the page of an individual query or word, you get the option to cite that query or word.
In any case, you get the option to generate a link to your customized view.
The link will pop up in a window, and the only thing to do is to copy it to your clipboard (<code>Cmd-C</code> or <code>Ctrl-C</code>) and click <i>OK</i> or press
<code>Enter</code>.
Alternatively, you can click the Twitter icon, to start a tweet with the link to your view already pasted in.
</p>
<p>Besides a link to your query you can generate a <i>url</i> that reproduces your customized view on a passage,
query or word including all colors you have assigned to queries and words.
Your customizations are stored in your browser, in a few <i>cookies</i>.
Hence if you go to the same page in another browser, you will probably see different colors.
However, you can share these links through mail or twitter, or bookmark them yourself for usage in another browser, e.g. on your tablet.
Try for example {{=A(T("Exodus 6"), _target='_blank', _href=URL('hebrew', 'text')+'?qactive=hlcustom&qsel_one=grey&qget=v&wactive=hlcustom&wsel_one=gray&wget=v&chapter=6&qw=q&tp=txt_p&iid=13&book=Exodus&mr=m&page=1&q401=skye&q402=orange&sn_n=v&sp_n=v&cl=v&wd1_lang=x&wd1_subpos=x&wd2_person=v&cl_dom=v&sp_rela=v&gl=v&ph_fun=v&ph_typ=v&cl_typ=v&tt=x&wd2=v&wd1=v&tl=x&wd2_gender=v&ph=v&wd1_pos=v&ph_det=v&wd2_stem=v&wd2_state=v&ht=v&ph_n=v&hl=v&cl_n=v&wd2_gnumber=v&sp=v&wd2_tense=v&wd1_n=x&sn=v&pref=alt')}}.
If you receive a link to a view from somebody else and click on it, it will not destroy your previous settings. 
If you want to return to your own settings, use the {{=A(T("The Text"), _href=URL('hebrew', 'text', ))}} menu.
Then you will return to the passage, query or word you were on before clicking the shared link, and you see your own colors again.
</p>

<h4>{{=T('Exporting lists')}}</h4>
<p>You can export the result list of a query and the list of occurrences of a lexeme.</p>
<p><img src="{{=URL('static', 'images/help-export.png')}}"/></p>
<p>If you press the <i>csv</i> button at the top of the query or word description, SHEBANQ collects all results of it, not only those of the page currently shown.
It produces a comma separated file, where each row corresponds with an individual result. Each row contains three columns indicating the passage: book name, chapter number
and verse number.
The selection of other columns depends on your view settings.</p>
<p>If you are looking at the plain text, there will be just two other columns: one for the word number and one for the word itself.
The word number is a unique sequence number for word occurrences throughout the whole bible.
The word itself is given in Hebrew Unicode characters. The material between this word and the next word is appended as well.
Usually that will be a space, but it can also be the empty string, or punctuation and additional signs.</p>
<p>If you are looking at the data view, you will see the features that you have selected by means of the legend.</p>
<p><b>Hint 1</b> Opening the csv file in <i>Excel</i> might be disappointing.
The encoding of the csv exports of SHEBANQ is UNICODE/utf-8, and somehow it is difficult to tell Excel to use 
this encoding. If you are working on the Mac, you will almost surely see garbage. The Mac app <i>Numbers</i> opens the csv file correctly.
<i>OpenOffice</i> is by far the most versatile on Windows, Mac and Linux and is recommended.</p>
<p><b>Hint 2</b> The field separation character is <code>,</code> . It might be the case that the regional settings on your computer specify an other character, such as <code>;</code>
as field separation character.
In that case you have to tell your program, after opening, to use the comma instead.
Again, OpenOffice is recommended, because it lets you make the choice quickly before proceeding.</p>
<p><b>Hint 3</b> You may want to apply a Hebrew font such as <i>Ezra SIL</i> or <i>SBL Hebrew</i> to the columns that contain Hebrew text
(or to all columns for that matter).<p>
<p><img src="{{=URL('static', 'images/help-csv.png')}}"/></p>

<h4>{{=T('Problems?')}}</h4>
If you encounter problems, e.g <i>exception while executing query</i>, please report it to <a href="mailto:dirk.roorda@dans.knaw.nl">Dirk Roorda</a>.

{{block right_sidebar}}
    {{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn', _style='margin-top: 1em;')}}

    <h6>{{=T("Don't know what to do?")}}</h6>
    <ul class="text">
      <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
      <li><a href="http://web2py.com">web2py.com</a></li>
      <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
    </ul>
{{end}}
