{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = True }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h4>SHEBANQ: System for HEBrew Text: ANnotations for Queries and Markup</h4>
<p>This is a system for the study of the Hebrew Bible, produced by the <a target="_blank" href="http://godgeleerdheid.vu.nl/etcbc">ETCBC</a>.
It is powered by the ETCBC <i>database</i>, formerly known as WIVU, and it facilitates powerful syntactical queries.
SHEBANQ lets you develop and share those queries with fellow researchers.
It uses a <i>queries-as-annotations</i> paradigm. 
Scholarly editions of the Bible usually dedicate space to a critical apparatus and various kinds of annotations. 
SHEBANQ introduces the idea of annotating the text with <i>queries</i>.
They show up next to the text pages where the results are.
By sharing your queries with others, you may find what you did not search for.</p>

<h4>{{=T('Get started')}}</h4>
<p>You can just read
{{=A(T("The Text"), _href=URL('hebrew', 'text', vars=dict(book='Genesis', chapter=1, qget='v', wget='v')))}}.
In the margin you find related queries, and you can follow them.
You can also start with a query, such as
{{=A(T("shibboleth"), _href=URL('hebrew', 'query', vars=dict(id=18, page=1)))}}
(1 result)
or a word such as the
{{=A(T("definite article"), _href=URL('hebrew', 'word', vars=dict(id=3933, page=1)))}}
(more than 30,000 occurrences).
Do not forget to use the clickable <i>chart</i>,
which shows you how your results are distributed over the text as a whole.
You can even download the results as a <i>csv file</i> and use your spreadsheet program to make a nicer chart.
Or find an other
{{=A(T("public query"), _href=URL('hebrew', 'queries'))}}
that interests you.
You switch back and forth from browsing passages to inspecting relevant queries by clicking on queries in the margin
and verse labels in the text material.
The data that underlies the text can be viewed by pressing the <i>data</i> button.
All this and more is explained in the {{=A('help', _href=URL('default', 'help'))}}.</p>

<h4>{{=T('Next step: make your own queries')}}</h4>
<p>You can contribute queries yourself, but then you have to register/login.
By filling in your institution and your project you provide other users with a bit of context.
Precise, concise documentation is at your finger tips, e.g. the
growing body of online documentation on <a target="_blank" href="http://shebanq-doc.readthedocs.org">readthedocs</a>.</p>

<h4>{{=T('Expert step: publish your queries')}}</h4>
<p>You can publish your queries, so that they show up
in the margin of the chapters containing their results.
In this way they are become a valuable resource for fellow Hebrew readers.
See for example this
<a target="_blank" href="https://shebanq-doc.readthedocs.org/en/latest/features/comments/0_hints.html">set of real-life, yet tutorial style queries</a>
by Oliver Glanz, Reinoud Oosting, and Martijn Naaijer.</p>

<h4>{{=T('For gurus')}}</h4>
<p>You can reproduce SHEBANQ and make it better, or write totally different applications for processing the ETCBC data.
Consult the menu item {{=A(T("Help/Sources"), _href=URL('default', 'sources'))}}. 
The license is such that nothing stands in your way, as long as you stay non-commercial.</p>

{{block right_sidebar}}
<h5>Companion tools based on ETCBC data</h5>
<div class="reltool">
<a class="ctrll" href="http://shebanq-doc.readthedocs.org/en/latest/texts/welcome.html" target="_blank">shebanq-doc  <img src="{{=URL('static', 'images/FeatureDoc.png')}}"/></a>. 
<p><b>For <i>all users</i> of the ETCBC data</b>.</p>
<p>Your reference guide for interpreting the ETCBC data with hints for writing queries.</p>
</div>
<div class="reltool">
<a class="ctrll" href="http://laf-fabric.readthedocs.org/en/latest/texts/welcome.html" target="_blank">laf-fabric <img src="{{=URL('static', 'images/laf-fabric-small.png')}}"/></a>. 
<p><b>Examples</b>: <a class= "ctrl" href="http://nbviewer.ipython.org/github/etcbc/laf-fabric-nbs/tree/master/" target="_blank">online notebooks</a></p>
<p><b>For researchers</b>.</p>
<p>Work offline, beyond the limits of SHEBANQ, and share your results online. <i>Programming skills required!</i></p>
</div>
<div class="reltool">
<a class="ctrll" href="http://bibleol.3bmoodle.dk" target="_blank">Bible Online Learner <img src="{{=URL('static', 'images/BibleOL-big.png')}}"/></a>. 
<p><b>For teachers and students of Hebrew</b>.</p>
<p>Select and perform drills in context. From a chapter in SHEBANQ, click the logo to jump directly to that chapter in BOL.</p>
<p>Created by Nicolai Winther-Nielsen and Claus Tøndering.</p>
</div>
{{end}}
