{{ left_sidebar_enabled = True }}
{{ right_sidebar_enabled = True }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<div class="section" id="shebanq">
<p><img src="{{=URL('static', 'images/shebanq_logo.png')}}" width="50%" align="right"/></p>
<h4>What is SHEBANQ?</h4>
<p><b>System for HEBrew Text: ANnotations for Queries and Markup</b></p>
<p>This is a system for the study of the Hebrew Bible, produced by the <a target="_blank" href="http://godgeleerdheid.vu.nl/etcbc">ETCBC</a>
in cooperation with the
<a target="_blank" href="https://www.dbg.de/en">German Bible Society</a>
and the
<a target="_blank" href="https://www.bijbelgenootschap.nl">Netherlands Bible Society</a>.</p>

<p>It is powered by the ETCBC <i>database</i>, formerly known as WIVU which facilitates powerful syntactical queries.
SHEBANQ lets you develop and share those queries with fellow researchers.
Scholarly editions of the Bible usually dedicate space to a critical apparatus and various kinds of annotations. 
SHEBANQ introduces the idea of annotating the text with <i>queries</i>.
They show up next to the text pages where the results are.
By sharing your queries with others, you may find what you did not search for.
Of course you can also add ordinary annotations!</p>
</div>

<div class="section" id="get_started">
<h4>Get started: read the text, view words, queries and notes, and move around</h4>
<p>You can just read
{{=A(T("The Text"), _href=URL('hebrew', 'text', vars=dict(book='Genesis', chapter=1, version='4', qget='v', wget='v')))}}.
In the margin you find related queries, and you can follow them.
You can also start with a query, such as
{{=A(T("shibboleth"), _href=URL('hebrew', 'query', vars=dict(version='4', id=18, page=1)))}}
(1 result)
or a word such as the
{{=A(T("definite article"), _href=URL('hebrew', 'word', vars=dict(version='4', id=3933, page=1)))}}
(more than 30,000 occurrences).
Do not forget to use the clickable <i>chart</i>,
which shows you how your results are distributed over the text as a whole.
You can even download the results as a <i>csv file</i> and use your spreadsheet program to make a nicer chart.
Or find an other
{{=A(T("shared query"), _href=URL('hebrew', 'queries'))}}
that interests you.
You switch back and forth from browsing passages to inspecting relevant queries by clicking on queries in the margin
and verse labels in the text material.
Another way of navigating is by means of the cross-references between similar passages, which are shown as the note
set
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='Mnxjcm9zc3JlZg__', tp='txt_tb1', nget='v'))}}">crossref</a>.
The data that underlies the text can be viewed by pressing the <i>data</i> button.
All this and more is explained in the {{=A('help', _href=URL('default', 'help'))}}.</p>
<p><img src="{{=URL('static', 'images/text.png')}}" width="90%"/></p>
</div>

<div class="section" id="next_step">
<h4>Next step: make your own queries and notes</h4>
<p>You can contribute queries and notes yourself, but then you have to register/login.
When writing a query, 
by filling in your institution and your project you provide other users with a bit of context.
Precise, concise documentation is at your finger tips, e.g. the
growing body of online documentation on <a target="_blank" href="http://shebanq-doc.readthedocs.org">readthedocs</a>.
Once you are logged in, you can enter manual notes right away. Go to
{{=A(T('notes view'), _href=URL('hebrew', 'text', vars=dict(nget='v', chapter=1, book='Genesis', tp='txt_tb1', version=4, mr='m')))}}.</p>
<p><img src="{{=URL('static', 'images/queries.png')}}" width="90%"/></p>
</div>

<div class="section" id="advanced">
<h4>Advanced: share and publish your queries and notes</h4>
<p>You can share publish your queries and notes, so that they show up
in the margin of the chapters containing their results.
In this way they become a valuable resource for fellow Hebrew readers.
See for example this
<a target="_blank" href="https://shebanq-doc.readthedocs.org/en/latest/features/comments/0_hints.html">set of real-life, yet tutorial style queries</a>
by Oliver Glanz, Reinoud Oosting, and Martijn Naaijer.
If you want to <i>cite</i> your shared query or note set in a publication,
you can also <i>publish</i> it.
Your query and its results on a particular version om the database will be frozen, so that
others will see exactly the same results later on.
When newer versions of the database arrive in SHEBANQ, you can run the same query on the new data.
You can modify that version of your query and publish it separately from earlier versions.</p>
<p><img src="{{=URL('static', 'images/cite.png')}}" width="90%"/></p>
</div>

<div class="section" id="expert">
<h4>Expert: engage in data analysis and disseminate your results</h4>
<p>You can generate notes sets by means of software, possibly aided by 
<a href="http://laf-fabric.readthedocs.org/en/latest/texts/welcome.html" target="_blank">laf-fabric</a>
and
{{=A(T('bulk upload'), _href=URL('hebrew', 'notes'))}} 
them to SHEBANQ. See also the
{{=A(T('sources page'), _href=URL('default', 'sources#usergenerated'))}}.
Quality results are candidates for the <i>Tools</i> page, such as 
<a target="_blank" href="{{=URL('tools', 'index', vars=dict(goto='parallel'))}}">parallel passages</a>
and
<a target="_blank" href="{{=URL('hebrew', 'note', vars=dict(version='4b', id='Mnx2YWxlbmNl', tp='txt_tb1', nget='v'))}}">verbal valence</a>,
a note set generated from the verbal valence patterns as formulated by Janet Dyk.</p>
<p><img src="{{=URL('static', 'images/expert.png')}}" width="90%"/></p>
</div>

<div class="section" id="free_software">
<h4>Free software: use SHEBANQ as you like!</h4>
<p>SHEBANQ is free software. 
The tools used to run the SHEBANQ website and to do the data preprocessing, and all the recipes are
available online. Moreover, the data on which all is based, is Open Access and can be obtained from 
<a target="_blank" href="http://dx.doi.org/10.17026/dans-2z3-arxf">DANS</a>.
You can reproduce SHEBANQ and make it better, or write totally different applications for processing the ETCBC data.
Consult the menu item {{=A(T("Help/Sources"), _href=URL('default', 'sources'))}}. 
The license is such that nothing stands in your way, as long as you stay non-commercial.</p>
<p><img src="{{=URL('static', 'images/cc_by_nc.png')}}" width="90%"/></p>
</div>

{{block right_sidebar}}
<div id="relapps">
<h5>Companion tools based on ETCBC data</h5>
<div class="reltool">
<a class="ctrll" href="http://laf-fabric.readthedocs.org/en/latest/texts/welcome.html" target="_blank">laf-fabric <img src="{{=URL('static', 'images/laf-fabric-small.png')}}"/></a>. 
<p><b>For researchers</b>.</p>
<p>Work offline, beyond the limits of SHEBANQ, and share your results online. <i>Programming skills required!</i></p>
<p><b>Examples</b>: <a class= "ctrl" href="http://nbviewer.ipython.org/github/etcbc/laf-fabric-nbs/tree/master/" target="_blank">online notebooks</a></p>
</div>
<div class="reltool">
<a class="ctrll" href="http://bibleol.3bmoodle.dk" target="_blank">Bible Online Learner <img src="{{=URL('static', 'images/BibleOL-big.png')}}"/></a>. 
<p><b>For teachers and students of Hebrew</b>.</p>
<p>Select and perform drills in context. From a chapter in SHEBANQ, click the logo to jump directly to that chapter in BOL.</p>
<p>Created by Nicolai Winther-Nielsen and Claus Tøndering.</p>
</div>
<div class="reltool">
<a class="ctrll" href="http://shebanq-doc.readthedocs.org/en/latest/texts/welcome.html" target="_blank">shebanq-doc  <img src="{{=URL('static', 'images/FeatureDoc.png')}}"/></a>. 
<p><b>For <i>all users</i> of the ETCBC data</b>.</p>
<p>Your reference guide for interpreting the ETCBC data with hints for writing queries.</p>
</div>
</div>
{{end}}

{{block left_sidebar}}
<div id="sections">
<dl>

<dt class="exp"><a href="#" class="sectionc" tid="shebanq">What is SHEBANQ?</a></dt>
<dd class="exp"><p><b>System for HEBrew Text: ANnotations for Queries and Markup</b></p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="get_started">Get started</a></dt>
<dd class="exp"><p>Read the text, view words, queries and notes, and move around</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="next_step">Next step</a></dt>
<dd class="exp"><p>Make your own queries and notes</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="advanced">Advanced</a></dt>
<dd class="exp"><p>Share and publish your queries and notes</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="expert">Expert</a></dt>
<dd class="exp"><p>Engage in data analysis and disseminate your results</p></dd>
<hr/>

<dt class="exp"><a href="#" class="sectionc" tid="free_software">Free software</a></dt>
<dd class="exp"><p>Use SHEBANQ as you like!</p></dd>
<hr/>

</dl>
</div>

{{end}}

<script type="text/javascript">
var Request = {
    parameter: function(name) {
        return this.parameters()[name]
    },
    parameters: function(uri) {
        var i, parameter, params, query, result;
        result = {};
        if (!uri) {
            uri = window.location.search;
        }
        if (uri.indexOf("?") === -1) {
            return {};
        }
        query = uri.slice(1);
        params = query.split("&");
        i = 0;
        while (i < params.length) {
            parameter = params[i].split("=");
            result[parameter[0]] = parameter[1];
            i++;
        }
        return result;
    }
}

function sections_init() {
    var gotosection = Request.parameter('goto');
    $('a[tid="shebanq"]').click()
    $('a[tid="'+gotosection+'"]').click()
}

var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('dt.exp').each(function() {
    var orig = $(this).html()
    $(this).html(detailcontrols+'&nbsp;'+orig)
})
$('dd.exp').show()
$('.hidec').show()
$('.showc').hide()
$('.hidec').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.hide()
    dt.find('.hidec').hide()
    dt.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.show()
    dt.find('.hidec').show()
    dt.find('.showc').hide()
})
$('div.section').hide()
$('.sectionc').click(function(e) {e.preventDefault();
    $('dt.exp').removeClass('thl')
    $(this).closest('dt').addClass('thl')
    $('div.section').hide()
    $('#'+$(this).attr('tid')).show()
})
$(function () {
    var subtract = 150
    standard_height = window.innerHeight - subtract
    var canvas_middle = $('.span9')
    var canvas_right = $('#relapps')
    var canvas_left = $('#sections')
    canvas_middle.css('overflow', 'auto')
    canvas_middle.css('height', standard_height+'px')
    canvas_right.css('overflow', 'auto')
    canvas_right.css('height', standard_height+'px')
    canvas_left.css('overflow', 'auto')
    canvas_left.css('height', standard_height+'px')
    sections_init()
    $('.hidec')[0].click()
})
</script>
