{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = True }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<p style="background-color: #ff99aa; font-weight: bold;">After an update it might be necessary to delete browser data for shebanq or to refresh your browser after
having loaded the SHEBANQ site!</p>

<h1>{{=T('Plans')}}</h1>
<dl>
<dt>Multiple data versions</dt>
<dd>In the not so distant future we expect a major and stable new release of the ETCBC4 database, to be named ETCBC4s.
We keep the then old ETCBC4 data in SHEBANQ, so that existing queries can be shown exactly as they are now.
We let the ETCBC4 and ETCBC4s coexist in SHEBANQ, and users may execute their queries on both versions of the data.</dd>
<dt>https and a decent certificate</dt>
<dd>We will migrate SHEBANQ to a new server shortly and install a proper certificate for https.
Now SHEBANQ works with a self-signed certificate,
which is <i>not-done</i> on a production server. That's why you get those annoying security warnings when you first log in.
Once the certificate is in place, we let SHEBANQ work over https exclusively.
We intend to keep the present server for hosting SHEBANQ-beta, where we stage new changes before we apply them to the production SHEBANQ.
Up till now, using SHEBANQ is sometimes a rough ride for you, with a rush of updates and new annoying bugs every now and then.
By using a test server we hope to improve on that.</dd>
<dt>Sharing, Publishing, Freezing and Deleting queries</dt>
<dd>Now you cannot delete queries, yet it is a legitimate whish to erase your obsolete queries.
But what if they have been published? Currently you can unpublish queries, but what if somebody else maintains a link to such a query?
I am contemplating to split the notion of publishing into <i>sharing</i> and <i>freezing</i>.
Sharing is your device to let others see what you have done, without the commitment to keep that always available in the same form.
Freezing is an irrevocable act of making the query unchangeable. It then can become part of your scholarly record.
Nobody, not even you can change or delete that query, because it might have been cited in papers.</dd>
<dt>Searching within queries</dt>
<dd>Now the number of queries is in the hundreds, we need more ways to search them. At the moment there is not a full text search on the 
mql bodies of the queries. I plan to add this as an extra filter.</dd>
</dl>

<h1>{{=T('News')}}</h1>

<h2>2015-03-14</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Bugfix: \ in queries where doubled upon saving</dt>
<dd>Thanks to Reinoud Oosting for spotting this.</dd>
<dt>Provide updated chart and execution datetime after modifying a query.</dt>
<dd>After modifying a query, the chart and execution date-time were not refreshed.
A manual page refresh was needed.
Now it is fixed, and the updated information is shown immediately to you.
If you execute a query whose chart is open, that chart will be refreshed automatically after successful execution.</dd>
</dl>

<h2>2015-03-09</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>links to Bible Online Learner</dt>
<dl>People in Denmark have developed an online learning tool for Hebrew, based on the same ETCBC data as SHEBANQ: Bible Online Learner.
SHEBANQ now links from every chapter to that chapter in BOL.
BOL is listed on the
<a href="{{=URL('default','index')}}">home page</a> under <i>Companion tools</i>.</dl>
<dt>Better presentation of the SHEBANQ team</dt>
<dl>See the
<a href="{{=URL('default','sources')}}">sources page</a>.</dl>
<dt>small fixes</dt>
<dd>Development has been rapid lately. Code has to be weeded out, rough edges straightened, bugs fixed.</dd>
</dl>

<h2>2015-03-03</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Proudly carrying the DH2014 Award for Best Tool or Suite of Tools</dt>
<dd>
<a target="_blank" title="DH2014 Award"
    href="http://dhawards.org/dhawards2014/results/"><img
        src="{{=URL('static', 'images/DHAwards2014-tool.png')}}"
        width="200px"
/></a>
</dd>
<dt>Data view per verse</dt>
<dd>Loading the data view for a whole chapter is not very practical.
There is now also the option to load data per verse.
Just click the verse number.</dd>
<dt>Data elements</dt>
<dd>Among the data are now two transcriptions of the lexeme: vocalized and consonantal. See the legend.</dd>
</dl>

<h2>2015-02-26</h2>
<p>A major update of the SHEBANQ website with:</p>
<dl>
<dt>Improved query view</dt>
<dd>
<ul class="ldisc">
<li>Public and private queries integrated in one tree view, with lots of details, such as:
are queries up to date? how many queries per organization, project, person? etc.</li>
<li>Easy expanding and collapsing, easy search;</li>
Instructors can keep a reasonable eye on the collective queries of their students;</li>
<li>Queries can be created and edited from the same tree view;</li>
<li>Providing organization and project metadata is easier.</li>
</ul>
</dd>
<dt>Reorganized help, documentation and other information</dt>
<dt>Small annoyances have been fixed.</dt>
<dd>
<ul class="ldisc">
<li>The legend window had the habit of suddenly disappearing.</li>
<li>Dictionary pages scrolled to the top when clicking on words at the bottom.</li>
<li>Going back in the browser usually required several go back actions.</li>
</ul>
</dd>
<p>Here is an account of the reasons for this update:</p>
<ol class="ldec">
<li>it became increasingly difficult to locate queries of interest among the multitude of public queries</li>
<li>when creating new queries, it was too cumbersome to fill in the relevant organization and project.
Now you create every new query inside an organization and project, amidst a set of existing queries.
This helps to keep the queries organized.</li>
<li>The previous creation/editing functionality was implemented using standard components, and they suffered from several weaknesses:
<ol class="lalph">
<li>they did not function in every context within SHEBANQ where I needed them</li>
<li>it was impossible to provide a good layout for editing forms, a layout that did not consume excessive screen real estate</li>
<li>when a query gets executed or (un)published, some logic has to be carried out.
Everywhere where SHEBANQ allows you to alter these states, this logic should be carried out.
It was difficult to guarantee that when using the standard machinery.</li>
<li>a rather big change is at hand: queries that can be run on several versions of the data.
That means an even more non-standard way of creating/editing queries, and even more logic to be executed when dealing with status changes.</li>
</ol>
</li>
<li>So, I bit the bullet, and implemented a tree view of queries, organized by organization and project and user, and I completely reimplemented
creating and modifying queries, which introduced some unexpected bugs of which some of you have suffered. <b>My sincere apologies</b>.</li>
<li>Although organizations and projects and users seem to be neatly arranged in a simple hierarchy, this is in fact not so.
Some projects occur in multiple organizations.
In fact, there are no links between projects and organizations and users except the queries itself.
A query must link to a project and to an organization and to a user, and only when that happens,
you see that project under that organization and that user under that project.</li>
</ol>
</dl>

<h2>2015-02-16</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Embedded tweets</dt>
<dd>We use Twitter to communicate about SHEBANQ. You must have seen it on the right, by now.</dd>
<dt>Muting public queries</dt>
<dd>As the amount of public queries grows, the amount of queries that show up next to a chapter may become overwhelming.
From the new public queries page you can easily mute and un-mute queries.</dd>
<dt>Better overview of public queries</dt>
<dd>You can now hierarchically browse all public queries, and go from there to each individual query.
Searching public queries is now much easier.</dd>
<dt>Rich text in descriptions</dt>
<dd>Descriptions are important, and plain text formatting is just not enough for long descriptions.
It is now possible to use rich text for descriptions, by using
<a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">mark-down syntax</a>.
Moreover, from the public queries page, you can easily copy a mark-down hyperlink to that query, in order to paste it in
the description of an other query. Then your readers can jump to the query that you refer to.
</dd>
<dt>Better security</dt>
<dd>
<ul class="ldisc">
<li>Non-public queries are no longer visible to non-logged-in users and to users that have not created those queries.
The fact that it was possible (by manipulating the url parameters) was a bug.</li>
<li>SHEBANQ is now much more resistant against manipulation of the url parameters and the cookies.
No matter how contrived the url parameters or the contents of the cookies, SHEBANQ only looks at a definite set of parameters,
and parses their values rigorously. All illegal values are detected and translated to harmless default values.</li>
<li>And where parameters refer to non-existing objects, SHEBANQ detects it and responds gracefully.</li>
</ul>
</dd>
</dl>

<h2>2015-02-07</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Better charts</dt>
<dd>Now the cells in the charts no longer represent chapters but blocks of a fixed size: 500 words, except the last block of a book, which
usually has less words. Blocks cross chapter boundaries, but not book boundaries.
There are 929 chapters, and there are 853 blocks.
The charts now make more sense from a statistical perspective, but navigating to an individual chapter is sometimes less easy, because some blocks contain several chapters.</dd>
The color coding has been refined a little.
<dt>Previous and next controls</dt>
<dd>There are now controls for going to the next and previous page or chapter. So you can page forward and backward without calling up the <i>other pages</i> or 
<i>other chapters</i> dialog.</dd>
</dl>

<h2>2015-02-04</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Better viewing of query texts</dt>
<dd>The text of a query is where the tricks are played, so they should not be crammed in a small square.
Now they can be viewed on a big canvas in a resizable dialog box.
Endlich können wir die Querien von dem Oliver mal wirklich anschauen!</dd>
</dl>

<h2>2015-02-03</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>new, concise, graphical help</dt>
<dd>{{=A("Check it out now!", _href=URL('default','help'))}}</dd>
<dt>more data!</dt>
<dd>In data view, you can see now almost all of the ETCBC4 features. This has been added:
<ul class="ldisc">
<li>morpheme features:
<code>nme</code>,
<code>pfm</code>,
<code>prs</code>,
<code>uvf</code>,
<code>vbe</code>,
<code>vbs</code>;
</li>
<li>numbering features for
<code>phrase_atom</code>,
<code>clause_atom</code>,
<code>sentence_atom</code>;
</li>
<li>the <code>rela</code> feature has been extended to the object types
<code>phrase</code>,
<code>phrase_atom</code>,
<code>clause</code>;
</li>
<li>clause-atom features:
<code>code</code>,
<code>tab</code>;
</li>
<li>the feature with name <code>domain</code> has been renamed to <code>txt</code>, to match it with the 
name used in the ETCBC4.
There are two related features, <code>txt</code> and <code>domain</code>.
Before this change, SHEBANQ showed the <code>domain</code> features with the values of the <code>txt</code> feature.
Now we show the <code>txt</code> feature with the values of the same <code>txt</code> feature.
</ul>
</dd>
</dl>

<h2>2015-02-02</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Words: Hebrew and Aramaic lexicon</dt>
<dd>There is a new menu item <i>Words</i> from where you have access to the complete inventory of
Henrew and Aramaic words. Each entry is a clickable link, which brings you to an item page where you
can view all occurrences of that lexeme in context.</dd>
</dl>

<h2>2015-01-30</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>charts that visualize result sets</dt>
<dd>The result set of a query, and the set of occurrences of a word can be visualized on the fly by a clickable chart.
The chart gives you an overview of where in the bible the members of a result set are, and you can click on the chart
to the specific chapters where members of the chart show up. Check it out!</dd>
</dl>
<dl>

<h2>2015-01-29</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>improved responsiveness by refined caching of pages</dt>
<dd>Verse material and lists in the sidebar are being cached. If many users use the same page, regardless
of their view settings, the material that the server sends to the browser is always the same.
These chunks are now being cached.</dd>
</dl>

<h2>2015-01-23</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>better editing of queries</dt>
<dd>The window layout when editing queries makes better room for the query text.
The feedback after query execution arrives just below the execute button, and not in a message which must be clicked away.
The edit-execute cycle of query development is much smoother now.</dd>
<dt>extra data field for lexemes</dt>
<dd>By request of Oliver Glanz, a new data field for words has been added, containing the lexeme in its Hebrew, consonantal form, with disambiguation marks.
The contents of this field can be copied and pasted as value for the ``lex_utf8`` feature.
</dd>
</dl>

<h2>2015-01-21</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>better error reporting</dt>
<dd>Errors in executing queries are better reported now. The error message is shown under the Execute button/</dd>
<dt>performance improvements</dt>
<dd>Executing queries is faster, because the storing of query results has been implemented better.</dd>
<dt>mainainability improved</dt>
<dd>A major hoop has been removed concerning query execution. Before this change, a query was sent to a tomcat service,
that talked through Java bindings with Emdros. Now, Shebanq, which is written in Python, talks directly through Python
bindings with Emdros. This will help future additions of functionality greatly, and it makes Shebanq much easier to
install and maintain. It seems that the performance benefits for individual queries.
It remains to be seen how performance will keep up when doing many concurrent queries.</dd>
</dl>

<h2>2015-01-15</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>csv export</dt>
<dd>From the page that shows a list of query results of word occurrence results, you can download a customizable csv file of
the listed items. Each item occupies a row in which also the passage is indicated.
We hope this helps for getting data ready for statistical analysis.</dd>
</dl>

<h2>2014-12-19</h2>
<p>A major update of the SHEBANQ website, featuring</p>
<dl>
<dt>lexemes can be highlighted</dt>
<dd><ul class="ldisc">
<li>just by clicking on words in the text</li>
<li>they show up in the side list, like queries</li>
<li>all occurrences of each particular lexeme are shown on result pages, like query results</li>
</ul></dd>
<dt>more economic layout</dt>
<dd><ul class="ldisc">
<li>the full vertical space is for the main text</li>
<li>the list of queries in the sidebar as much more compact, outdated queries do not show up</li>
<li>more information about the query can be pulled open right in the sidebar</li>
<li>the selectors for chapters and result pages do not take up valuable space: you can click them away or move them around</li>
<li>editing and running queries happens in the same window, the trial and error process is easier</li>
</ul></dd>
<dt>better help</dt>
<dd><ul class="ldisc">
<li>a new user guide</li>
<li>links to documentation and data- and code sources in the menu bar</li>
</ul></dd>
<dt>better machinery</dt>
<dd><ul class="ldisc">
<li>less traffic between server and client</li>
<li>the highlighting process feels more responsive</li>
</ul></dd>
<dt>many bug fixes</dt>
<dd><ul class="ldisc">
<li>removal of quite a few unnecessary detours and duplicated actions</li>
</ul></dd>
</dl>

<h2>2014-07-29</h2>
SHEBANQ goes live, but it is a demonstrator, with open issues.
Currently we are aware of:
<ol class="text">
    <li>The query engine might cause exceptions that are not yet handled</li>
    <li>The rendering of the spacing between words is not completely correct, at least in Chrome.
        We have tried
        <a target="_blank" href="http://nbviewer.ipython.org/github/ETCBC/laf-fabric-nbs/blob/master/text/font-rendering.ipynb">very hard</a>
        to work around the issues, so that you can enjoy the otherwise beautiful typography even on your iPad.
        N.B.: to our great pleasure we obeserved that as of Safari 7.1 on OSX 10.9.5 there is no need for a work-around anymore.
</ol>

<h2>Earlier</h2>
<a target="_blank" href="http://annotation-paradigm.readthedocs.org/en/latest/queries-as-annotations/history.html">Queries-as-Annotations</a>

{{block right_sidebar}}
<a class="twitter-timeline" href="https://twitter.com/shebanq_" data-widget-id="572382814054932480">Tweets by @shebanq_</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{{end}}
