{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h1>{{=T('News')}}</h1>
<h2>2015-02-02</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Words: Hebrew and Aramaic lexicon</dt>
<dd>There is a new menu item <i>Words</i> from where you have access to the complete inventory of
Henrew and Aramaic words. Each entry is a clickable link, which brings you to an item page where you
can view all occurrences of that lexeme in context.</dd>
</dl>
<h2>2015-01-30</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>charts that visualize result sets</dt>
<dd>The result set of a query, and the set of occurrences of a word can be visualized on the fly by a clickable chart.
The chart gives you an overview of where in the bible the members of a result set are, and you can click on the chart
to the specific chapters where members of the chart show up. Check it out!</dd>
</dl>
<h2>2015-01-23</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<h2>2015-01-29</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>improved responsiveness by refined caching of pages</dt>
<dd>Verse material and lists in the sidebar are being cached. If many users use the same page, regardless
of their view settings, the material that the server sends to the browser is always the same.
These chunks are now being cached.</dd>
</dl>
<h2>2015-01-23</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>better editing of queries</dt>
<dd>The window layout when editing queries makes better room for the query text.
The feedback after query execution arrives just below the execute button, and not in a message which must be clicked away.
The edit-execute cycle of query development is much smoother now.</dd>
<dt>extra data field for lexemes</dt>
<dd>By request of Oliver Glanz, a new data field for words has been added, containing the lexeme in its Hebrew, consonantal form, with disambiguation marks.
The contents of this field can be copied and pasted as value for the ``lex_utf8`` feature.
</dd>
</dl>
<h2>2015-01-21</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>better error reporting</dt>
<dd>Errors in executing queries are better reported now. The error message is shown under the Execute button/</dd>
<dt>performance improvements</dt>
<dd>Executing queries is faster, because the storing of query results has been implemented better.</dd>
<dt>mainainability improved</dt>
<dd>A major hoop has been removed concerning query execution. Before this change, a query was sent to a tomcat service,
that talked through Java bindings with Emdros. Now, Shebanq, which is written in Python, talks directly through Python
bindings with Emdros. This will help future additions of functionality greatly, and it makes Shebanq much easier to
install and maintain. It seems that the performance benefits for individual queries.
It remains to be seen how performance will keep up when doing many concurrent queries.</dd>
</dl>
<h2>2015-01-15</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>csv export</dt>
<dd>From the page that shows a list of query results of word occurrence results, you can download a customizable csv file of
the listed items. Each item occupies a row in which also the passage is indicated.
We hope this helps for getting data ready for statistical analysis.</dd>
</dl>
<h2>2014-12-19</h2>
<p>A major update of the SHEBANQ website, featuring</p>
<dl>
<dt>lexemes can be highlighted</dt>
<dd><ul>
<li>just by clicking on words in the text</li>
<li>they show up in the side list, like queries</li>
<li>all occurrences of each particular lexeme are shown on result pages, like query results</li>
</ul></dd>
<dt>more economic layout</dt>
<dd><ul>
<li>the full vertical space is for the main text</li>
<li>the list of queries in the sidebar as much more compact, outdated queries do not show up</li>
<li>more information about the query can be pulled open right in the sidebar</li>
<li>the selectors for chapters and result pages do not take up valuable space: you can click them away or move them around</li>
<li>editing and running queries happens in the same window, the trial and error process is easier</li>
</ul></dd>
<dt>better help</dt>
<dd><ul>
<li>a new user guide</li>
<li>links to documentation and data- and code sources in the menu bar</li>
</ul></dd>
<dt>better machinery</dt>
<dd><ul>
<li>less traffic between server and client</li>
<li>the highlighting process feels more responsive</li>
</ul></dd>
<dt>many bug fixes</dt>
<dd><ul>
<li>removal of quite a few unnecessary detours and duplicated actions</li>
</ul></dd>
</dl>

<h2>2014-07-29</h2>
SHEBANQ goes live, but it is a demonstrator, with open issues.
Currently we are aware of:
<ol class="text">
    <li>The query engine might cause exceptions that are not yet handled</li>
    <li>The rendering of the spacing between words is not completely correct, at least in Chrome.
        We have tried
        <a target="_blank" href="http://nbviewer.ipython.org/github/ETCBC/laf-fabric-nbs/blob/master/text/font-rendering.ipynb">very hard</a>
        to work around the issues, so that you can enjoy the otherwise beautiful typography even on your iPad.
        N.B.: to our great pleasure we obeserved that as of Safari 7.1 on OSX 10.9.5 there is no need for a work-around anymore.
</ol>

<h2>Earlier</h2>
<a target="_blank" href="http://annotation-paradigm.readthedocs.org/en/latest/queries-as-annotations/history.html">Queries-as-Annotations</a>

{{block right_sidebar}}
    {{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn', _style='margin-top: 1em;')}}

    <h6>{{=T("Don't know what to do?")}}</h6>
    <ul class="text">
      <li>{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
      <li><a href="http://web2py.com">web2py.com</a></li>
      <li><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
    </ul>
{{end}}
