{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = True }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<p style="background-color: #ff99aa; font-weight: bold;">After an update it might be necessary to delete browser data for shebanq
or to refresh your browser after having loaded the SHEBANQ site!</p>

<div>
<h2>{{=T('Plans')}}</h2>
<dl>
<dt>Feature index</dt>
<dd>A tree-like index of objects and features that can be used in queries would be helpful for users when they are developing MQL queries.</dd>
<dt>Searching within queries</dt>
<dd>Now the number of queries is in the hundreds, we need more ways to search them. At the moment there is not a full text search on the 
mql bodies of the queries. I plan to add this as an extra filter.</dd>
<dt>Structured query results</dt>
<dd>At the moment, SHEBANQ transforms the results of a query into a plain set of words. But query results have an internal structure.
It would be nice to preserve that structure, and to make use of it.</dd>
<dt>Migration to KNAW server</dt>
<dd>We will migrate SHEBANQ from the current (commercial) Leaseweb server to a new KNAW/DANS (institutional) server.
We intend to keep the Leaseweb server for hosting SHEBANQ-beta, where we stage new changes before we apply them to the production SHEBANQ.
Up till now, using SHEBANQ is sometimes a rough ride for you, with a rush of updates and new annoying bugs every now and then.
By using a test server we hope to improve on that.</dd>
<dt>Deleting queries</dt>
<dd>Now you cannot delete queries, yet it is a legitimate whish to erase your obsolete queries.
But what if they have been published? Currently you can unpublish queries, but what if somebody else maintains a link to such a query?</dd>
</dl>
</div>

<h1>{{=T('News')}}</h1>

<div>
<h2>2016-03-01</h2>
<dl>
<dt>Multilingual Bible book names</dt>
<dd><p>You can see the names of the Bible books in a language of your choice.</p>
</dd>
</dl>
</div>

<div>
<h2>2016-02-26</h2>
<dl>
<dt>ETCBC methods reference</dt>
<dd><p>We started compiling a list of references to the ETCBC methods of text encoding and analysis.
See the
{{=A(T("methods overview page"), _href=URL('methods', 'index'))}}
and especially the
{{=A(T("references"), _href=URL('methods', 'references'))}}.
</p>
<p>Those references that are Open Access in some form, have a download link and a summary.
All other references are dull and grey.</p>
</dd>
</dl>
</div>

<div>
<h2>2016-02-14</h2>
<dl>
<dt>RSS Feed</dt>
<dd><p>All shared queries are available through an <i>RSS Atom</i> feed.
The buttons to subscribe to this feed are on the <a href="{{=URL('hebrew', 'queries')}}">queries page</a>, or you can subscribe directly from the buttons here:
{{feedurl = URL('feed', 'atom', host=True, extension='')}}
<a href="{{=feedurl}}" target="_blank" class="ctrl fa fa-rss" title="rss-atom feed for shared queries">plain subscription</a>
<a href="http://cloud.feedly.com/#subscription%2Ffeed%2F{{=feedurl.replace('/', '%2F').replace(':', '%3A')}}"
   title="follow queries in feedly"
   target="blank"><img id="feedlyFollow" src="{{=URL('static', 'images/feedly-follow-logo-green_2x.png')}}" alt="follow queries in feedly" width="28" height="28">subscription through feedly</a>.
</p>
</dd>
<dt>Images</dt>
<dd><p>You can include images in your query descriptions and in your note texts.</p>
<p>Example of an annotation: a
<a href="https://shebanq.ancient-data.org/hebrew/text?book=Jesaia&chapter=56&verse=7&version=4b&mr=m&qw=q&tp=txt_tb1&tr=hb&wget=v&qget=v&nget=v">mural on a synagogue of Isaiah 56:7</a>
and a query:
<a href="https://shebanq.ancient-data.org/hebrew/query?version=4b&id=915">he-she mismatches</a>.</p>
<p>This is a great opportunity to add visual material to your work. 
Especially now that your shared queries go into news feeds, you can enhance the communication of your results with well chosen images.
Think of charts or graphs that illustrate the research you are doing, or pieces of facsimiles of relevant passages, or even photos of Hebrew texts on synagogues.</p>
<p><b>Here is how you include images in your texts:</b></p>
<p><pre>[caption](image http://url_of_image.org)</pre></p>
<p>and then the image pointed to will be shown in your description or in your note.<p>
<p>Remember that you can use the markdown language to make your texts prettier. In general, you add links by</p>
<p><pre>[link text](http://link.address.org)</pre></p>
<p>Based on this syntax, SHEBANQ offers
you some extensions to easily refer to other things on shebanq, such as images, chapters, verses, queries, words, features and tools.</p>
<p>See the
<a href="{{=URL('default', 'help')}}#editing_notes_advanced">manual page on editing notes</a>
for all types of links that you can use. These all work both in notes and query descriptions.</p>
<p><b>N.B. links tend to break!</b> Take care to choose reliable, persistent links for your images. Even so, do not count on them to be always available.</p>
<p><b>Hint: Use Github to store images.</b> You can make a github repository yourself, or you can participate in an ETCBC github repo.</p>
</dd>
</dl>
</div>

<div>
<h2>2016-02-09</h2>
<dl>
<dt>Latest queries</dt>
<dd><p>There is a little box with the 50 latest (shared) queries that have been executed on SHEBANQ.
You find them on the
{{=A(T("queries page"), _href=URL('hebrew', 'queries'))}}.
</p>
</dd>
</dl>
</div>

<div>
<h2>2016-02-03</h2>
<dl>
<dt>Limit on wasteful queries</dt>
<dd><p>It is quite easy to craft queries that bring SHEBANQ to a grinding halt.
The user has to wait indefinitely and SHEBANQ does not talk back.
Usually, these queries are mistakes, and should be formulated differently.
So we have taken some measures that reduce the work that SHEBANQ is devoting to such queries.
SHEBANQ refuses to collect results of queries if they have more than 500,000 results.
The user will get a warning plus a suggestion how to remedy the query.
As an illustration, see this query:
{{=A(T("Too-many"), _href=URL('hebrew', 'query', vars=dict(id=1119, page=1)))}}.
The
{{=A(T("Help/MQL Quick Reference Guide"), _href=URL('static', 'docs/MQL-QuickRef.pdf'))}}
now contains a caution for this phenomenon.
</p>
</dd>
</dl>
</div>

<div>
<h2>2016-02-01</h2>
<dl>
<dt>R and Pandas exports</dt>
<dd><p>The complete data has been exported as a tab-delimited text file, ready to be imported in R and Pandas.
These imports have been done, and saved in compact files, native to R and Pandas, respectively.
These native files ara available on github.
See 
<a target="_blank" href="{{=URL('tools', 'index', vars=dict(goto='r'))}}">shebanq tool r</a>.
</p>
</dd>
</dl>
</div>

<div>
<h2>2016-01-27</h2>
<dl>
<dt>New data features</dt>
<dd><p>Four new features have been added. They are word statistics, namely frequency and rank.
The frequency gives the number of occurrences, the rank gives the number of more frequent items.
See the feature doc under Help and go to one of the features
<code>freq_lex freq_occ rank_lex rank_occ</code>.
The features are fully integrated in SHEBANQ: you can view them in data view, and you can use them in MQL queries.
They belong to the extra annotation package <i>lexicon</i>, which you can load into LAF-Fabric as well.
</p>
</dd>
</dl>
</div>

<div>
<h2>2016-01-18</h2>
<dl>
<dt>Email verification</dt>
<dd><p>Up till now, SHEBANQ could not send email.
So a password reset was not possible (automatically), and no email verification was performed upon registration of new users.
To day all that has been fixed.
</p>
</dd>
</dl>
</div>

<div>
<h2>2015-12-03</h2>
<dl>
<dt>REST API</dt>
<dd><p>There was a limited API, Bible Online Learner was already using it for fetching queries.
I have extended the API so that you can fetch individual verses.
You can consult the <a href="{{=URL('default', 'restapi')}}">API documentation</a> via the Help menu.
</p>
</dd>
</dl>
</div>

<div>
<h2>2015-11-05</h2>
<dl>
<dt>Production server</dt>
<dd><p>We have switched servers. SHEBANQ now runs on a server of the KNAW (Royal Netherlands Academy of Arts and Sciences.
We keep the original server as a development server.
Due to latency in the DNS system (the system that maps the name 'shebanq.ancient-data.org' to a specific server, it might be the case that you
end up at the development server.</p>
<p class="navbar-devel">You can recognize the development server: the navigation bar is colored, like this paragraph, and the name of the
server appears between the shebanq icon and the word SHEBANQ.</p>
<p>If you find yourself on the development server, 
it might help to do a refresh of the page, or to restart the browser.
If that does not help, the issue will resolve itself in a day.
</p>
</dd>
</dl>
</div>

<div>
<h2>2015-11-02</h2>
<dl>
<dt>Data update of etcbc4b</dt>
<dd><p>Version <b>4b</b> has been designated at a moving version untill the stable version <b>4s</b> arrives.
We change our plans, since we cannot yet predict when 4s will arrive and we need a good version of the data now.</p> 
<p>Today version 4b has been updated with the most recent version of the etcbc data. It is still called 4b, but the data is new.</p>
<p style="background-color: #ffff44; font-weight: bold;">Please re-execute all queries that you have run on data version 4b before.</p>
<p>This data is complete in the sense that all features for all objects have been filled in.
There are no holes. However, checking is not yet complete. So we expect some feature values to be modified.</p>
<p>Version 4b will not be overwritten again. Moreover, soon we shall archive the data of version 4b as it is now, at DANS.
That means that you can publish work based on version 4b, it will remain available.
Later, when 4s arrives, we will have three versions in the system: 4, 4b and 4s.</p>
</dd>
</dl>
</div>

<div>
<h2>2015-10-18</h2>
<dl>
<dt>Emdros update</dt>
<dd><p>The query engine that executes your SHEBANQ queries, has been updated from version 3.4.0 to version 3.4.1.pre12.
There was a bug in boolean combinations of feature conditions.
If you have used <code>AND</code> and <code>OR</code> and <code>NOT</code> in your queries, it might be the case that the outcome is now different.
It will do no harm to re-run the query, if it has not been published.
If the query in question has been published, you might want to create a new query to try it out again.
If the number of results is the same as the previous run, then probably you have not been affected by this bug.<p>
<p>The metadata of the queries show the version of the query engine that has been used to obtain the results.
If that version is not the newest version, the version will be highlighted.</p> 
</dd>
<dt>More features</dt>
<dd><ul class="ldisc">
<li>SHEBANQ showed more data than you could query on. There were several features, such as
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/phono.html')}}">phono</a>
that SHEBANQ displayed for you, but you could not query it. Now you can.
See for example the query
{{=A(T("qamets qatan"), _href=URL('hebrew', 'query', vars=dict(id=968, page=1)))}}.</li>
<li>There are also features that SHEBANQ did not show at all, but that were present in LAF-Fabric.
Some of them,
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/pargr.html')}}">pargr</a>
and
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/nametype.html')}}">nametype</a>
have been added to the data view of SHEBANQ, and you can query on them too.
</li>
<li>There is also a feature that is shown differently in SHEBANQ than it is in the database.
This is
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/g_word_utf8.html')}}">g_word_utf8</a>,
which in SHEBANQ normally shows the full-pointed Hebrew word.
If the ketiv is different from the qere, this feature contains the ketiv, but SHEBANQ shows the full-pointed qere.
This qere was not in the database, but now it is, and you can query it by means of
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/g_qere_utf8.html')}}">g_qere_utf8</a>,
and the after-word material is
then in
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/qtrailer_utf8.html')}}">qtrailer_utf8</a>.
</li> 
<li>A list of illustrative queries that show how you can use these features is included in the 
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/0_hints.html')}}">feature documentation</a>.
</li>
</ul>
</dd>
<dt>Internal links in query descriptions</dt>
<dd>In notes, you could already enter smart markdown links to bible passages, tools and other pages within shebanq.
<ul>
<li>Now you can do exactly the same in query descriptions;</li>
<li>There is an extra link type <code>feature:</code> by which you can refer to feature documentation;</li>
<li>See the
<a target="_blank" href="{{=URL('default', 'help')}}#editing_notes_advanced">help on notes</a>.
</li>
</ul>
</dd>
<dt>Phonetic transcriptions</dt>
<dd>Minor improvements, especially in the qamets qatan/gadol area.
<b>I welcome corrections, preferably as a note that you contribute to SHEBANQ below the offending transcription. 
Please give it the keyword <i>phono</i>.</b>
</dd>
</dl>
</div>

<div>
<h2>2015-10-06</h2>
<dl>
<dt>Documentation</dt>
<dd>The feature documentation has been moved from readthedocs to within SHEBANQ.
It still is a separate git repository within ETCBC, but the html build of the rst documentation is copied into the static directory of shebanq.
</dd>
<dt>Reorganisation</dt>
<dd>The notebooks underlying the <i>tools</i> page and their supplementary data have been moved to a separate github repository,
<i>shebanq-tools</i>, which is included in shebanq as a git submodule.</dd>
</dl>
</div>

<div>
<h2>2015-10-02</h2>
<dl>
<dt>Ketiv-Qere</dt>
<dd>
Up till now, SHEBANQ only showed the unvocalized <i>ketiv</i> at places where there is a divergence between qere and ketiv.
Now the vocalized <i>qere</i> is shown in the text, preceded by a masora circle.
If you want to know what the ketiv is, click on the verse number to go to data view, and the ketiv will is given in the
block of data that corresponds with the word in question.
See for example
<a href="{{=URL('hebrew','text', vars=dict(book='Genesis', chapter='12', verse='8', tp='txt_p'))}}">Genesis 12:8</a>.
<dt>Phonetic transcriptions</dt>
<dd>Quite a few improvements.
Perfection is hard, it might not be attainable here.

<b>Yet I welcome corrections, preferably as a note that you contribute to SHEBANQ below the offending transcription. 
Please give it the keyword <i>phono</i>.</b>

Currently I have a test set of over 2000 examples, which is a great help when making changes to the horribly intricate set
of rules that is being applied!
</dd>
</dl>
</div>

<div>
<h2>2015-09-25</h2>
<dl>
<dt>Phonetic transcriptions</dt>
<dd>You can now choose whether you want to see the Hebrew text in Hebrew script or in phonetic transcription.
The phonetic transcription that SHEBANQ shows is the result of a freshly made, exquisite set of rules.
Yet I am sure that there will be mistakes.
If you stumble on mistakes, you can use SHEBANQ itself write them down.
Just go to notes view, and make a note.
Please give those notes the keyword <code>phono</code>, then I can collect them.
For more information, see the <i>Tools</i> page in SHEBANQ:
<a href="{{=URL('tools','index', vars=dict(goto='phono'))}}">Phonetic transcription</a>.
</dd>
</dl>
</div>

<div>
<h2>2015-09-22</h2>
<dl>
<dt>Verbal System in Poetry</dt>
<dd>Yesterday Dr. Gino Kalkman defended his Ph.D thesis <i>Verbal Forms in Biblical Hebrew Poetry: Poetical Freedom or Linguistic System?</i>
at the VU University Amsterdam.
Today, his companion notebooks have been added to SHEBANQ.
See the <i>Tools</i> page in SHEBANQ:
<a href="{{=URL('tools','index', vars=dict(goto='verbsystem'))}}">Verbal System in Poetry</a>.
</dd>
</dl>
</div>

<div>
<h2>2015-09-20</h2>
<dl>
<dt>Layout improvements</dt>
<dd>Small fixes in the layout: SHEBANQ takes better advantage of wide desktop screens, and the dialog for choosing a book now displays
the books in one column, which makes easier selecting.</dd>
</dl>
</div>

<div>
<h2>2015-07-28</h2>
<dl>
<dt>Verse references</dt>
<dd>It is now possible to refer to individual verses.
SHEBANQ still displays whole chapters. If a verse number is specified, SHEBANQ will scroll to that verse.</dd>
<dt>Note editing</dt>
<dd>If you are logged in, it is now possible to preview your notes as others would see it.
This is done be switching between edit mode and preview mode.</dd>
<dt>References in notes</dt>
<dd><p>Besides general markdown shaped hyperlinks, you can now also put internal links in your notes:
<ul class="ldisc">
    <li><i>chapter references</i><code>[see also Ex 5](Exodus 5)</code></li>
    <li><i>verse references</i><code>[see also Ex 5:3](Exodus 5:3)</code></li>
    <li><i>shebanq references</i><code>[see query Aramaic](shebanq:?id=515&amp;page=1&amp;version=4&amp;mr=r&amp;qw=q&amp;tp=txt_tb1)</code> 
    You can get these links from the <i>Cite</i> drawer in the lower left corner (use the note link <span class="fa fw">&#xf02e;</span>)</li>
    <li><i>tool references</i><code>[see crossref](tool=parallel)</code> </li>
    <li><i>tool results references</i><code>[see crossref](tool:parallel/files/chapters/Genesis_5_vs_Genesis_9.html)</code></li> 
</ul>
</dd>
<dt>Improved cross references</dt>
<dd>There are now direct links to chapter diffs and cliques, straight from the crossref notes in SHEBANQ.
It is now possibly to click around through all possible variants.</dd>
</dl>
</div>

<div>
<h2>2015-07-24</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Tools</dt>
<dd>There is a new menu item and page for a collection of tools, which are LAF-Fabric notebooks that accomplish something useful.
See for example the tool for finding
<a href="{{=URL('tools','index', vars=dict(goto='parallel'))}}">Parallel Passages</a>
or categorizing
<a href="{{=URL('tools','index', vars=dict(goto='valence'))}}">Verbal Valence</a>.
</p>
<dt>Cross references</dt>
<dd>The outcome of the 
<a href="{{=URL('tools','index', vars=dict(goto='parallel'))}}">Parallel Passages</a>.
has been imported in SHEBANQ as a note set:
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='Mnxjcm9zc3JlZg__', tp='txt_tb1', nget='v'))}}">crossref</a>.</p>
</dd>
<dt>Home page</dt>
<dd>The home page was accumulating too much text to see at once.
It has been divided in sections.</dd>
</dl>
</div>

<div>
<h2>2015-07-13</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Notes</dt>
<dd>When you call up notes, it is indicated how many muted notes are not shown, and if no notes whatsoever belong to a verse, it is indicated.</dd>
<dt>Small fixes</dt>
<dd>The box in which the tree of notes is displayed, did not scroll.</dd>
</dl>
</div>

<div>
<h2>2015-07-02</h2>
<p>A tiny update of the SHEBANQ website with:</p>
<dl>
<dt>Pretty hyperlinks in notes</dt>
<dd><p>You can now enter markdown shaped hyperlinks in your notes. In non-edit mode people will see for example this markdown link
<code>[shebanq logo](http://arxiv.org/abs/1501.01866)</code> as the clickable link
<a target="_blank" href="http://arxiv.org/abs/1501.01866">shebanq logo</a>.</p></dd>
<dt>Show notes automatically</dt>
<dd><p>If a page of text is opened in notes view, notes can be fetched automatically.<p></dd>
</dl>
</div>

<div>
<h2>2015-06-19</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Verbal valence</dt>
<dd><p>The meaning of a verb is strongly dependent on the patterns of constituents in the clause. Janet Dyk and Reinoud Oosting and Oliver Glanz
are researching the the nature of this dependency. Results of this study will be incorporated into SHEBANQ.
Think of a context-dependent refinement of the glosses for verbs, including the reasons why a particular gloss has been suggested in a particular context.<p>
<p>This is really work in progress.
That is why we do not incorporate valence data into the ETCBC database yet, but we do make our results available as <b>notes</b>.
These notes areactually generated with the help of LAF-Fabric.
See the <a target="_blank" href="{{=URL('tools', 'index', vars=dict(goto='valence'))}}">valence tool</a>, and see the
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='Mnx2YWxlbmNl', tp='txt_tb1', nget='v'))}}">valence</a> note set to inspect the ongoing work.</p>
</dd>
<dt>Modified notes view</dt>
<dd><p>The tabbed views named after Nicolai, Oliver and Dirk, now have names that are more indicative to what you see:
<i>notes</i>, <i>syntax</i>, and <i>abstact</i>.</p>
<p>Notes view has been upgraded: the numbers of the phrases are also shown. So you can refer to them in your notes.</p>
<p>Muting now also works in notes view, so you can focus on the notes sets that you are working with.</p> 
<p>These improvements support the usage of notes for the work on verbal valence.</p>
</dl>
</div>

<div>
<h2>2015-06-16</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Small data fix</dt>
<dd><p>In <i>data view</i>, the numbering of <i>subphrases</i> was not correct. It occurred where <i>half_verse</i>
boundaries cut through phrases.</p>
<p>Note that the subphrase numbers as shown in SHEBANQ are not part of the ETCBC database.
I have put them in for SHEBANQ in order to show where the subphrases are.
Subphrases may overlap, each word carries the numbers of all subphrases it belongs to.
Subphrase-numbering is relative to the container phrase.
See the
<a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/number.html')}}">feature documentation</a>.</p></dd>
</dl>
</div>

<div>
<h2>2015-06-15</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Small fixes</dt>
<dd>Checked all javascript code for undeclared global variables. They may cause an error in Internet Explorer.</dd>
</dl>
</div>

<div>
<h2>2015-06-04</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Simplified new query process</dt>
<dd>There is a single plus button to create a new query, give it a name, and associate it with an organization and a project, either existing or new.
After saving, you can go straight to the new query in edit view, and start coding your MQL, write a description, and run it.</dd>
<dt>Proper HTTPS</dt>
<dd><p>The server on which SHEBANQ runs now has a proper certificate for secure traffic over <i>https</i>, issued by Terena.
From now on, the site uses https throughout.<p>
<ul class="ldisc">
<li>New users will no longer get a disturbing security warning, caused by the self-signed certificate that SHEBANQ used until now;</li>
<li>Existing users will no longer experiences sudden logouts after having followed a non-https link;</li>
<li>Old http-links, used for citation and sharing, still work; users that use them are redirected to the corresponding https-link automatically;</li>
<li>New citation/share links use https.</li>
</ul>
</dd>
<dt>Email addresses more private</dt>
<dd><p>Up till now, everybody could view an email link to authors of shared queries.
From now on, only registered users can view them.</p>
<p>We assume, until it is proven otherwise, that the registered users of SHEBANQ form a research and study community that observe civil codes of conduct.</p></dd>
<dt>Small fixes</dt>
<dd>If a user was not logged in, the edit controls for notes were still visible. They even worked. Not anymore.</dd>
</dl>
</div>

<div>
<h2>2015-05-28</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Upload manual annotations as csv file</dt>
<dd><p>Think of this scenario: in LAF-Fabric you run an algorithm that has to decide whether complements of NTN are locative or an indirect object.
There are more than 1000 relevant cases, and you want to inspect the outcomes of the algorithm, especially the uncertain cases.
Then you can use LAF-Fabric to export the outcomes as a well-formatted csv file and upload this file into SHEBANQ.
See the
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='MnxudG4tbG9jYQ__', tp='txt_tb1', nget='v'))}}">ntn-loca</a> note set as an example.</p>
<p class="note">This feature can only be used if you have been approved as an uploader (contact <a href="mailto:shebanq@ancient-data.org">shebanq@ancient-data.org</a>).</p>
</dd>
<dt>Small fixes and optimizations</dt>
<dd>These have to do with the manual note machinery. 
It had to be adapted slightly to support bulk uploads of notes.
</dd>
</dl>
</div>

<div>
<h2>2015-05-21</h2>
<p>A major update of the SHEBANQ website with:</p>
<dl>
<dt>Manual annotations</dt>
<dd>You can save your comments to clauses in the Nicolai view as free text annotations.
You can share and publish them your annotations.
These annotations can be given a keyword.
SHEBANQ will provide an overview of shared manual annotation sets per user and keyword.
You can see on a chart where they are, and they can be downloaded as csv.</dd>
<dt>Added the <code>pdp</code> feature in data view</dt>
<dd>The database contains the feature <code>sp</code> (part of speech), but there is also a <i>phrase dependent</i> part of speech.
Now this <code>pdp</code> feature has been added to the data view.</dd>
<dt>Added the query engine version to the query metadata</dt>
<dd>When a query is executed by the query engine, the name (Emdros) and version of that engine are remembered in the query metadata.
This helps to exactly reproduce query results later on.</dd>
</dl>
</div>

<div>
<h2>2015-05-04</h2>
<p>A data update of the SHEBANQ website with:</p>
<dl>
<dt>An update of the data in version 4b</dt>
<dd>Remember that 4b is a moving version, whose data moves from version 4 to a future stable version 4s.
You can publish from this version, but it is not recommended, since the data will change, as it is changed today.
See the also <a href="{{=URL('default','sources')}}">sources page</a></dd>
</dl>
</div>

<div>
<h2>2015-04-22</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Improvements in Nicolai tabbed view</dt>
<dd>You can now add inline comments. They cannot be <i>saved</i> to SHEBANQ, but you can copy and paste pages with comments to other applications.</dd>
</dl>
</div>

<div>
<h2>2015-04-21</h2>
<p>A fair update of the SHEBANQ website with:</p>
<dl>
<dt>Tabbed views and visualisations: experimental</dt>
<dd><p>Our key users have proposed alternative ways for displaying the texts.
We provide a text view, lined up per <i>clause_atom</i>, with a layout that shows the indentation and text structure a bit more.
There are several layouts, which will evolve further. Currently we have one in the style of Nicolai Winther-Nielsen, and one in the style of Oliver Glanz.
See the <i>tab</i> control at the top right of the window.
See these help pages:
<a href="{{=URL('default','help')}}#nicolai_style">Nicolai style</a>,
<a href="{{=URL('default','help')}}#oliver_style">Oliver style</a>.
</p>
<p>Besides the tabbed views, there is also an iconic visualization of the text, which shows a very abstract rendering of the text.
See <a href="{{=URL('hebrew','text', vars=dict(version='4',tp='txt_tb3'))}}">Dirk's visualization</a>.
You can still highlight queries and words and call up the underlying data from this view.
So you can switch back and forth between <i>distant</i> and <i>close</i> reading.</p>
<p>If you have comments or suggestions, consider tweeting them to @shebanq_. You can use the buttons on this page.
If you have a proposal for yet another view on the text, then your suggestion is very welcome!</p>
</dd>
<dt>Cite page content</dt>
<dd><p>It is now easy to copy and paste a SHEBANQ page with Hebrew material to an other application.
This is handy when you are preparing hand-outs for classes.
Once a SHEBANQ page is pasted in your application, you can edit the content, and put your own notes in.
The content you copy always contains a link to the live SHEBANQ page from where it has been copied.</p>
<ul class="ldisc">
<li>For best results, ensure that you have a good Hebrew font installed on your system, e.g. Ezra SIL or SBL Hebrew.</li>
<li>Also install <a href="http://fontawesome.io">FontAwesome</a> on your system, this contains the special symbols.
After downloading, double-click the file <code>fonts/FontAwesome.otf</code> to install the font on your system.</li>
<li>Not all browsers copy the HTML in the right way to the clipboard:</li>
<li>Chrome is the best, then Safari, and Firefox totally misses the point. I do not know about Internet Explorer.</li>
<li>Not all applications treat the pasted HTML equally well:</li>
<li>Good results: Evernote, Apple Mail (both also on iPad)</li>
<li>Reasonable results: Apple Pages, Apple TextEdit, OpenOffice</li>
<li>Bad results: Microsoft Word, except when pasted from Chrome, then it looks really good, except for the fact that FontAwesome is not picked up by Word!</li>
</ul>
</p>
</dd>
<dt>Words across versions</dt>
<dd>The behaviour of word highlighting when switching versions was confusing.
This was caused by the fact that the identifiers of words were not consistent across data versions.
Now I have chosen an identifier scheme that is as consistent as possible across versions.
That means that the color you assign to a word in one version will also be used for the same word in another version of the data.</dd>
<dt>Small fixes in highlighting.</dt>
</dl>
</div>

<div>
<h2>2015-04-09</h2>
<p>A <b>major</b> update of the SHEBANQ website with:</p>
<dl>
<dt>Multiple data versions</dt>
<dd><p>In the not so distant future we expect a major and stable new release of the ETCBC4 database, to be named ETCBC4s.
We keep the then old ETCBC4 data in SHEBANQ, so that existing queries can be shown exactly as they are now.
We let the ETCBC4 and ETCBC4s coexist in SHEBANQ, and users may execute their queries on both versions of the data.
We also offer an intermediate version, ETCBC4b, that moves from version 4 to 4s over time.
Multiple versions have a big impact on how queries are handled. In short, each query has a version independent part and a version dependent part.
For each version of the data, you can write a separate MQL instruction.
See these help pages:
<a href="{{=URL('default','help')}}#more_about_data">More about Data</a>,
<a href="{{=URL('default','help')}}#versions_and_queries">Versions and Queries</a>,
<a href="{{=URL('default','help')}}#single_query_view">Single Query View</a>.
</p>
</dd>
<dt>Sharing, Freezing, Publishing and Citing queries</dt>
<dd>
The notion of publishing query has been split into <i>sharing</i> and <i>freezing</i>.
Sharing is your device to let others see what you have done, without the commitment to keep that always available in the same form.
What was publishing in the old version, is now sharing.
Publishing in the new version is makes the query unchangeable. It then can become part of your scholarly record.
Nobody, not even you can change or delete that query, because it might have been cited in papers.
See these help pages:
<a href="{{=URL('default','help')}}#sharing_versus_publishing">Sharing versus Publishing</a>
<a href="{{=URL('default','help')}}#citation">Citation</a>
</dd>
<dt>Number of results.</dt>
<dd>SHEBANQ shows the number of results for each query.</dd>
<dt>Help pages</dt>
<dd>The help pages have been adapted to the current version.</dd>
<dt>Bug fixes and small enhancements.</dt>
<dd>Bugs have been fixed, but due to the extent of this major update, no doubt new bugs have been introduced ... 
<ul class="ldisc">
<li>The tree with queries is now neatly sorted on the names of organizations, projects, users and queries.</li>
<li>It is possible to have multiple charts open at the same time, which eases comparisons between versions of the data.</li>
<li>Some cases where the csv production lead to an internal error have been fixed.</li>
<li>There is no longer a data view for whole pages; this turned out to be slow and jerky in the browser.
Instead, you can quickly get the underlying data per verse, just click the verse number.</li>
<li>The series of steps to create a new query has been explained better.</li>
</ul>
</dd>
<dt>Migration</dt>
<dd>
<p style="background-color: #ff99aa">Your queries have been migrated to the new data model.</p>
<ul class="ldisc">
<li>All queries now have a version corresponding to ETCBC4.</li>
<li>Queries that were <i>published</i> in the old version are now <i>shared</i>.</li>
<li>No query has been set to <i>published</i> now, you have to do that yourself, if you wish.</li>
<li>Shared queries that had <i>up-to-date</i> results have been re-run off line in order to determine the number of results,
which has been added to the corresponding query execution record.</li>
<li>Such queries have also a copy of the original MQL in a new execution record for ETCBC4b. That makes it very easy for you to see how
your existing queries do on the new data version.</li>
<li>In all order cases: if you want to run your query on an other version, you can just copy and paste the MQL between versions.</li>
</ul>
</dd>
</dl>
</div>

<div>
<h2>2015-03-25</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Bugfix: in Internet Explorer the dialogs for selecting books and chapters did not function.</dt>
<dd>Thanks to Reinoud Oosting and Marjanne Kaajan for spotting this.
In fact, this was not IE's fault, but mine: in the Javascript code for SHEBANQ there were a number of variables floating around
that had not been declared with <i>var</i>.
Still, I do not promise that SHEBANQ works well with IE, but at the moment I do not see IE-specific bugs.</dd>
</dl>
</div>

<div>
<h2>2015-03-14</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Bugfix: \ in queries where doubled upon saving</dt>
<dd>Thanks to Reinoud Oosting for spotting this.</dd>
<dt>Provide updated chart and execution datetime after modifying a query.</dt>
<dd>After modifying a query, the chart and execution date-time were not refreshed.
A manual page refresh was needed.
Now it is fixed, and the updated information is shown immediately to you.
If you execute a query whose chart is open, that chart will be refreshed automatically after successful execution.</dd>
</dl>
</div>

<div>
<h2>2015-03-09</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>links to Bible Online Learner</dt>
<dd>People in Denmark have developed an online learning tool for Hebrew, based on the same ETCBC data as SHEBANQ: Bible Online Learner.
SHEBANQ now links from every chapter to that chapter in BOL.
BOL is listed on the
<a href="{{=URL('default','index')}}">home page</a> under <i>Companion tools</i>.</dd>
<dt>Better presentation of the SHEBANQ team</dt>
<dd>See the
<a href="{{=URL('default','sources')}}">sources page</a>.</dd>
<dt>small fixes</dt>
<dd>Development has been rapid lately. Code has to be weeded out, rough edges straightened, bugs fixed.</dd>
</dl>
</div>

<div>
<h2>2015-03-03</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Proudly carrying the DH2014 Award for Best Tool or Suite of Tools</dt>
<dd>
<a target="_blank" title="DH2014 Award"
    href="http://dhawards.org/dhawards2014/results/"><img
        src="{{=URL('static', 'images/DHAwards2014-tool.png')}}"
        width="200px"
/></a>
</dd>
<dt>Data view per verse</dt>
<dd>Loading the data view for a whole chapter is not very practical.
There is now also the option to load data per verse.
Just click the verse number.</dd>
<dt>Data elements</dt>
<dd>Among the data are now two transcriptions of the lexeme: vocalized and consonantal. See the legend.</dd>
</dl>
</div>

<div>
<h2>2015-02-26</h2>
<p>A major update of the SHEBANQ website with:</p>
<dl>
<dt>Improved query view</dt>
<dd>
<ul class="ldisc">
<li>Public and private queries integrated in one tree view, with lots of details, such as:
are queries up to date? how many queries per organization, project, person? etc.</li>
<li>Easy expanding and collapsing, easy search;</li>
Instructors can keep a reasonable eye on the collective queries of their students;</li>
<li>Queries can be created and edited from the same tree view;</li>
<li>Providing organization and project metadata is easier.</li>
</ul>
</dd>
<dt>Reorganized help, documentation and other information</dt>
<dt>Small annoyances have been fixed.</dt>
<dd>
<ul class="ldisc">
<li>The legend window had the habit of suddenly disappearing.</li>
<li>Dictionary pages scrolled to the top when clicking on words at the bottom.</li>
<li>Going back in the browser usually required several go back actions.</li>
</ul>
</dd>
<dt>Here is an account of the reasons for this update:</dt>
<dd>
<ol class="ldec">
<li>it became increasingly difficult to locate queries of interest among the multitude of public queries</li>
<li>when creating new queries, it was too cumbersome to fill in the relevant organization and project.
Now you create every new query inside an organization and project, amidst a set of existing queries.
This helps to keep the queries organized.</li>
<li>The previous creation/editing functionality was implemented using standard components, and they suffered from several weaknesses:
<ol class="lalph">
<li>they did not function in every context within SHEBANQ where I needed them</li>
<li>it was impossible to provide a good layout for editing forms, a layout that did not consume excessive screen real estate</li>
<li>when a query gets executed or (un)published, some logic has to be carried out.
Everywhere where SHEBANQ allows you to alter these states, this logic should be carried out.
It was difficult to guarantee that when using the standard machinery.</li>
<li>a rather big change is at hand: queries that can be run on several versions of the data.
That means an even more non-standard way of creating/editing queries, and even more logic to be executed when dealing with status changes.</li>
</ol>
</li>
<li>So, I bit the bullet, and implemented a tree view of queries, organized by organization and project and user, and I completely reimplemented
creating and modifying queries, which introduced some unexpected bugs of which some of you have suffered. <b>My sincere apologies</b>.</li>
<li>Although organizations and projects and users seem to be neatly arranged in a simple hierarchy, this is in fact not so.
Some projects occur in multiple organizations.
In fact, there are no links between projects and organizations and users except the queries itself.
A query must link to a project and to an organization and to a user, and only when that happens,
you see that project under that organization and that user under that project.</li>
</ol>
</dd>
</dl>
</div>

<div>
<h2>2015-02-16</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Embedded tweets</dt>
<dd>We use Twitter to communicate about SHEBANQ. You must have seen it on the right, by now.</dd>
<dt>Muting public queries</dt>
<dd>As the amount of public queries grows, the amount of queries that show up next to a chapter may become overwhelming.
From the new public queries page you can easily mute and un-mute queries.</dd>
<dt>Better overview of public queries</dt>
<dd>You can now hierarchically browse all public queries, and go from there to each individual query.
Searching public queries is now much easier.</dd>
<dt>Rich text in descriptions</dt>
<dd>Descriptions are important, and plain text formatting is just not enough for long descriptions.
It is now possible to use rich text for descriptions, by using
<a target="_blank" href="http://daringfireball.net/projects/markdown/syntax">mark-down syntax</a>.
Moreover, from the public queries page, you can easily copy a mark-down hyperlink to that query, in order to paste it in
the description of an other query. Then your readers can jump to the query that you refer to.
</dd>
<dt>Better security</dt>
<dd>
<ul class="ldisc">
<li>Non-public queries are no longer visible to non-logged-in users and to users that have not created those queries.
The fact that it was possible (by manipulating the url parameters) was a bug.</li>
<li>SHEBANQ is now much more resistant against manipulation of the url parameters and the cookies.
No matter how contrived the url parameters or the contents of the cookies, SHEBANQ only looks at a definite set of parameters,
and parses their values rigorously. All illegal values are detected and translated to harmless default values.</li>
<li>And where parameters refer to non-existing objects, SHEBANQ detects it and responds gracefully.</li>
</ul>
</dd>
</dl>
</div>

<div>
<h2>2015-02-07</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Better charts</dt>
<dd>Now the cells in the charts no longer represent chapters but blocks of a fixed size: 500 words, except the last block of a book, which
usually has less words. Blocks cross chapter boundaries, but not book boundaries.
There are 929 chapters, and there are 853 blocks.
The charts now make more sense from a statistical perspective, but navigating to an individual chapter is sometimes less easy, because some blocks contain several chapters.
The color coding has been refined a little.</dd>
<dt>Previous and next controls</dt>
<dd>There are now controls for going to the next and previous page or chapter. So you can page forward and backward without calling up the <i>other pages</i> or 
<i>other chapters</i> dialog.</dd>
</dl>
</div>

<div>
<h2>2015-02-04</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Better viewing of query texts</dt>
<dd>The text of a query is where the tricks are played, so they should not be crammed in a small square.
Now they can be viewed on a big canvas in a resizable dialog box.
Endlich können wir die Querien von dem Oliver mal wirklich anschauen!</dd>
</dl>
</div>

<div>
<h2>2015-02-03</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>new, concise, graphical help</dt>
<dd>{{=A("Check it out now!", _href=URL('default','help'))}}</dd>
<dt>more data!</dt>
<dd>In data view, you can see now almost all of the ETCBC4 features. This has been added:
<ul class="ldisc">
<li>morpheme features:
<code>nme</code>,
<code>pfm</code>,
<code>prs</code>,
<code>uvf</code>,
<code>vbe</code>,
<code>vbs</code>;
</li>
<li>numbering features for
<code>phrase_atom</code>,
<code>clause_atom</code>,
<code>sentence_atom</code>;
</li>
<li>the <code>rela</code> feature has been extended to the object types
<code>phrase</code>,
<code>phrase_atom</code>,
<code>clause</code>;
</li>
<li>clause-atom features:
<code>code</code>,
<code>tab</code>;
</li>
<li>the feature with name <code>domain</code> has been renamed to <code>txt</code>, to match it with the 
name used in the ETCBC4.
There are two related features, <code>txt</code> and <code>domain</code>.
Before this change, SHEBANQ showed the <code>domain</code> features with the values of the <code>txt</code> feature.
Now we show the <code>txt</code> feature with the values of the same <code>txt</code> feature.
</ul>
</dd>
</dl>
</div>

<h2>2015-02-02</h2>
<div>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>Words: Hebrew and Aramaic lexicon</dt>
<dd>There is a new menu item <i>Words</i> from where you have access to the complete inventory of
Henrew and Aramaic words. Each entry is a clickable link, which brings you to an item page where you
can view all occurrences of that lexeme in context.</dd>
</dl>
</div>

<div>
<h2>2015-01-30</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>charts that visualize result sets</dt>
<dd>The result set of a query, and the set of occurrences of a word can be visualized on the fly by a clickable chart.
The chart gives you an overview of where in the bible the members of a result set are, and you can click on the chart
to the specific chapters where members of the chart show up. Check it out!</dd>
</dl>
<dl>
</div>

<div>
<h2>2015-01-29</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>improved responsiveness by refined caching of pages</dt>
<dd>Verse material and lists in the sidebar are being cached. If many users use the same page, regardless
of their view settings, the material that the server sends to the browser is always the same.
These chunks are now being cached.</dd>
</dl>
</div>

<div>
<h2>2015-01-23</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>better editing of queries</dt>
<dd>The window layout when editing queries makes better room for the query text.
The feedback after query execution arrives just below the execute button, and not in a message which must be clicked away.
The edit-execute cycle of query development is much smoother now.</dd>
<dt>extra data field for lexemes</dt>
<dd>By request of Oliver Glanz, a new data field for words has been added, containing the lexeme in its Hebrew, consonantal form, with disambiguation marks.
The contents of this field can be copied and pasted as value for the ``lex_utf8`` feature.
</dd>
</dl>
</div>

<div>
<h2>2015-01-21</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>better error reporting</dt>
<dd>Errors in executing queries are better reported now. The error message is shown under the Execute button/</dd>
<dt>performance improvements</dt>
<dd>Executing queries is faster, because the storing of query results has been implemented better.</dd>
<dt>mainainability improved</dt>
<dd>A major hoop has been removed concerning query execution. Before this change, a query was sent to a tomcat service,
that talked through Java bindings with Emdros. Now, Shebanq, which is written in Python, talks directly through Python
bindings with Emdros. This will help future additions of functionality greatly, and it makes Shebanq much easier to
install and maintain. It seems that the performance benefits for individual queries.
It remains to be seen how performance will keep up when doing many concurrent queries.</dd>
</dl>
</div>

<div>
<h2>2015-01-15</h2>
<p>A minor update of the SHEBANQ website with:</p>
<dl>
<dt>csv export</dt>
<dd>From the page that shows a list of query results of word occurrence results, you can download a customizable csv file of
the listed items. Each item occupies a row in which also the passage is indicated.
We hope this helps for getting data ready for statistical analysis.</dd>
</dl>
</div>

<div>
<h2>2014-12-19</h2>
<p>A major update of the SHEBANQ website, featuring</p>
<dl>
<dt>lexemes can be highlighted</dt>
<dd><ul class="ldisc">
<li>just by clicking on words in the text</li>
<li>they show up in the side list, like queries</li>
<li>all occurrences of each particular lexeme are shown on result pages, like query results</li>
</ul></dd>
<dt>more economic layout</dt>
<dd><ul class="ldisc">
<li>the full vertical space is for the main text</li>
<li>the list of queries in the sidebar as much more compact, outdated queries do not show up</li>
<li>more information about the query can be pulled open right in the sidebar</li>
<li>the selectors for chapters and result pages do not take up valuable space: you can click them away or move them around</li>
<li>editing and running queries happens in the same window, the trial and error process is easier</li>
</ul></dd>
<dt>better help</dt>
<dd><ul class="ldisc">
<li>a new user guide</li>
<li>links to documentation and data- and code sources in the menu bar</li>
</ul></dd>
<dt>better machinery</dt>
<dd><ul class="ldisc">
<li>less traffic between server and client</li>
<li>the highlighting process feels more responsive</li>
</ul></dd>
<dt>many bug fixes</dt>
<dd><ul class="ldisc">
<li>removal of quite a few unnecessary detours and duplicated actions</li>
</ul></dd>
</dl>
</div>

<div>
<h2>2014-07-29</h2>
<dl>
<dt>SHEBANQ goes live, but it is a demonstrator, with open issues.</dt>
<dd>Currently we are aware of:
<ol class="text">
    <li>The query engine might cause exceptions that are not yet handled</li>
    <li>The rendering of the spacing between words is not completely correct, at least in Chrome.
        We have tried
        <a target="_blank" href="{{=URL('static', 'docs/tools/shebanq/font-rendering.html')}}">very hard</a>
        to work around the issues, so that you can enjoy the otherwise beautiful typography even on your iPad.
        N.B.: to our great pleasure we obeserved that as of Safari 7.1 on OSX 10.9.5 there is no need for a work-around anymore.
</ol>
</dd>
</dl>
</div>

<div>
<h2>Earlier</h2>
<a target="_blank" href="http://annotation-paradigm.readthedocs.org/en/latest/queries-as-annotations/history.html">Queries-as-Annotations</a>
</div>

{{block right_sidebar}}
<a class="twitter-timeline" href="https://twitter.com/shebanq_" data-widget-id="572382814054932480">Tweets by @shebanq_</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
{{end}}
<script type="text/javascript">
var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('h2').each(function() {
    var orig = $(this).html()
    $(this).html(detailcontrols+'&nbsp;'+orig)
})
$('dd').hide()
$('.hidec').hide()
$('.showc').show()
$('.hidec').click(function(e) {e.preventDefault();
    var refo = $(this).closest('div')
    refo.find('dd').hide()
    refo.find('.hidec').hide()
    refo.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var refo = $(this).closest('div')
    refo.find('dd').show()
    refo.find('.hidec').show()
    refo.find('.showc').hide()
})
$('.showc')[1].click()
</script>
