{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

<h4>Table of Contents</h4>
<ul>
<li><a href="#restapi">REST API</a></li>
<li>
    <ul>
    <li><a href="#structure_of_api_calls">General structure of API calls</a></li>
    <li><a href="#structure_of_resulting_data">General structure of resulting data</a></li>
    <li><a href="#verbs">Verbs</a></li>
    <li>
        <ul>
        <li><a href="#query">query</a></li>
        <li><a href="#verse">verse</a></li>
        </ul>
    </li>
    </ul>
</li>
<li><a href="#deep_linking_to_shebanq">Deep linking to SHEBANQ</a></li>
<li>
    <ul>
    <li><a href="#text">text</a></li>
    </ul>
</li>
<li><a href="#contact">Contact</a></li>
</ul>

<h1><a name="restapi">REST API</a></h1>

<p>SHEBANQ has a REST API by which you can get specific data out of SHEBANQ in JSON format.</p>

<h2><a name="structure_of_api_calls">General structure of API calls</a></h2>
<p>All API have the form:</p>
<p><code>{{=URL('hebrew', ' ', host=True).rstrip()}}</code><i>verb</i><code>.json?</code><i>param1</i><code>=</code><i>value1</i><code>&amp;</code><i>param2</i><code>=</code><i>value2</i>...
</p>
<p>What parameters to use is dependent on the <i>verb</i>.</p>

<h2><a name="structure_of_resulting_data">General structure of resulting data</a></h2>
<p>All methods return a json dictionary containing the following entries:</p>

<dl>
<dt>good</dt>
<dd>A boolean stating whether the call was successful.</dd>
<dt>msgs</dt>
<dd>A list of diagnostic messages. Every message is a pair consisting of a label indicating the kind of diagnostic (error, warning, info) and the
text of the message.</dd>
<dt>data</dt>
<dd>A dictionary or list of the actual data, depending on the specific verb.</dd> 
</dl>

<h2><a name="verbs">Verbs</a></h2>
<h3 class="apiverb"><a name="query">query</a></h3>
{{example_call = URL('hebrew', 'query', extension='json', vars=dict(id=500), host=True)}}
<p><b>Example:</b> <a target="_blank" href="{{=example_call}}"><code>{{=example_call}}</code></a></p>
<p>Parameters:</p>
    <dl>
    <dt>id</dt><dd>id of the query whose data is to be fetched.</dd>
    <dt>iid</dt><dd>synonymous to <b>id</b></dd>
    </dl>
<p>Returns the metadata of a query. There is a version independent part and a version dependent part (ETCBC data versions, that is).
The metadata shows the number of results (per version), the query body, the execution status (whether the current results match the current body), the provenance,
the version of the query engine, and more.</p>

<h3 class="apiverb"><a name="verse">verse</a></h3>
{{example_call = URL('hebrew', 'verse', extension='json', vars=dict(version='4b', book='Genesis', chapter=1, verse=1), host=True)}}
<p><b>Example:</b> <a target="_blank" href="{{=example_call}}"><code>{{=example_call}}</code></a></p>
<p>Parameters:</p>
    <dl>
    <dt>version</dt><dd>version of the ETCBC data (<code>4</code>, <code>4b</code>, ...)</dd>
    <dt>book</dt><dd>name of the bible book, spelled exactly as in SHEBANQ</dd>
    <dt>chapter</dt><dd>chapter number</dd>
    <dt>verse</dt><dd>verse number</dd>
    </dl>
<p>Returns the text of a verse, specified by book, chapter number and verse number. The text is returned in two ways:</p>
    <dl>
        <dt>text</dt><dd>plain Hebrew text, unicode, pointed, accented, as in a printed version of the BHS</dd>
        <dt>phonetic</dt><dd>phonetic transcription, generated by the <a target="_blank" href="{{=URL('tools', 'index', vars=dict(goto='phono'))}}">phono tool</a></dd>
    </dl>

<h1><a name="deep_linking_to_shebanq">Deep linking to SHEBANQ</a></h1>

<p>You can deep-link to certain items of data in SHEBANQ. 
These links are provided in the <b>cite</b> drawer in the lower-right corner of the screen.

Here we highlight some less obvious ways of deep-linking to material.

<h3 class="apiverb"><a name="text">text</a></h3>
{{example_call = URL('hebrew', 'text', vars=dict(version='4b', book='Genesis', chapter=1, verse=11, tr='ph', tp='txt_tb1', nget='v'), host=True)}}
<p><b>Example:</b> <a target="_blank" href="{{=example_call}}"><code>{{=example_call}}</code></a></p>
<p>Parameters:</p>
    <dl>
    <dt>version</dt><dd>version of the ETCBC data (<code>4</code>, <code>4b</code>, ...)</dd>
    <dt>book</dt><dd>name of the bible book, spelled exactly as in SHEBANQ</dd>
    <dt>chapter</dt><dd>chapter number</dd>
    <dt>verse</dt><dd>verse number</dd>
    <dt>tr</dt><dd>either <code>hb</code> (hebrew text) or <code>ph</code> (phonetic text)</dd>
    <dt>tp</dt><dd><code>txt_p</code> (plain text) or <code>txt_tb1</code> (notes view) or <code>txt_tb2 (synatx view)</code>
                   or <code>txt_tb3</code> (abstract view)</dd>
    <dt>nget</dt><dd>only relevant if <b>tp</b>=<code>txt_tb1</code> (notes view). If <b>nget</b>=<code>v</code>, all notes will be prefetched and shown.
                   If it is <code>x</code>, nodes will not be fetched initially, but the user can fetch them later as needed.</dd>
    </dl>
<p>Shows a specified verse in the context of a whole chapter. The verse is softly highlighted and scrolled to.
It is possible to specify alternative ways for viewing the text, such as phonetic view or notes view.
</p>

<h3 class="apiverb"><a name="text">highlighted lexeme within passage</a></h3>
{{example_call = URL('hebrew', 'text', vars=dict(version='4b', id='1FJMv', mr='m', wget='v', wactive='hlcustom', book='Numeri', chapter=6, verse=26, tr='hb', tp='txt_p', nget='x'), host=True)}}
<p><b>Example: lexeme <code>FJM[</code></b> <a target="_blank" href="{{=example_call}}"><code>{{=example_call}}</code></a></p>
<p>Parameters:</p>
    <dl>
    <dt>version</dt><dd>version of the ETCBC data (<code>4</code>, <code>4b</code>, ...)</dd>
    <dt>id</dt>
    <dd>
        <p>id of the lexeme in question, can be found by looking up the lexeme in SHEBANQ, and <i>citing</i> it.</p>
        <p>But you can also get it from the lexeme by applying the following rules:
        the lexeme id has the shape: <code>1<i>translit</i></code> or <code>2<i>translit</i></code> where</p>
        <p><code>1</code> is used for Hebrew words and <code>2</code> for Aramaic words;</p>
        <p><i>translit</i> is the ETCBC transliteration of the lexeme, including disambiguation marks, with the following
        transformations:</p>
        <ol>
            <li>the <code>&gt;</code> is an alef, translate it to <code>A</code></li>
            <li>the <code>&lt;</code> is an ayin, translate it to <code>O</code></li>
            <li>the <code>/</code> denotes a noun, translate it to <code>n</code></li>
            <li>the <code>[</code> denotes a verb, translate it to <code>v</code></li>
            <li>the <code>=</code> is for disambiguation, translate it to <code>i</code></li>
        </ol>
    </dd>
    <dt>mr</dt><dd>should be <code>m</code>, no choice here;</dd>
    <dt>wget</dt><dd>should be <code>v</code>, no choice here;</dd>
    <dt>wactive</dt><dd>should be <code>hlcustom</code>, no choice here;</dd>
    <dt>book</dt><dd>name of the bible book, spelled exactly as in SHEBANQ</dd>
    <dt>chapter</dt><dd>chapter number</dd>
    <dt>verse</dt><dd>verse number</dd>
    <dt>tr</dt><dd>either <code>hb</code> (hebrew text) or <code>ph</code> (phonetic text)</dd>
    <dt>tp</dt><dd><code>txt_p</code> (plain text) or <code>txt_tb1</code> (notes view) or <code>txt_tb2 (synatx view)</code>
                   or <code>txt_tb3</code> (abstract view)</dd>
    <dt>nget</dt><dd>only relevant if <b>tp</b>=<code>txt_tb1</code> (notes view). If <b>nget</b>=<code>v</code>, all notes will be prefetched and shown.
                   If it is <code>x</code>, nodes will not be fetched initially, but the user can fetch them later as needed.</dd>
    </dl>
<p>This shows the specified verse in the context of a whole chapter with all occurrences of the specified lexeme highlighted.
The verse is softly highlighted and scrolled to.
</p>

<h1><a name="contact">Contact</a></h1>
<p>Interested in integrating data from shebanq in your application or website but seeing no verb that suits you?
Having issues?
Please contact me, I'm willing to extend the API or to have a look.</p>
<p><a href="mailto:shebanq@ancient-data.org">shebanq@ancient-data.org</a>.</p>
