{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = True }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h4>About</h4>
<p>SHEBANQ is a search engine for the Hebrew Bible, powered by the ETCBC4 linguistic database, formerly know as WIVU.
The data is archived for <i>open access</i>, and the program code is <i>open source</i>. 
A list of sources needed to recreate all underlying data processing is included <a href="#sources">below</a>.</p>

<h4>Project</h4>
<p>SHEBANQ started as a project with the same name, funded by
<a target="_blank" title="CLARIN-NL" href="http://www.clarin.nl">CLARIN-NL</a>, the Dutch section of the European 
Common Language Resources Infrastructure project
<a target="_blank" href="http://clarin.eu">CLARIN</a>.</p>
<p>It was carried out from mid 2013 to mid 2014 by the Eep Talstra Centre for Bible and Computer
<a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/research/institutes-and-centres/eep-talstra-centre-for-bible-and-computer/index.asp">ETCBC</a>
and Data Archiving and Networked Services
<a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>, an institute of
the Royal Netherlands Academy of Arts and Sciences
<a target="_blank" href="https://www.knaw.nl/en?set_language=en">KNAW</a>
and the Netherlands Organization for Scientific Research
<a target="_blank" href="http://www.nwo.nl/en">NWO</a>.<p>
<p>DANS and the ETCBC, partnered with the German Bible Society
<a target="_blank" href="https://www.dbg.de/en">DBG</a>
and the Nederlands Bible Society,
<a target="_blank" href="https://www.bijbelgenootschap.nl">NBG</a> contribute to the sustained availability
of the texts and data in SHEBANQ.</p>

<h4>License and Re-use</h4>
<p>The creators of the linguistic annotations that drive SHEBANQ, the
<a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/research/institutes-and-centres/eep-talstra-centre-for-bible-and-computer/index.asp">ETCBC</a>, 
want to facilitate optimal access to their data by researchers. All operations that are needed for the scholarly process are allowed.
You are allowed to download the data and the code, build your own workflows on top of the data and even to redistribute your versions of the data and the code.</p>
<p><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
That means:</p>
<ul class="ldisc">
<li>You must give proper attribution to the data when you use it in new applications, by citing one or more of their persistent identifiers:
<dl>
<dt>version 4</dt>
<dd><a target="_blank" href="http://dx.doi.org/10.17026%2Fdans-2z3-arxf" title="ETCBC4 Dataset in DANS EASY (via DOI)">10.17026/dans-2z3-arxf</a>;</dd>
<dt>version 4b</dt>
<dd><a target="_blank" href="http://dx.doi.org/10.17026%2Fdans-z6y-skyh" title="ETCBC4b Dataset in DANS EASY (via DOI)">10.17026/dans-z6y-skyh</a>.</dd>
</dl></li>
<li>You may not use the data for commercial applications without consent;</li>
<li>For any commercial use, please contact the <a href="mailto:zentrale@dbg.de">German Bible Society</a>.</li>
</ul>
<p>The ETCBC prefers to stress the potential of using its data, rather than the legal restrictions in doing so.
It has published data, tools and documentation online that enables teams of biblical scholars and developers
to reproduce all data processing that is needed for SHEBANQ.
The recommended tool to start with is 
{{=A('laf-fabric', _href='https://github.com/ETCBC/laf-fabric', _target='_blank')}}.
Its documentation describes in detail how to download the data and set up data-processing workflows.
For an example of what you can do with the LAF-Fabric/SHEBANQ combination, see <a href="#usergenerated">below</a>.
<p>The ETCBC welcomes contributions that improve and enrich the interface of SHEBANQ.
We are also open to implement mutual deep linking with other biblical data sources.</p>

<h4><a name="sources">Sources</a></h4>
<dl>
    <dt>Text</dt>
    <dd><p>The Hebrew text shown in SHEBANQ is taken from:
    <i>Biblia Hebraica Stuttgartensia</i>,
    edited by Karl Elliger and Wilhelm Rudolph, Fifth Revised Edition,
    edited by Adrian Schenker, © 1977 and 1997 Deutsche Bibelgesellschaft, Stuttgart.</p>
    <p>SHEBANQ is based on this printed text, but the DBG offers also an
    <a target="_blank" href="https://www.academic-bible.com/en/online-bibles/biblia-hebraica-stuttgartensia-bhs/read-the-bible-text/">online version of the BHS</a>.</p></dd>

    <dt>Data</dt>
    <dd>
        <dl>
            <dt><a target="_blank" href="http://dx.doi.org/10.17026%2Fdans-2z3-arxf">ETCBC database version 4</a></dt>
            <dd><p><b>Snapshot taken from the ETCBC's <i>jacob</i>-server on 2014-07-14</b>. <i>This is an archived, but not a finished version</i>.</p>
            <p>We have use the Emdros export version of the data, converted it to LAF, and archived it at
            <a target="_blank" href="http://www.dans.knaw.nl">DANS</a>, a national research data archive in the Netherlands. Its repository is called 
            <a target="_blank" href="http://easy.dans.knaw.nl">EASY</a>, and there, among many other data sets you find the Hebrew Text Database of the ETCBC.</p></dd>

            <dt><a target="_blank" href="http://dx.doi.org/10.17026%2Fdans-z6y-skyh">ETCBC database version 4b</a></dt>
            <dd><p><b>Snapshot taken from the ETCBC's <i>jacob</i>-server on 2015-05-04</b>. <i>This version has complete feature coverage, but has not yet been completely checked. It has been archived at DANS</i>.</p>
            <p>This is the last version before the next finished, stable version from the ETCBC, which we will call <b>4s</b>. Version 4b will not change anymore.</p>
            </dd>

            <dt>ETCBC database version 4s</a></dt>
            <dd><p><b>(future:) Snapshot taken from the ETCBC's <i>jacob</i>-server on ??</b>.
            <i>This version is to be archived at DANS, and will be released as a finished version</i>.</p></dd>
        </dl>
    </dd>

    <dt>Extra data</dt>
    <dd><p>We have added some additional packages of annotations, that can be used together with the proper ETCBC data.
    Part of this data has also been used for SHEBANQ: the lexicon data. With LAF-Fabric you can use extra annotation packages in a controlled way.
    Here we point at two packages. If you have LAF-Fabric, you can
    <a target="_blank" href="https://surfdrive.surf.nl/files/public.php?service=files&t=c201a146df25c6323544bf36d165408c">download the data</a>
    and place it in your <pre>laf-fabric-data/etcbc4/annotations</pre>
    directory. <img src="{{=URL('static', 'images/ExtraData.png')}}"/></p>
        <ul class="ldisc">
            <li><b>lexicon</b>, for more info see this
            <a target="_blank" href="{{=URL('static', 'docs/tools/shebanq/lexicon.html')}}">notebook</a>.</li>
            <li><b>paragraphs</b>, for more info see this
            <a target="_blank" href="{{=URL('static', 'docs/tools/shebanq/para_from_px.html')}}">notebook</a>.</li>
        </ul>
    </dd>

    <dt><a target="_blank" href="https://github.com/ETCBC">ETCBC</a></dt>
    <dd>The ETCBC organization on Github has several repositories related to its Hebrew Text Database.
        <dl>
            <dt><a target="_blank" href="https://github.com/etcbc/shebanq">SHEBANQ</a></dt>
            <dd><a target="_blank" href="https://zenodo.org/badge/latestdoi/498/ETCBC/shebanq"><img src="https://zenodo.org/badge/498/ETCBC/shebanq.svg" alt="10.5281/zenodo.33091"></a>
            This is the code that drives the SHEBANQ website.
            It is based on <a target="_blank" href="http://web2py.com">web2py</a>,
            whose <a target="_blank" href="https://github.com/web2py">code</a> is also on Github.</dd>

            <dt><a target="_blank" href="https://github.com/etcbc/shebanq-doc">shebanq-doc</a></dt>
            <dd><a target="_blank" href="https://zenodo.org/badge/latestdoi/498/ETCBC/shebanq-doc"><img src="https://zenodo.org/badge/498/ETCBC/shebanq-doc.svg" alt="10.5281/zenodo.33094"></a>
            Feature-by-feature documentation of the Hebrew Text Database. Here you find the meaning of the linguistic annotations to the text.
            This documentation is written in <i>rst</i> (= ReStructured Text), and from this html documentation can be built.
            The <a target="_blank" href="{{=URL('static', 'docs/featuredoc/features/comments/0_overview.html')}}">built html is included in SHEBANQ</a>.
            </dd>

            <dt><a target="_blank" href="https://github.com/ETCBC/laf-fabric">LAF-Fabric</a></dt>
            <dd><a target="_blank" href="https://zenodo.org/badge/latestdoi/498/ETCBC/laf-fabric"><img src="https://zenodo.org/badge/498/ETCBC/laf-fabric.svg" alt="10.5281/zenodo.33093"></a>
            The Hebrew Text Database is archived in the <a target="_blank" href="http://www.iso.org/iso/catalogue_detail.htm?csnumber=37326">LAF format</a>.
            LAF-Fabric is a data preprocessing tool that can handle LAF.
            It is a Python package. On top of it there are packages specialized in the peculiarities of the ETCBC data.</dd>

            <dt><a target="_blank" href="http://nbviewer.ipython.org/github/ETCBC/laf-fabric-nbs/tree/master/">LAF-Fabric notebooks</a></dt>
            <dd>This a repository full of executable <i>notebooks</i>, showing a wide range of things that can be accomplished.
            A recommended way to do data processing with the ETCBC data is using the concept of the
            <a target="_blank" href="http://ipython.org/ipython-doc/stable/notebook/notebook.html">IPython Notebook</a>.
            In a notebook you can describe, document and execute Python code. Such notebooks can easily be shared through github and
            <a target="_blank" href="http://nbviewer.jupyter.org">NBviewer</a>.</dd>
        </dl>
    </dd>

    <dt><a target="_blank" href="http://emdros.org">EMDROS</a></dt>
    <dd>The engine that performs MQL queries against an Emdros text database. Written in C++, by Ulrik Sandborg-Petersen.</dd>
</dl>

<h4><a name="usergenerated">User generated content</a></h4>
<p>Users are an important source of data for SHEBANQ. 
They may contribute queries that highlight research questions and solutions, and they may contribute notes to individual
clauses in the text.</p>

<h5>Contributing note sets</h5>
<p>Notes are the preferred way to add observations and comments that are not carved in stone.
They can also be used to view the outcomes of algorithms operating on the Hebrew Bible in context.
As an example, here is a set of notes
about applying verbal valence patterns to occurrences of selected Hebrew verbs.
The notes have been created by means of LAF-Fabric in this
<a target="_blank" href="{{=URL('tools', 'index', vars=dict(goto='valence'))}}">tool</a>
and from there they have been bulk-uploaded to SHEBANQ, where the notes can be called in
{{=A(T('between the lines'), _href=URL('hebrew', 'note', vars=dict(id='Mnx2YWxlbmNl', tp='txt_tb1', version='4b', mr='m')))}}.</p>
<img src="{{=URL('static', 'images/valence.png')}}"/>
<p>This is work in progress!</p>

<h5>Contributing research</h5>
<p>It is also possible to contribute your research to SHEBANQ.
As an example, have a look at
<a target="_blank" href="{{=URL('tools', 'index', vars=dict(goto='parallel'))}}">parallel passages</a>.
By means of LAF-Fabric, we have searched the ETCBC data for similar passages.
It required a lot of experimentation, for which the IPython notebook is an excellent tool.
It has everything: code, documentation, visualization, and it can point to the data.
If you have done data analysis on the Hebrew Bible and you want to share your results,
the <i>Tools</i> page is where you can do that.
In order to be eligible, your notebook must satisfy a few basic conditions:
<ol class="ldec">
<li>the results must be based on the ETCBC database of the Hebrew Bible</li>
<li>the results must be <i>reproducible</i> on the basis of the information in the notebook and the data stored with it
(we can store additional data at the SHEBANQ site).</li>
</ol> 
</p> 

<h4>Do it yourself</h4>
<p>In theory, it is possible to build a shebanq website, powered by ETCBC data, on your own server.
In practice, it is not completely straightforward.
We are working on a complete installation recipe for an Ubuntu server.
The document is not yet finished, but if you are interested, here is the
<a target="_blank" href="{{=URL('static', 'docs/ShebanqInstallUbuntu.pdf')}}">current installation document</a>.</p>

<h4>{{=T('History')}}</h4>
See {{=A(T("Release notes"), _href=URL('default', 'news', ))}} for an overview of the ideas behind shebanq and how they have been implemented.

<h4>{{=T('References')}}</h4>
<dl>
    <dt><a href="http://arxiv.org/abs/1501.01866" target="blank">The Hebrew Bible as Data: Laboratory - Sharing - Experiences</a></dt>
    <dd>Positioning of SHEBANQ, history, ideas and more references.</dd>
    <dt><a href="http://arxiv.org/abs/1410.0286" target="blank">LAF-Fabric: a data analysis tool for Linguistic Annotation Framework with an application to the Hebrew Bible</a></dt>
    <dd>LAF-Fabric is the auxiliary tool with which the ETCBC data has been prepared for the SHEBANQ website.
    It can also be used for other preprocessing tasks, e.g. preparing data for analysis in R.</dd>
    <dt><a href="http://arxiv.org/abs/1412.6069" target="blank">Annotation as a New Paradigm in Research Archiving</a></dt>
    <dd>The idea of treating queries as annotations.</dd>
</dl>

{{block right_sidebar}}
<h4>SHEBANQ Team</h4>
<table>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/WidoVanPeursen.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:w.t.van.peursen@vu.nl"><b>Wido van Peursen</b></a>, leader of
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Initiator and strategic leader.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/OliverGlanz.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:o.glanz@gmail.com"><b>Oliver Glanz</b></a>, 
            <a target="_blank" href="https://www.andrews.edu/sem/faculty_staff/faculty/oliver-glanz.html">Andrews University</a>.
            ETCBC data expert, contributing numerous queries for teaching.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/DirkRoorda.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:dirk.roorda@dans.knaw.nl"><b>Dirk Roorda</b></a>, 
            <a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>.
            Author of most of the code.
            </p>
        </td>
    </tr>
    <tr><td colspan="2">SHEBANQ relies on data created by:</td></tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/EepTalstra.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:eep@wi.th.vu.nl"><b>Eep Talstra</b></a>, founder of
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Still computing (Pascal): participant data in the making.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/ConstantijnSikkel.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:const@wi.th.vu.nl"><b>Constantijn Sikkel</b></a>, data designer for
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Inventor of efficient data creation work flows.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/JanetDyk.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:j.w.dyk@vu.nl"><b>Janet Dyk</b></a>, linguist at
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Long-time data contributor, specialized in verbal valence and language variation.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/ReinoudOosting.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:reinoud@wi.th.vu.nl"><b>Reinoud Oosting</b></a>, data designer for
            <a target="_blank" href="https://leidenuniv.academia.edu/Departments/Leiden_Institute_for_Religious_Studies">Leiden University</a>.
            Contributed ETCBC data, now key user.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/UlrikPetersen.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:ulrikp@emergence.dk"><b>Ulrik Sandborg-Petersen</b></a>, creator of
            <a target="_blank" href="http://emdros.org">Emdros</a>.
            Without it, SHEBANQ would not exist!
            </p>
        </td>
    </tr>
    <tr><td colspan="2">Contributors in the past</td></tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/HenkVanDenBerg.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:henk.van.den.berg@dans.knaw.nl"><b>Henk van den Berg</b></a>, 
            <a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>.
            Programmed the first versions.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/HeleenVanDeSchraaf.png')}}"/></td>
        <td>
            <p class="pdesc"><b>Heleen van de Schraaf</b>, then 
            <a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>.
            Programmed the first user interface.
            </p>
        </td>
    </tr>
</table>

{{end}}
