{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = True }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h4>{{=T('About')}}</h4>
<p>The <i>shebanq</i> service is the first data service of <i>ancient-data.org</i>.<br/>
Shebanq is a search engine for the Hebrew Bible, powered by the ETCBC4 linguistic database, formerly know as WIVU.<br/>
The data is archived for <i>open access</i>, and the program code is <i>open source</i>. 
A list of sources needed to recreate all underlying data processing is included <a href="#sources">below</a>. 
</p>

<h4>{{=T('License and Re-use')}}</h4>
<p>The creators of the linguistic annotations that drive SHEBANQ, the <a target="_blank" href="http://godgeleerdheid.vu.nl/etcbc">ETCBC</a>, 
want to facilitate optimal access to their data by researchers. All operations that are needed for the scholarly process are allowed.
You are allowed to download the data and the code, build your own workflows on top of the data and even to redistribute your versions of the data and the code.
The licence is:
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
That means:</p>
<ul class="ldisc">
<li>You may not use the data for commercial applications;</li>
<li>You must give proper attribution to the data when you use it in new applications, preferably by citing its persistent identifier
<a target="_blank" href="http://www.persistent-identifier.nl/?identifier=urn:nbn:nl:ui:13-048i-71" title="ETCBC4 Dataset in DANS EASY">urn:nbn:nl:ui:13-048i-71</a>
</li>
</ul>
<p>The ETCBC prefers to stress the potential of using its data, rather than the legal restrictions in doing so.
It has published data, tools and documentation online that enables teams of biblical scholars and developers
to reproduce all data processing that is needed for SHEBANQ.
The recommended tool to start with is 
{{=A('laf-fabric', _href='https://github.com/ETCBC/laf-fabric', _target='_blank')}}.
Its documentation describes in detail how to download the data and set up data-processing workflows.</p>

<p>The ETCBC welcomes contributions that improve and enrich the interface of SHEBANQ.
We are also open to implement mutual deep linking with other biblical data sources.</p>

<h4><a name="sources">Sources</a></h4>
<p>In theory, it is possible to build a shebanq website, powered by ETCBC data, on your own server.
In practice, it is not completely straightforward.
We are working on a complete installation recipe for an Ubuntu server.
The document is not yet finished, but if you are interested, here is the
<a target="_blank" href="{{=URL('static', 'docs/ShebanqInstallUbuntu.pdf')}}">current installation document</a>.</p>

<dl>
    <dt>Data</dt>
    <dd>
        <dl>
            <dt><a target="_blank" href="http://www.persistent-identifier.nl/?identifier=urn%3Anbn%3Anl%3Aui%3A13-048i-71">ETCBC database version 4</a></dt>
            <dd><p><b>Snapshot taken from the ETCBC's <i>jacob</i>-server on 2014-07-14</b>. <i>This is an archived, but not a finished version</i>.</p>
            <p>We have use the Emdros export version of the data, converted it to LAF, and archived it at
            <a target="_blank" href="http://www.dans.knaw.nl">DANS</a>, a national research data archive in the Netherlands. Its repository is called 
            <a target="_blank" href="http://easy.dans.knaw.nl">EASY</a>, and there, among many other data sets you find the Hebrew Text Database of the ETCBC.</p></dd>
            <dt>ETCBC database version 4b</a></dt>
            <dd><p><b>Snapshot taken from the ETCBC's <i>jacob</i>-server on 2015-05-04</b>. <i>This version is not archived, and not finished</i>.</p>
            <p>We will refresh this version regularly, until the ETCBC provides a stable, finished version, which we will call <b>4s</b>.</p>
            <p>In the meanwhile, the data that corresponds to the currently loaded <b>4b</b> version can be downloaded from my
            <a target="_blank" href="https://surfdrive.surf.nl/files/public.php?service=files&t=ac11879b11854a95623355106e8c63a5">SURFdrive</a>.
            This data has been compiled by LAF-Fabric, and it can be used directly by your local LAF-Fabric installation.</p>
            <p>Earlier snapshots (no longer available in shebanq):</p>
            <p><b>Snapshot taken from the ETCBC's <i>jacob</i>-server on 2015-04-09</b>.</p>
            </dd>
            <dt>ETCBC database version 4s</a></dt>
            <dd><p><b>(future:) Snapshot taken from the ETCBC's <i>jacob</i>-server on ??</b>.
            <i>This version is to be archived at DANS, and will be released as a finished version</i>.</p>
            <dt>Extra data</dt>
            <dd>We have added some additional packages of annotations, that can be used together with the proper ETCBC data.
            Part of this data has also been used for SHEBANQ: the lexicon data. With LAF-Fabric you can use extra annotation packages in a controlled way.
            Here we point at two packages. If you have LAF-Fabric, you can
            <a target="_blank" href="https://surfdrive.surf.nl/files/public.php?service=files&t=c201a146df25c6323544bf36d165408c">download the data</a>
            and place it in your <pre>laf-fabric-data/etcbc4/annotations</pre>
            directory. <img src="{{=URL('static', 'images/ExtraData.png')}}"/>
            <ul class="ldisc">
                <li><b>lexicon</b>, for more info see this
                <a target="_blank" href="http://nbviewer.ipython.org/github/etcbc/laf-fabric-nbs/blob/master/extradata/lexicon.ipynb">notebook</a>.</li>
                <li><b>paragraphs</b>, for more info see this
                <a target="_blank" href="http://nbviewer.ipython.org/github/etcbc/laf-fabric-nbs/blob/master/extradata/para%20from%20px.ipynb">notebook</a>.</li>
            </dd>
        </dl>
    </dd>
    <dt><a target="_blank" href="https://github.com/ETCBC">ETCBC</a></dt>
    <dd>The ETCBC organization on Github has several repositories related to its Hebrew Text Database.
        <dl>
            <dt><a target="_blank" href="https://shebanq-doc.readthedocs.org">shebanq-doc</a></dt>
            <dd>Feature-by-feature documentation of the Hebrew Text Database. Here you find the meaning of the linguistic annotations to the text.</dd>
            <dt><a target="_blank" href="https://github.com/ETCBC/laf-fabric">LAF-Fabric</a></dt>
            <dd>The Hebrew Text Database is archived in the <a target="_blank" href="http://www.iso.org/iso/catalogue_detail.htm?csnumber=37326">LAF format</a>.
            LAF-Fabric is a data preprocessing tool that can handle LAF.
            It is a Python package. On top of it there are packages specialized in the peculiarities of the ETCBC data.</dd>
            <dt><a target="_blank" href="http://nbviewer.ipython.org/github/ETCBC/laf-fabric-nbs/tree/master/">LAF-Fabric notebooks</a></dt>
            <dd>This a repository full of executable <i>notebooks</i>, showing a wide range of things that can be accomplished.
            A recommended way to do data processing with the ETCBC data is using the concept of the
            <a target="_blank" href="http://ipython.org/ipython-doc/stable/notebook/notebook.html">IPython Notebook</a>.
            In a notebook you can describe, document and execute Python code. Such notebooks can easily be shared through github and
            <a target="_blank" href="http://nbviewer.ipython.org">NBviewer</a>.</dd>
        </dl>
    </dd>
    <dt><a target="_blank" href="https://github.com/Dans-labs">DANS-Labs</a></dt>
    <dd>The DANS-labs organization on Github contains the SHEBANQ project.
        <dl>
            <dt><a target="_blank" href="https://github.com/Dans-labs/shebanq">SHEBANQ</a></dt>
            <dd>This is the code that drives the SHEBANQ website. It is based on <a target="_blank" href="http://web2py.com">web2py</a>,
            whose <a target="_blank" href="https://github.com/web2py">code</a> is also on Github.</dd>
        </dl>
    </dd>
    <dt><a target="_blank" href="http://emdros.org">EMDROS</a></dt>
    <dd>The engine that performs MQL queries against an Emdros text database. Written in C++, by Ulrik Sandborg-Petersen.</dd>
</dl>

<h4>{{=T('History')}}</h4>
See {{=A(T("Release notes"), _href=URL('default', 'news', ))}} for an overview of the ideas behind shebanq and how they have been implemented.

<h4>{{=T('References')}}</h4>
<dl>
    <dt><a href="http://arxiv.org/abs/1501.01866" target="blank">The Hebrew Bible as Data: Laboratory - Sharing - Experiences</a></dt>
    <dd>Positioning of SHEBANQ, history, ideas and more references.</dd>
    <dt><a href="http://arxiv.org/abs/1410.0286" target="blank">LAF-Fabric: a data analysis tool for Linguistic Annotation Framework with an application to the Hebrew Bible</a></dt>
    <dd>LAF-Fabric is the auxiliary tool with which the ETCBC data has been prepared for the SHEBANQ website.
    It can also be used for other preprocessing tasks, e.g. preparing data for analysis in R.</dd>
    <dt><a href="http://arxiv.org/abs/1412.6069" target="blank">Annotation as a New Paradigm in Research Archiving</a></dt>
    <dd>The idea of treating queries as annotations.</dd>
</dl>

{{block right_sidebar}}
<h4>SHEBANQ Team</h4>
<table>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/WidoVanPeursen.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:w.t.van.peursen@vu.nl"><b>Wido van Peursen</b></a>, leader of
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Initiator and strategic leader.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/OliverGlanz.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:o.glanz@gmail.com"><b>Oliver Glanz</b></a>, 
            <a target="_blank" href="https://www.andrews.edu/sem/faculty_staff/faculty/oliver-glanz.html">Andrews University</a>.
            ETCBC data expert, contributing numerous queries for teaching.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/DirkRoorda.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:dirk.roorda@dans.knaw.nl"><b>Dirk Roorda</b></a>, 
            <a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>.
            Author of most of the code.
            </p>
        </td>
    </tr>
    <tr><td colspan="2">SHEBANQ relies on data created by:</td></tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/EepTalstra.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:eep@wi.th.vu.nl"><b>Eep Talstra</b></a>, founder of
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Still computing (Pascal): participant data in the making.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/ConstantijnSikkel.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:const@wi.th.vu.nl"><b>Constantijn Sikkel</b></a>, data designer for
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Inventor of efficient data creation work flows.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/JanetDyk.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:j.w.dyk@vu.nl"><b>Janet Dyk</b></a>, linguist at
            <a target="_blank" href="http://www.godgeleerdheid.vu.nl/en/index.asp">ETCBC</a>.
            Long-time data contributor, specialized in verbal valence and language variation.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/ReinoudOosting.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:reinoud@wi.th.vu.nl"><b>Reinoud Oosting</b></a>, data designer for
            <a target="_blank" href="https://leidenuniv.academia.edu/Departments/Leiden_Institute_for_Religious_Studies">Leiden University</a>.
            Contributed ETCBC data, now key user.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/UlrikPetersen.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:ulrikp@emergence.dk"><b>Ulrik Sandborg-Petersen</b></a>, creator of
            <a target="_blank" href="http://emdros.org">Emdros</a>.
            Without it, SHEBANQ would not exist!
            </p>
        </td>
    </tr>
    <tr><td colspan="2">Contributors in the past</td></tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/HenkVanDenBerg.png')}}"/></td>
        <td>
            <p class="pdesc"><a href="mailto:henk.van.den.berg@dans.knaw.nl"><b>Henk van den Berg</b></a>, 
            <a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>.
            Programmed the first versions.
            </p>
        </td>
    </tr>
    <tr>
        <td width="96px"><img src="{{=URL('static', 'images/HeleenVanDeSchraaf.png')}}"/></td>
        <td>
            <p class="pdesc"><b>Heleen van de Schraaf</b>, then 
            <a target="_blank" href="http://www.dans.knaw.nl/en/front-page?set_language=en">DANS</a>.
            Programmed the first user interface.
            </p>
        </td>
    </tr>
</table>

{{end}}
