{{ left_sidebar_enabled = False }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<h1>References</h1>
<p>This is a (anti-)chronological list of references that give more information about the ETCBC method of encoding and text analysis.
If the full text is available, a download link and a summary is provided, otherwise the entry is formatted grey and dull.
If you have full text copies of those papers, please send them to 
<a href="mailto:shebanq@ancient-data.org">shebanq@ancient-data.org</a>
and they will be included on here.</p>
<p><b>N.B.</b> <i>Unless an author has explicitly ceded publication rights exclusively to a publisher for an indefinite period of time,
(s)he is free to publish her own copy online!</i>
</p>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver (2016)</h2>
<dl class="ref">
<dt class="ref_title">Bible Software on the Workbench of the Biblical Scholar: Assessment and Perspective</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Digital Humanity Quarterly, forthcoming.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver, Reinoud Oosting, and Janet W. Dyk (2016)</h2>
<dl class="ref">
<dt class="ref_title">Valence Patterns in Biblical Hebrew: Classical Philology and Linguistic Patterns</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Journal of Northwest Semitic Languages, no. 44 (2016): 43–62.
</div>
</div>

<div class="ref_download">
<h2 class="ref_head">Sandborg-Petersen, Ulrik (2007-2015)</h2>
<dl class="ref">
<dt class="ref_title">Emdros Query Guide</dt>
<dd class="ref_summary">
<p>This guide will show you how to use the Emdros Corpus Query System to query your data.
It assumes that you have already imported your data into Emdros, and simply want to start querying.
It is aimed at the non-technical person, though familiarity with corpus linguistics is assumed.
</p>
</dd>
</dl>
<div class="ref_links">
<a href="http://emdros.org">emdros.org</a>,
<a target="_blank" href="{{=URL('static', 'docs/MQL-Query-Guide.pdf')}}">full article (pdf)</a>,
</div>
<div class="ref_meta">
Website by the author, 2007-2015.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Dyk, Janet W., Oliver Glanz, and Reinoud Oosting (2014)</h2>
<dl class="ref">
<dt class="ref_title">Analysing Valence Patterns in Biblical Hebrew: Theoretical Questions and Analytic Frameworks</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Journal of Northwest Semitic Languages, no. 40 (2014): 43–62.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver (2014)</h2>
<dl class="ref">
<dt class="ref_title">Review: Bod, Rens. A New History of the Humanities: The Search for Principles and Patterns from Antiquity to the Present</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Oxford: Oxford University Press, 2014. Andrews University Seminary Studies 52, no. 2 (2014).
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver (2013)</h2>
<dl class="ref">
<dt class="ref_title">Understanding Participant-Reference Shifts in the Book of Jeremiah: A Study of Exegetical Method and Its Consequences for the Interpretation of Referential Incoherence</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Studia Semitica Neerlandica 60. Leiden: Brill, 2013.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver (2011)</h2>
<dl class="ref">
<dt class="ref_title">Who Is Speaking-Who Is Listening? How Information Technology Can Confirm the Integrity of the Text</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Tradition and Innovation in Biblical Interpretation: Studies Presented to Professor Eep Talstra on the Occasion of His Sixty-Fifth Birthday, edited by Wido T. Peursen van and Janet W. Dyk, 337–59. Studia Semitica Neerlandica. Leiden: Brill, 2011.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2011)</h2>
<dl class="ref">
<dt class="ref_title">Sinners and Syntax: Poetry and Discourse in Jeremiah 5</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Ἐν πάσῃ γραμματικῇ  καὶ σοφίᾳ: En Pāsē Grammatikē Kai Sophiā, edited by Gregor Geiger, 78:337–56. Analecta. Milano, Jerusalem: Franciscan Printing Press, 2011.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver (2009)</h2>
<dl class="ref">
<dt class="ref_title">Durchsuchen von Textausgaben</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Stuttgarter Elektronische Studienbibel : Handbuch, 39–47. Stuttgart, Haarlem: Deutsche Bibelgesellschaft, Nederlands Bijbelgenootschap, 2009.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver (2009)</h2>
<dl class="ref">
<dt class="ref_title">Spezielle Hilfsmittel zu den Originalsprachigen Bibeltexten</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Stuttgarter Elektronische Studienbibel : Handbuch, edited by Bertram Salzmann, 62–86. Stuttgart, Haarlem: Deutsche Bibelgesellschaft, Nederlands Bijbelgenootschap, 2009.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver, and Christof Hardmeier (2009)</h2>
<dl class="ref">
<dt class="ref_title">Bible Study with SESB - Basics and Outstanding Features</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Stuttgarter Elektronische Studienbibel: Handbuch, edited by Bertram Salzmann, 175–81. Stuttgart: Deutsche Bibelgesellschaft, Nederlands Bijbelgenootschap, 2009.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Glanz, Oliver, and Christof Hardmeier (2009)</h2>
<dl class="ref">
<dt class="ref_title">Nachwort: Bibelstudium Mit SESB - Grundlagen Und Besonderheiten</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Stuttgarter Elektronische Studienbibel: Handbuch, edited by Bertram Salzmann, 91–97. Stuttgart: Deutsche Bibelgesellschaft, Nederlands Bijbelgenootschap, 2009.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2007)</h2>
<dl class="ref">
<dt class="ref_title">I and Your People: Syntax and Dialogue in Exod 33</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Journal of Northwest Semitic Languages, no. 33/2 (2007): 89–97.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2007)</h2>
<dl class="ref">
<dt class="ref_title">The Discourse of Praying: Reading Nehemiah 1</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Psalms and Prayers : Papers Read at the Joint Meeting of the Society of Old Testament Study and the Oudtestamentische Werkgezelschap in Nederland En België, Apeldoorn August 2006, 219–36. Oudtestamentische Studiën. Leiden, Boston: Brill, 2007.
</div>
</div>

<div class="ref_download">
<h2 class="ref_head">Peursen, Wido Th. van and Eep Talstra (2007)</h2>
<dl class="ref">
<dt class="ref_title">Computer-Assisted Analysis of Parallel Texts in the Bible - The Case of 2 Kings xviii-xix and its Parallels in Isaiah and Chronicles</dt>
<dd class="ref_summary">
<p>In literary-critical and text historical studies of the Bible the comparison of parallel texts plays an important role.
Starting from the description of the proximity of parallel texts as a continuum from very close to very loose,
this article discusses the way in which the computer can facilitate a comparison of various types of parallel texts.
2 Kings 18-19 and Isaiah 37-38 are taken as an example of two closely related texts.
The Kings chapters and their parallels in 2 Chronicles 32 occupy a position at the other side of the continuum.
These chapters differ so much, that it is sometimes impossible to establish which verses should be considered parallel.
The computer-assisted analysis brings to light some striking correspondences, that disappear in traditional synopses,
such as Ben Davids Parallels in the Bible.
These observations have an impact on our evaluation of the Chronicler's user of his sources and his literary taste.</p>
</dd>
</dl>
<div class="ref_links">
<a target="_blank" href="{{=URL('static', 'docs/methods/2007_Peursen_Parallels.pdf')}}">full article (pdf)</a>,
<a target="_blank" href="https://www.academia.edu/4388383/Computer-Assisted_Analysis_of_Parallel_Texts_in_the_Bible._The_Case_of_2_Kings_xviii-xix_and_Its_Parallels_in_Isaiah_and_Chronicles">on academia.edu</a>,
<a target="_blank" href="http://dx.doi.org/10.1163/15685337X167855">DOI: 10.1163/15685337X167855</a>.
</div>
<div class="ref_meta">In: Vetus Testamentum 57, pp. 45-72. 2007, Brill, Leiden.</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2006)</h2>
<dl class="ref">
<dt class="ref_title">Syntax and Composition: The Use of Yiqtol in Narrative Sections in the Book of Exodus</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In The Interpretation of Exodus: Studies in Honour of Cornelis Houtman, 225–36. Contributions to Biblical Exegesis &amp; Theology. Leuven: Peeters, 2006.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Hunziker-Rodewald, Regine, and Christof Hardmeier (2006)</h2>
<dl class="ref">
<dt class="ref_title">Texttheorie Und Texterschließung: Grundlagen Einer Empirisch-Textpragmatischen Exegese</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Lesarten Der Bibel: Untersuchungen Zu Einer Theorie Der Exegese Des Alten Testaments, edited by Erhard Blum and Helmut Utzschneider, 13–44. Stuttgart: Kohlhammer, 2006.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep, and Janet W. Dyk (2006)</h2>
<dl class="ref">
<dt class="ref_title">The Computer and Biblical Research: Are There Perspectives beyond the Imitation of Classical Instruments?</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Text, Translation, and Tradition: Studies on the Peshitta and Its Use in the Syriac Tradition Presented to Konrad D. Jenner on the Occasion of His Sixty-Fifth Birthday, edited by Wido T. Peursen van and R. B. Haar Romeny ter, 189–203. Leiden: Brill, 2006.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2006)</h2>
<dl class="ref">
<dt class="ref_title">Text Segmentation and Linguistic Levels : Preparing Data for SESB</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Stuttgarter Elektronische Studienbibel: Handbuch, 182–88. Stuttgart, Haarlem: Deutsche Bibelgesellschaft, Nederlands Bijbelgenootschap, 2006.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2004)</h2>
<dl class="ref">
<dt class="ref_title">On Scrolls and Screens. Bible Reading between History and Industry</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Critical Thinking and the Bible in the Age of New Media, 291–309. Lanham: University Press of America, 2004.
</div>
</div>

<div class="ref_download">
<h2 class="ref_head">Talstra, Eep (2003)</h2>
<dl class="ref">
<dt class="ref_title">Text segmentation and linguistic levels - Preparing data for SESB</dt>
<dd class="ref_summary">
<p>Linguistic data beyond word level?</p>
<p>One question for many years already has been dominant in the research of the ’Werkgroep Informatica in its preparation of
linguistically analysed text data for projects such as the Stuttgart Electronic Study Bible (SESB).
It is the question how to get beyond word-level in the linguistic analysis of Hebrew and Aramaic texts of the Bible.
It may sound as an relatively easy task: once you have made a database of the Bible with an analysis of all its Hebrew and Aramaic words,
simply proceed by analysing phrases, subjects, predications, sentences, etc. However, in trying to do so, one rapidly finds out two things.
</p>
</dd>
</dl>
<div class="ref_links">
<a target="_blank" href="{{=URL('static', 'docs/methods/2003_Talstra_Handbook.pdf')}}">full article (pdf)</a>,
<a target="_blank" href="https://books.google.nl/books?id=A5Bcm8wqwKEC">read in Google Books</a>.
</div>
<div class="ref_meta">
In C.Hardmeier, E. Talstra, B. Salzmann: Handbuch/Instruction manual SESB (Stuttgart Elektronic Study Bible), pp. 23-32.
2004, Stuttgart: Deutsche Bibelgesellschaft; Haarlem: Nederlands Bijbelgenootschap.
See also: W. Th. van Peursen and J.W. Dyk (eds.): Tradition and Innovation in Biblical Interpretation - Studies presented to Professor
Eep Talstra on the Occasion of his Sixty-Fifth Birthday. Studia Semitica Neerlandica, Brill, 2011.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2002)</h2>
<dl class="ref">
<dt class="ref_title">Oude En Nieuwe Lezers: Een Inleiding in de Methoden van Uitleg van Het Oude Testament</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Kampen: Kok, 2002.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2002)</h2>
<dl class="ref">
<dt class="ref_title">Signs, Design and Signification. The Example of 1 Kings 21</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Bible and Computer. The Stellboxch AIBI-6 Conference, 147–66. Leiden: Brill, 2002.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Merwe van der, Christo H. J. (2002)</h2>
<dl class="ref">
<dt class="ref_title">An Overview of Recent Developments in the Description of Biblical Hebrew Relevant to Bible Translation</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Acta Theologica Supplementum, 2:228–45, 2002.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (2001)</h2>
<dl class="ref">
<dt class="ref_title">Texts for Recitation: Deuteronomy 6:7, 11:19</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Unless Some One Guide Me...: Festschrift Für Karel A Deurloo, edited by Janet W. Dyk, 67–76. ACEBT. Maastricht: Shaker Publishing, 2001.
</div>
</div>

<div class="ref_download">
<h2 class="ref_head">Talstra, Eep, and Carl Bosma (2001)</h2>
<dl class="ref">
<dt class="ref_title">Psalm 67: Blessing, Harves and History: A Proposal for Exegetical Methodology</dt>
<dd class="ref_summary">
<p>In the Old Testament documents there are a number of references or allusions to the Aaronic blessing in Numbers 6:24-26.
One can therefore conclude that the priestly blessing plays a significant role in Old Testament literature generally.
However, echoes of this blessing are especially frequent in the book of Psalms.</p>
</dd>
</dl>
<div class="ref_links">
<a href=https://faculty.gordon.edu/hu/bi/ted_hildebrandt/otesources/19-psalms/text/articles/bosma-ps67-ctj.pdf"">full article (pdf) at gordon.edu</a>,
<a target="_blank" href="{{=URL('static', 'docs/methods/2001_TalstraBosma_Psalm67.pdf')}}">full article (pdf)</a>.
</div>
<div class="ref_meta">
Calvin Theological Journal, no. 36 (n.d.): 290–313.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep, and Constantijn J. Sikkel (2000)</h2>
<dl class="ref">
<dt class="ref_title">Genese Und Kategorienentwicklung Der WIVU-Datenbank</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Ad Fontes! Quellen Erfassen - Lesen - Deuten, edited by Hardmeier, Christof, Syring, Range, and Eep Talstra, 15:22–68. APPLICATIO. Amsterdam: VU University Press, 2000.
</div>
</div>

<div class="ref_download">
<h2 class="ref_head">Talstra, Eep (2000)</h2>
<dl class="ref">
<dt class="ref_title">Computer-assisted linguistic analysis. The Hebrew Database used in Quest.2</dt>
<dd class="ref_summary">
<p>The emphasis in my contribution being on data types and data structures,
the main focus will be on the research needed to produce linguistically analyzed Hebrew text data
and the impact this research has on grammatical and exegetical research in general.
As a tool for retrieval, Quest2 will allow its user to retrieve from the database of Old Testament text
a variety of grammatical and lexical data.
So the challenge for the data producer is: how does one define and store the following data?
</p>
</dd>
</dl>
<div class="ref_links">
<a target="_blank" href="{{=URL('static', 'docs/methods/2000_Talstra_QuestDataTypes.pdf')}}">full article (pdf)</a>.
</div>
<div class="ref_meta">
In: J.A.Cook (ed.): Bible and Computer. The Stellenbosch AIBI-6 Conference.
2000-07-17/21, Stellenbosch: Proceedings of the Association Internationale Bible et Informatique. Brill, Leiden, 2002, 3-22.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (1999)</h2>
<dl class="ref">
<dt class="ref_title">Texts and Their Readers: On Reading the Old Testament in the Context of Theology</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In The Rediscovery of the Hebrew Bible. Amsterdamse Cahiers Voor Exegese van de Bijbel En Zijn Tradities. Supplement Series. Maastricht: Shaker, 1999.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (1998)</h2>
<dl class="ref">
<dt class="ref_title">From the 'Eclipse' to the 'Art' of Biblical Narrative: Reflections on Methods of Biblical Exegesis</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Perspectives in the Study of the Old Testament and Early Judaism : A Symposium in Honour of Adams S. van Der Woude on the Occasion of His 70th Birthday, xi, 284. Supplements to Vetus Testamentum. Leiden, Boston: Brill, 1998.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep(1997)</h2>
<dl class="ref">
<dt class="ref_title">Deuteronomy 31: Confusion or Conclusion? The Story of Moses’ Threefold Succession</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Deuteronomy and Deuteronomic Literature, 88–95. Leuven: Leuven University Press, 1997.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (1997)</h2>
<dl class="ref">
<dt class="ref_title">A Hierarchy of Clauses in Biblical Hebrew Narrative</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Narrative Syntax and the Hebrew Bible: Papers of the Tilburg Conference 1996, 85–118. Biblical Interpretation Series. Leiden, New York: Brill, 1997.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (1995)</h2>
<dl class="ref">
<dt class="ref_title">Clause Types, Textual Hierarchy, Translation</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
In Narrative and Comment : Contributions to Discourse Grammar and Biblical Hebrew Presented to Wolfgang Schneider. Amsterdam: Societas Hebraica Amstelodamensis, 1995.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (1995)</h2>
<dl class="ref">
<dt class="ref_title">Narrative and Comment : Contributions to Discourse Grammar and Biblical Hebrew Presented to Wolfgang Schneider</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Amsterdam: Societas Hebraica Amstelodamensis, 1995.
</div>
</div>

<div class="ref_download">
<h2 class="ref_head">Verheij, Arian (1994)</h2>
<dl class="ref">
<dt class="ref_title">Grammatica Digitalis I - The Morphological Code in the “Werkgroep Informatica” Computer Text of the Hebrew Bible</dt>
<dd class="ref_summary">
<p>The former Werkgroep Informatica at the Vrije Universiteit, Amsterdam (currently: Eep Talstra Centre for Bible and Computer)
has created a morphologically coded data base of the Hebrew Bible.
Grammatica Digitalis offers a detailed description of the morphological coding system.
The form KTB[TJ, for instance, represents the Hebrew word כָּתַבְתִּי (katabtî – ‘I have written’),
indicating that it has two elements, a lexical part, KTB, and a verbal suffix, TJ.
This means it is a verb, perfect (qatal), 1st singular. The absence of any binyan marker signals the verb is of the Qal binyan.
</p>
</dd>
</dl>
<div class="ref_links">
<a target="_blank" href="{{=URL('static', 'docs/methods/1994_Verheij_Grammatica_Digitalis_I.pdf')}}">full article (pdf)</a>,
<a target="_blank" href="http://www.arianverheij.nl/digitalis">website author</a>.
</div>
<div class="ref_meta">
1994, Amsterdam: VU University Press. ISBN 9053832793.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep, and Archibald L. H. M. van Wieringen (1992)</h2>
<dl class="ref">
<dt class="ref_title">A Prophet on the Screen: Computerized Description and Literary Interpretation of Isaianic Texts</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Amsterdam: VU University Press, 1992.
</div>
</dl>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep, and Christof F. Hardmeier (1989)</h2>
<dl class="ref">
<dt class="ref_title">Sprachgestalt Und Sinngehalt: Wege Zu Neuen Instrumenten Der Computergestützten Textwahrnehmung</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
<a href="http://www.swetswise.com/link/access_db?issn=0044-2526">here</a>,
<a href="http://www.extenza-eps.com/extenza/contentviewing/viewJournal.do?journalId=443">here</a>.
</div>
<div class="ref_meta">
Zeitschrift Für Die Alttestamentliche Wissenschaft 101 (1989).
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Talstra, Eep (1987)</h2>
<dl class="ref">
<dt class="ref_title">Towards a Distributional Definition of Clauses in Classical Hebrew: A Computer-Assisted Description of Clauses and Clause Types in Deut 4,3-8</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
Ephemerides Theologicae Lovanienses 63 (1987): 95–105.
</div>
</div>

<div class="ref_nodownload">
<h2 class="ref_head">Schneider, Wolfgang, and Oskar Grether (1974)</h2>
<dl class="ref">
<dt class="ref_title">Grammatik Des Biblischen Hebräisch: Ein Lehrbuch</dt>
<dd class="ref_summary"></dd>
</dl>
<div class="ref_links">
</div>
<div class="ref_meta">
München: Claudius-Verlag, 1974.
</div>

<script type="text/javascript">
var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('h2').each(function() {
    var r =  $(this).closest('div')
    var summ = r.find('dd.ref_summary')
    if (summ.html() != '') {
        var tit = r.find('dt')
        var orig = tit.html()
        tit.html(detailcontrols+'&nbsp;'+orig)
    }
})
$('dd').hide()
$('.hidec').hide()
$('.showc').show()
$('.hidec').click(function(e) {e.preventDefault();
    var refo = $(this).closest('div')
    refo.find('dd').hide()
    refo.find('.hidec').hide()
    refo.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var refo = $(this).closest('div')
    refo.find('dd').show()
    refo.find('.hidec').show()
    refo.find('.showc').hide()
})
</script>
