{{ left_sidebar_enabled = True }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<p style="background-color: #ffaa22; font-weight: bold;">The time line of papers is work in progress</p>

<div class="method" id="timeline">
<h4>Timeline</h4>
<p>Here are papers that describe the developing encoding practice of the ETCBC (formerly WIVU) in their efforts to
provide extensive and exhaustive linguistic annotations to the Hebrew Bible.
</div>

<div class="method" id="Peursen_2007">
<h4>2007 Wido Th. van Peursen and Eep Talstra: Computer-Assisted Analysis of Parallel Texts in the Bible - 
The Case of 2 Kings xviii-xix and its Parallels in Isaiah and Chronicles</h4>
<p><i>Abstract</i></p>
<p>In literary-critical and text historical studies of the Bible the comparison of parallel texts plays an important role.
Starting from the description of the proximity of parallel texts as a continuum from very close to very loose,
this article discusses the way in which the computer can facilitate a comparison of various types of parallel texts.
2 Kings 18-19 and Isaiah 37-38 are taken as an example of two closely related texts.
The Kings chapters and their parallels in 2 Chronicles 32 occupy a position at the other side of the continuum.
These chapters differ so much, that it is sometimes impossible to establish which verses should be considered parallel.
The computer-assisted analysis brings to light some striking correspondences, that disappear in traditional synopses,
such as Ben Davids Parallels in the Bible.
These observations have an impact on our evaluation of the Chronicler's user of his sources and his literary taste.</p>
<p><a target="_blank" href="{{=URL('static', 'docs/methods/2007_Peursen_Parallels.pdf')}}">full article (pdf)</a></p>
<p><a target="_blank" href="https://www.academia.edu/4388383/Computer-Assisted_Analysis_of_Parallel_Texts_in_the_Bible._The_Case_of_2_Kings_xviii-xix_and_Its_Parallels_in_Isaiah_and_Chronicles">on academia.edu</a></p>
<div class="refs">
<p>In:
<i>Vetus Testamentum</i> 57, pp. 45-72.</p>
<p>2007, Brill, Leiden.</p>
<p><a target="_blank" href="http://dx.doi.org/10.1163/15685337X167855">DOI: 10.1163/15685337X167855</a></p>
</div>
</div>

<div class="method" id="Talstra_2003">
<h4>2003-10 Eep Talstra: Text segmentation and linguistic levels - Preparing data for SESB</h4>
<p><i>Linguistic data beyond word level?</i></p>
<p>One question for many years already has been dominant in the research of the ’Werkgroep Informatica in its preparation of
linguistically analysed text data for projects such as the Stuttgart Electronic Study Bible (SESB).
It is the question how to get beyond word-level in the linguistic analysis of Hebrew and Aramaic texts of the Bible.
It may sound as an relatively easy task: once you have made a database of the Bible with an analysis of all its Hebrew and Aramaic words,
simply proceed by analysing phrases, subjects, predications, sentences, etc. However, in trying to do so, one rapidly finds out two things.
</p>
<p><a target="_blank" href="{{=URL('static', 'docs/methods/2003_Talstra_Handbook.pdf')}}">full article (pdf)</a></p>
<div class="refs">
<p>In: <b>C.Hardmeier, E. Talstra, B. Salzmann</b>:
<i>Handbuch/Instruction manual SESB (Stuttgart Elektronic Study Bible)</i>, pp. 23-32.</p>
<p>2004, Stuttgart: Deutsche Bibelgesellschaft; Haarlem: Nederlands Bijbelgenootschap.</p>
</div>
<p>See also: W. Th. van Peursen and J.W. Dyk (eds.): Tradition and Innovation in Biblical Interpretation - Studies presented to Professor
Eep Talstra on the Occasion of his Sixty-Fifth Birthday. Studia Semitica Neerlandica, Brill, 2011.
<a target="_blank" href="https://books.google.nl/books?id=A5Bcm8wqwKEC">read in Google Books</a>.</p>
</div>

{{block left_sidebar}}
<div id="method_list">
<p>&nbsp;</p>
<dl>
<dt class="exp"><a href="#" class="methodc" mid="timeline">Time line</a></dt>
<dd class="exp">Historical Overview of ETCBC/WIVU papers</dd>
<hr/>

<dt class="exp"><a href="#" class="methodc" mid="Peursen_2007">2007 Van Peursen and Talstra</a></dt><dd class="exp"><p></p></dd><hr/>
<dt class="exp"><a href="#" class="methodc" mid="Talstra_2003">2003 Talstra</a></dt><dd class="exp"><p></p></dd><hr/>

</dl>
</div>

{{end}}
<script type="text/javascript">
var Request = {
    parameter: function(name) {
        return this.parameters()[name]
    },
    parameters: function(uri) {
        var i, parameter, params, query, result;
        result = {};
        if (!uri) {
            uri = window.location.search;
        }
        if (uri.indexOf("?") === -1) {
            return {};
        }
        query = uri.slice(1);
        params = query.split("&");
        i = 0;
        while (i < params.length) {
            parameter = params[i].split("=");
            result[parameter[0]] = parameter[1];
            i++;
        }
        return result;
    }
}

function methods_init() {
    var gotomethod = Request.parameter('goto');
    $('a[mid="timeline"]').click()
    $('a[mid="'+gotomethod+'"]').click()
}

var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('dt.exp').each(function() {
    var orig = $(this).html()
    $(this).html(detailcontrols+'&nbsp;'+orig)
})
$('dd.exp').hide()
$('.hidec').hide()
$('.showc').show()
$('.hidec').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.hide()
    dt.find('.hidec').hide()
    dt.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.show()
    dt.find('.hidec').show()
    dt.find('.showc').hide()
})
$('div.method').hide()
$('.methodc').click(function(e) {e.preventDefault();
    $('dt.exp').removeClass('mhl')
    $(this).closest('dt').addClass('mhl')
    $('div.method').hide()
    $('#'+$(this).attr('mid')).show()
})
$(function () {
    var subtract = 80
    standard_height = window.innerHeight - subtract
    var canvas_middle = $('.span9')
    var canvas_left = $('#method_list')
    canvas_middle.css('overflow', 'auto')
    canvas_middle.css('height', standard_height+'px')
    canvas_left.css('overflow', 'auto')
    canvas_left.css('height', standard_height+'px')
    methods_init()
})
</script>
