{{ left_sidebar_enabled = True }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<div class="tool" id="tools">
<h4>Tools</h4>
<p>This is a collection of tools based on the ETCBC database.
Each tool is a notebook that reports on a research question.
It contains the results,and provides a way to reproduce them.
Notebooks contain code and documentation, and any data they refer to, is stored on
this website.</p>
</div>

<div class="tool" id="parallel">
<h4>Parallel Passages</h4>
<img src="{{=URL('static', 'docs/tools/parallel/images/parallel.png')}}" align="right" width="50%"/>
<p>Various ways of detecting similar passages have been tried out.
The notebook provides access to the outcomes of those experiments.
You can navigate to all variants and see parallel passages brought together,
with differences hightlighted.</p>
<p><a target="_blank" href="{{=URL('static', 'docs/tools/parallel/parallels.html')}}">View notebook</a></p>
<p><a target="_blank" href="{{=URL('static', 'docs/tools/parallel/parallels.ipynb')}}" download="parallels.ipynb">Download notebook</a></p>
The outcomes of the best experiments have been added to SHEBANQ as the note set
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='Mnxjcm9zc3JlZg__', tp='txt_tb1', nget='v'))}}">crossref</a>.
See it in action in
<a href="{{=URL('hebrew', 'text', vars=dict(npub='x', nget='v', chapter=10, book='Genesis', tp='txt_tb1', iid='Mnxjcm9zc3JlZg__', version='4b', mr='m'))}}">Genesis 10</a>.</p>
</div>

<div class="tool" id="valence">
<h4>Verbal Valence</h4>
<img src="{{=URL('static', 'docs/tools/valence/images/flowchart.png')}}" align="right" width="50%"/>
<p>The context of selected verbs are categorized.
For each of their occurrences it is recorded which kind of complements and other constituents are present.
Depending on the pattern, sense of the verb is selected by means of a <i>flowchart</i>.</p>
<p><a target="_blank" href="{{=URL('static', 'docs/tools/valence/flowchart.html')}}">View notebook</a></p>
<p><a target="_blank" href="{{=URL('static', 'docs/tools/valence/flowchart.ipynb')}}" download="flowchart.ipynb">Download notebook</a></p>
The outcomes have been added to SHEBANQ as the note set
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='Mnx2YWxlbmNl', tp='txt_tb1', nget='v'))}}">valence</a>.</p>
<p class='warning'>This tool is <b>eperimental</b>. The algorithm and the results will change, and more verbs will be added over time.</p>
<p>If you have feed back on particular cases, pleas add your notes directly in SHEBANQ at the clause where it applies,
and give it the label <code>val_note</code>.</p>
</div>

{{block left_sidebar}}
<p>&nbsp;</p>
<dl>
<dt class="exp"><a href="#" class="toolc" tid="tools">Tools</a></dt>
<dd class="exp">Overview</dd>
<hr/>

<dt class="exp">
<a href="#" class="toolc" tid="parallel">Parallel Passages</a></dt>
<dd class="exp"><p>An inventory of <i>parallel</i> passages in the Hebrew Bible.</p></dd>
<img src="{{=URL('static', 'docs/tools/parallel/images/parallel-lr.png')}}"/>
<hr/>

<dt class="exp">
<a href="#" class="toolc" tid="valence">Verbal Valence (bet)</a></dt>
<dd class="exp"><p>Categorizing verbal <i>valence</i> patterns in the Hebrew Bible.</p></dd>
<img src="{{=URL('static', 'docs/tools/valence/images/flowchart-lr.png')}}"/>
<hr/>

</dl>

{{end}}
<script type="text/javascript">
var Request = {
    parameter: function(name) {
        return this.parameters()[name]
    },
    parameters: function(uri) {
        var i, parameter, params, query, result;
        result = {};
        if (!uri) {
            uri = window.location.search;
        }
        if (uri.indexOf("?") === -1) {
            return {};
        }
        query = uri.slice(1);
        params = query.split("&");
        i = 0;
        while (i < params.length) {
            parameter = params[i].split("=");
            result[parameter[0]] = parameter[1];
            i++;
        }
        return result;
    }
}

function tools_init() {
    var gototool = Request.parameter('goto');
    $('a[tid="tools"]').click()
    $('a[tid="'+gototool+'"]').click()
}

var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('dt.exp').each(function() {
    var orig = $(this).html()
    $(this).html(detailcontrols+'&nbsp;'+orig)
})
$('dd.exp').hide()
$('.hidec').hide()
$('.showc').show()
$('.hidec').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.hide()
    dt.find('.hidec').hide()
    dt.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.show()
    dt.find('.hidec').show()
    dt.find('.showc').hide()
})
$('div.tool').hide()
$('.toolc').click(function(e) {e.preventDefault();
    $('dt.exp').removeClass('thl')
    $(this).closest('dt').addClass('thl')
    $('div.tool').hide()
    $('#'+$(this).attr('tid')).show()
})
$(function () {
    var subtract = 150
    standard_height = window.innerHeight - subtract
    var canvas_middle = $('.span9')
    var canvas_right = $('#relapps')
    canvas_middle.css('overflow', 'auto')
    canvas_middle.css('height', standard_height+'px')
    canvas_right.css('overflow', 'auto')
    canvas_right.css('height', standard_height+'px')
    tools_init()
})
</script>
