{{ left_sidebar_enabled = True }}
{{ right_sidebar_enabled = False }}
{{ ('message' in globals()) }}
{{ extend 'layout.html' }}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>
{{pass}}

<div class="tool" id="tools">
<h4>Tools</h4>
<p>This is a collection of tools based on the ETCBC database.
Each tool is a notebook that reports on a research question.
It contains the results,and provides a way to reproduce them.
Notebooks contain code and documentation, and any data they refer to, is stored on
this website.
<p>
</div>

<div class="tool" id="parallel">
<h4>Parallel Passages</h4>
<img src="{{=URL('static', 'images/parallel.png')}}" align="right" width="50%"/>
<p>Various ways of detecting similar passages have been tried out.
The notebook provides access to the outcomes of those experiments.
You can navigate to all variants and see parallel passages brought together,
with differences hightlighted.</p>
<p><a target="_blank" href="{{=URL('static', 'docs/tools/parallel/parallels.html')}}">View notebook</a></p>
<p><a target="_blank" href="{{=URL('static', 'docs/tools/parallel/parallels.ipynb')}}" download="parallels.ipynb">Download notebook</a></p>
The outcomes of the best experiments have been added to SHEBANQ as the note set
<a href="{{=URL('hebrew','note', vars=dict(version='4b',id='Mnxjcm9zc3JlZg__', tp='txt_tb1', nget='v'))}}">crossref</a>.</p>
</div>

{{block left_sidebar}}
<dl>
<dt class="exp"><a href="#" class="toolc" tid="tools">Tools</a></dt>
<dd class="exp">Overview</dd>

<dt class="exp">
<a href="#" class="toolc" tid="parallel">Parallel Passages</a></dt>
<dd class="exp"><p>An inventory of <i>parallel</i> passages in the Hebrew Bible.</p></dd>
<img src="{{=URL('static', 'images/parallel-lr.png')}}"/>

</dl>

{{end}}
<script type="text/javascript">
var Request = {
    parameter: function(name) {
        return this.parameters()[name]
    },
    parameters: function(uri) {
        var i, parameter, params, query, result;
        result = {};
        if (!uri) {
            uri = window.location.search;
        }
        if (uri.indexOf("?") === -1) {
            return {};
        }
        query = uri.slice(1);
        params = query.split("&");
        i = 0;
        while (i < params.length) {
            parameter = params[i].split("=");
            result[parameter[0]] = parameter[1];
            i++;
        }
        return result;
    }
}

var ll_url = "{{=XML(URL('tools', 'lexiconlist.json', host=True))}}"
function tools_init() {
    var gototool = Request.parameter('goto');
    $('a[tid="tools"]').click()
    $('a[tid="'+gototool+'"]').click()
}

var detailcontrols = '<a class="showc fa fa-chevron-right" href="#" title="Show details"></a><a class="hidec fa fa-chevron-down" href="#" title="Hide details"></a>'
$('dt.exp').each(function() {
    var orig = $(this).html()
    $(this).html(detailcontrols+'&nbsp;'+orig)
})
$('dd.exp').hide()
$('.hidec').hide()
$('.showc').show()
$('.hidec').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.hide()
    dt.find('.hidec').hide()
    dt.find('.showc').show()
})
$('.showc').click(function(e) {e.preventDefault();
    var dt = $(this).closest('dt')
    var dd = dt.next()
    dd.show()
    dt.find('.hidec').show()
    dt.find('.showc').hide()
})
$('div.tool').hide()
$('.toolc').click(function(e) {e.preventDefault();
    $('dt.exp').removeClass('thl')
    $(this).closest('dt').addClass('thl')
    $('div.tool').hide()
    $('#'+$(this).attr('tid')).show()
})
$(function () {
    var subtract = 150
    standard_height = window.innerHeight - subtract
    var canvas_middle = $('.span9')
    var canvas_right = $('#relapps')
    canvas_middle.css('overflow', 'auto')
    canvas_middle.css('height', standard_height+'px')
    canvas_right.css('overflow', 'auto')
    canvas_right.css('height', standard_height+'px')
    tools_init()
})
</script>
