<div>
<div id="material_message">
{{if msg is not None:}}
    <div class="exception">{{=msg}}</div>
{{pass}}
{{
pagelb = 'pages' if pages != 1 else 'page'
verselb = 'verses' if results != 1 else 'verse'
}}
{{if mr == 'm':}}
    <p>{{=results}} verses</p>
{{else:}}
    {{if qw == 'q':}}
        {{if pages == 0:}}
    <p>No query results</p>
        {{elif page > pages:}}
    <p>No result page {{=page}} (only {{=pages}} result {{=pagelb}})</p>
        {{else:}}
    <p>{{=pages}} {{=pagelb}} with {{=results}} {{=verselb}}<p>
        {{pass}}
    {{elif qw == 'w':}}
        {{if page == 0:}}
    <p>No word occurrences.</p>
        {{elif page > pages:}}
    <p>No result page {{=page}} (only {{=pages}} result {{=pagelb}})</p>
        {{else:}}
    <p>{{=pages}} {{=pagelb}} with {{=results}} {{=verselb}}</p>
        {{pass}}
    {{pass}}
{{pass}}
</div>

<div id="material_select">
{{if mr == 'r':}}
    <span id="select_contents_page">
        <input type="hidden" id="rp_pages" value="{{=pages}}">
        <input type="hidden" id="rp_pagelist" value="{{=pagelist}}">
    </span>
{{pass}}
</div>

<div id="material_content">
    <input type="hidden" id="themonads" value="{{=monads}}"/>
{{ if material != None: }}
    {{ua = request.user_agent().browser.name}}
    {{if len(material.verses) > 0: }}
        {{tp = material.tp}}
        {{for verse in material.verses:}}
            <div class="{{=tp}}">
            {{if material.mr == 'm':}}
                <span class="vnum">{{=verse.label()}}</span>
            {{else:
                (label, book, chapter) = verse.label()
            }}
                <span class="vref"><a href="#" book="{{=book}}" chapter="{{=chapter}}" class="vref">{{=label}}</a></span>
            {{pass}}
                <span>{{=XML(verse.material(ua))}}</span>
            </div>
        {{ pass }}
    {{ pass }}
{{ else: }}
    No material found.
{{ pass }}
</div>
</div>

