{{ left_sidebar_enabled = True }}
{{ extend 'layout.html' }}

{{ block head }}
<script type="text/javascript">
var view_url = "{{=XML(URL(host=True))}}"
var chapter_url = "{{=XML(URL('hebrew', 'verses', host=True))}}"
var side_url = "{{=XML(URL('hebrew', 'side', host=True))}}"
var thebooks = {{=XML(books)}}
var thebooksorder = {{=XML(booksorder)}}
</script>
{{ end }}

<div class="passageselect"><a id="chapterselect_control" href="#">chapters of</a>&nbsp;</span>
<div class="pagination" id="chapterselect"></div>
<div class="passageselect"><select id="bookselect"></select></div>
<script type="text/javascript">
init_books()
refresh_books()
</script>


{{include 'hebrew/view_settings.html'}}

<div id="verses">
</div>

{{ block left_sidebar }}
<div>
    <a id="s_side_w" href="#">show words</a>
    <a id="h_side_w" href="#">hide words</a>
</div>
<div id='side_items_w'>
</div>

<div>
    <a id="s_side_q" href="#">show queries</a>
    <a id="h_side_q" href="#">hide queries</a>
</div>
<div id='side_items_q'>
</div>

{{ end }}

