{{extend 'layout.html'}}
<input type="text" id="search_contents"/>&nbsp;
<a class="ctrl" href="#" id="search_control">show matches</a>&nbsp;
<a class="ctrl" href="#" id="search_clear">show all</a>
<div id="public_queries">
<ul>
{{ for oname in sorted(tree): }}
    <li class="jstree-open">{{=oname}}
        <ul>
{{     for pname in sorted(tree[oname]): }}
            <li class="jstree-open">{{=pname}}
                <ul>
{{         for uname in sorted(tree[oname][pname]): }}
                    <li class="jstree-closed">{{=uname}}
                        <ul>
{{             for qid in sorted(tree[oname][pname][uname]):
                    qname = tree[oname][pname][uname][qid]
}}
                            <li>{{=A(qname, _href=URL('hebrew', 'text', vars=dict(iid=qid, mr='r', qw='q')))}}
                            </li>
{{             pass }}
                        </ul>
                    </li>
{{         pass }}
                </ul>
            </li>
{{     pass }}
        </ul>
    </li>
{{ pass }}
</ul>
</div>
<script type="text/javascript">
$(function () {
        $('#public_queries').jstree({
        "core" : {
            "expand_selected_onload" : true,
            "themes" : {
                "icons" : false,
                "dots" : false,
             },
        },
        "plugins" : [ "wholerow", "checkbox", "sort", "search" ],
        "checkbox" : { "whole_node" : false },
        "search" : { "show_only_matches" : true },
    })
})
$('#public_queries').on('changed.jstree', function (e, data) {
    lnk = data.node.a_attr.href
    if (lnk != '#') {
        window.location.href = lnk
    }
  })

$('#search_clear').hide()

$('#search_control').click(function() {
    pat = $('#search_contents').val()
    if (pat == '') {
        $('#search_contents').val('search string')
    }
    else {
        $('#public_queries').jstree(true).search(pat)
        $('#search_clear').show()
    }
})

$('#search_clear').click(function() {
    $('#public_queries').jstree(true).clear_search()
    $('#search_clear').hide()
})
</script>
