{{ right_sidebar_enabled = True }}
{{extend 'layout.html'}}

<div id="public_queries"></div>

{{ block right_sidebar }}

<h4>Filter</h4>
<input type="text" id="search_contents"/></p>
<p><a class="ctrl" href="#" id="search_control_b">all matches</a></p>
<p><a class="ctrl" href="#" id="search_control_l">in queries only</a></p>
<p><a class="ctrl" href="#" id="search_clear">back</a></p>

<h4>Level</h4>
<p><a class="ctrl" href="#" id="org_c">organizations</a></p>
<p><a class="ctrl" href="#" id="prj_c">projects</a></p>
<p><a class="ctrl" href="#" id="usr_c">users</a></p>
<p><a class="ctrl" href="#" id="qur_c">queries</a></p>

<script type="text/javascript">
var pq_url = "{{=XML(URL('hebrew', 'pq', extension='json'))}}"
console.log(pq_url)
var ns = $.initNamespaceStorage('muting')
var muting = ns.localStorage
var ftw

function expand_all() {
    ftw.visit(function(n) {
        n.setExpanded(true, {noAnimation: true, noEvents: true})
    }, true)
}

function expand_level(level) {
    ftw.visit(function(n) {
        nlevel = n.getLevel()
        n.setExpanded(nlevel <= level , {noAnimation: true, noEvents: true})
    }, true)
}

function pqsearch(all) {
    pat = $('#search_contents').val()
    if (pat == '') {
        $('#search_contents').val('search string')
    }
    else {
        expand_all()
        if (all) {
            ftw.filterBranches(pat)
        }
        else {
            ftw.filterNodes(pat, true)
        }
        $('#search_clear').show()
    }
}

$('#search_clear').hide()

$('#search_control_b').click(function() {
    pqsearch(true)
})

$('#search_control_l').click(function() {
    pqsearch(false)
})

$('#search_clear').click(function() {
    ftw.clearFilter()
    $('#search_clear').hide()
})
$('#org_c').click(function() {expand_level(1)})
$('#prj_c').click(function() {expand_level(2)})
$('#usr_c').click(function() {expand_level(3)})
$('#qur_c').click(function() {expand_level(4)})

function store_select_deep(node) {
    store_select(node)
    var children = node.children
    if (children != null) {
        for (n in children) {
            store_select_deep(children[n])
        }
    }
}

function store_select(node) {
    if (!node.folder) {
        var iid = node.key
        if (node.selected) {
            muting.set(iid, 1)
        }
        else {
            if (muting.isSet(iid)) {
                muting.remove(iid)
            }
        }
    }
}

$(function(){
    $("#public_queries").fancytree({
        extensions: ["persist", "filter"],
        checkbox: true,
        selectMode: 3,
        activeVisible: true,
        toggleEffect: false,
        clickFolderMode: 2,
        focusOnSelect: false,
        quicksearch: true,
        persist: {
            store: 'local',
            types: 'expanded selected',
        },
        source: {
            url: pq_url,
        },
        filter: {
            mode: 'hide',
        },
        init: function(e, data) {
            muting.removeAll()
            ftw =  $("#public_queries").fancytree('getTree')
            var s = ftw.getSelectedNodes(true)
            for (i in s) {
                store_select_deep(s[i])
            }
            $('#public_queries a.md span').addClass('ui-icon ui-icon-lightbulb')
            $('#public_queries a.md').click(function() {
                var uname = $(this).closest('ul').closest('li').find('span[n]').html()
                var prev = $(this).prev()
                var lnk = prev.attr('href')
                var qname = prev.html()
                window.prompt('Press <Cmd-C> and then <Enter> to copy link on clipboard', '['+uname+': '+qname+']('+lnk+')')
            })
        },
        select: function(e, data) {
            store_select_deep(data.node)
        },
    })
})
</script>

{{ end }}

