{{extend 'layout.html'}}
<input type="text" id="search_contents"/>&nbsp;
<a class="ctrl" href="#" id="search_control">show matches</a>&nbsp;
<a class="ctrl" href="#" id="search_clear">back</a>
<p>Public Queries ({{=qcount['']}})</p>
<div id="public_queries">
<ul>
{{ for oname in sorted(tree): }}
    <li class="jstree-open">{{=oname}} ({{=qcount['o'][oname]}})
        <ul>
{{     for pname in sorted(tree[oname]): }}
            <li>{{=pname}} ({{=qcount['p'][oname][pname]}})
                <ul>
{{         for uname in sorted(tree[oname][pname]): }}
                    <li>{{=uname}} ({{=qcount['u'][oname][pname][uname]}})
                        <ul>
{{             for qid in sorted(tree[oname][pname][uname]):
                    qname = tree[oname][pname][uname][qid]
}}
                            <li>{{=A(qname, _href=URL('hebrew', 'text', vars=dict(iid=qid, mr='r', qw='q')))}}
                            </li>
{{             pass }}
                        </ul>
                    </li>
{{         pass }}
                </ul>
            </li>
{{     pass }}
        </ul>
    </li>
{{ pass }}
</ul>
</div>
<script type="text/javascript">
var searches = []
$(function () {
        $('#public_queries').jstree({
        "core" : {
            "expand_selected_onload" : true,
            "themes" : {
                "icons" : false,
                "dots" : false,
             },
        },
        "plugins" : [ "wholerow", "checkbox", "sort", "search" ],
        "checkbox" : { "whole_node" : false },
        "search" : {
            "show_only_matches" : false,
            "search_callback" : function(pat, node) {
                var found = false
                var pqo = $('#public_queries').jstree(true)
                var text = pqo.get_text(node).toLowerCase()
                if (text.indexOf(pat.toLowerCase()) >= 0) {
                    found = true
                    searches.push(node)
                }
                return found
            }
        },
    })
})
$('#public_queries').on('changed.jstree', function (e, data) {
    lnk = data.node.a_attr.href
    if (lnk != '#') {
        window.location.href = lnk
    }
  })

$('#search_clear').hide()

$('#search_control').click(function() {
    pat = $('#search_contents').val()
    if (pat == '') {
        $('#search_contents').val('search string')
    }
    else {
        searches = []
        var pqo = $('#public_queries').jstree(true)
        $('#public_queries').jstree(true).search(pat)
        for (i in searches) {
            node = searches[i]
            pqo.open_node(node)
            pqo.draw_children(node)
        }
        $('#search_clear').show()
    }
})

$('#search_clear').click(function() {
    $('#public_queries').jstree(true).clear_search()
    $('#search_clear').hide()
})
</script>
