{{ left_sidebar_enabled = True }}
{{ right_sidebar_enabled = True }}
{{extend 'layout.html'}}

<input type="hidden" id="query_id" value="{{=query_id or 0}}"/>
<div id="queries"></div>

{{ block left_sidebar }}

<p>
    <a href="#" id="c_view_simple" class="ctl qvradio">simple</a>
    <a href="#" id="c_view_advanced" class="ctl qvradio">advanced</a>
</p>

<p>Recent
<a href="#" id="reload_recentq" class="ctl fa fa-refresh" title="refresh recent query list"></a>
{{feedUrl = URL('feed', 'atom', host=True, extension='')}}
<a href="{{=feedUrl}}" target="_blank" class="ctl fa fa-rss" title="rss-atom feed for shared queries"></a>
<a href="http://cloud.feedly.com/#subscription%2Ffeed%2F{{=feedUrl.replace('/', '%2F').replace(':', '%3A')}}"
   title="follow queries in feedly"
   target="blank"><img id="feedlyFollow" src="{{=URL('static', 'images/feedly-follow-logo-green_2x.png')}}"
   alt="follow queries in feedly" width="28" height="28"></a>
</p>
</p>
<div id="recentq">
<div id="recentqi"></div>
</div>
<p><span id="msg_qr"></span>

<h4>Filter</h4>
<input type="text" id="filter_contents"/> <span id="filter_msg"></span></p>
<p class="brq"><a class="ctl qfradio" href="#" id="filter_control_a">all matches</a>
<span id="allmatches">&nbsp;</span>
</p>
<p><a class="ctl qfradio" href="#" id="filter_control_c">all with children</a>
<span id="branchmatches">&nbsp;</span>
</p>
<p class="brq"><a class="ctl qfradio" href="#" id="filter_control_q">in all queries</a>
<span id="querymatches">&nbsp;</span>
</p>
<p><a class="ctl qfradio" href="#" id="filter_control_m">in my queries</a>
<span id="mymatches">&nbsp;</span>
</p>
<p class="brq"><a class="ctl qfradio" href="#" id="filter_control_r">in private queries</a>
<span id="privatematches">&nbsp;</span>
</p>
<p><a class="ctl qfradio" href="#" id="filter_clear">clear filter</a></p>

<h4>Level</h4>
<p><a class="ctl qlradio" href="#" id="level_o">organizations</a> (<span id='count_o'></span>)</p>
<p><a class="ctl qlradio" href="#" id="level_p">projects</a> (<span id='count_p'></span>)</p>
<p><a class="ctl qlradio" href="#" id="level_u">users</a> (<span id='count_u'></span>)</p>
<p><a class="ctl qlradio" href="#" id="level_q">queries</a> (<span id='count_q'></span>)</p>
<p><a class="ctl qlradio" href="#" id="level_">manual</a></p>

<script src="{{=URL('static','js/jquery.fancytree-all.min.js')}}"></script>
<script type="text/javascript">{{=XML(pageConfig)}}</script>
<script src="{{=URL('static', 'js/app/querytree.js')}}" type="module"></script>

{{ end }}

{{ block right_sidebar }}

<h3><a title="new query" class="n_q" href="#"></a> Enter new query</h3>
<p id="lmsg">You have to be logged in to enter new queries.</p>
<div id="opqforms">
    <div class="formquery" id="form_o">
        <h4><span id="title_o">New</span> organization</h4>
        <table>
            <tr id="nameline_org"><td><span class="fieldlabel">Name</span></td><td><input type="text" id="name_o"/></td></tr>
            <tr><td><span class="fieldlabel">Website</span></td><td><input type="text" id="website_org"/><a target="_blank" href="" id="org_of_query_view" org_id=""></a></td></tr>
        </table>
    </div>

    <div class="formquery" id="form_p">
        <h4><span id="title_p">New</span> project</h4>
        <table>
            <tr id="nameline_project"><td><span class="fieldlabel">Name</span></td><td><input type="text" id="name_p"/></td></tr>
            <tr><td><span class="fieldlabel">Website</span></td><td><input type="text" id="website_project"/><a target="_blank" href="" id="project_of_query_view" org_id=""></a></td></tr>
        </table>
    </div>

    <div class="formquery" id="form_q">
        <h4><span id="title_q">New</span> query</h4>
        <table>
            <tr><td class="fieldlabel">Name</td><td><input type="text" id="name_q"/></td></tr>
            <tr>
                <td class="fieldlabel">Organization</td><td><span class="fa fa-check-circle fa-lg s_x" title="select existing organization from the tree"></span>
                    <a target="_blank" href="" id="org_of_query" org_id=""></a></td>
                <td><a id="org_new_ctl" title="new organization" href="#" class="ctl fa fa-plus fa-lg"
                    ></a><a id="org_exist_ctl" title="use existing organization" href="#" class="ctl fa fa-times fa-lg"></a></td>
            </tr>
            <tr class="org_detail"><td><span class="fieldlabel">Name</span></td><td><input type="text" id="nameq_o"/></td></tr>
            <tr class="org_detail"><td><span class="fieldlabel">Website</span></td><td><input type="text" id="websiteq_o"/></td></tr>
            <tr>
                <td class="fieldlabel">Project</td></td><td><span class="fa fa-check-circle fa-lg s_x" title="select existing project from the tree"></span>
                    <a target="_blank" href="" id="project_of_query" pid=""></a></td>
                <td><a id="project_new_ctl" title="new project" href="#" class="ctl fa fa-plus fa-lg"
                    ></a><a id="project_exist_ctl" title="use existing project" href="#" class="ctl fa fa-times fa-lg"></a></td>
            </tr>
            <tr class="project_detail"><td><span class="fieldlabel">Name</span></td><td><input type="text" id="nameq_p"/></td></tr>
            <tr class="project_detail"><td><span class="fieldlabel">Website</span></td><td><input type="text" id="websiteq_p"/></td></tr>
        </table>
    </div>
</div>

<div id="opqctl">
    <div id="opqmsgs"></div>
    <p><a href="#" title="clear diagnostic messages"><span id="trash_opqmsgs" class="ctl ir fa fa-trash fa-lg"></span></a></p>
    <span class="ctlquery" id="ctl_o">
       <a href="#" id="cancel_o" class="ctl fa fa-close fa-lg" title="close WITHOUT saving changes"></a>
       <a href="#" id="save_o" class="ctl fa fa-save fa-lg" title="save changes"></a>
       <a href="#" id="done_o" class="ctl fa fa-check fa-lg" title="save changes and close"></a>
       <input type="hidden" id="id_o" name="obj_id" value="0"/>
    </span>

    <span class="ctlquery" id="ctl_p">
       <a href="#" id="cancel_p" class="ctl fa fa-close fa-lg" title="close WITHOUT saving changes"></a>
       <a href="#" id="save_p" class="ctl fa fa-save fa-lg" title="save changes"></a>
       <a href="#" id="done_p" class="ctl fa fa-check fa-lg" title="save changes and close"></a>
       <input type="hidden" id="id_p" name="obj_id" value="0"/>
    </span>

    <span class="ctlquery" id="ctl_q">
       <a href="#" id="cancel_q" class="ctl fa fa-close fa-lg" title="close WITHOUT saving changes"></a>
       <a href="#" id="save_q" class="ctl fa fa-save fa-lg" title="save changes"></a>
       <a href="#" id="done_q" class="ctl fa fa-check fa-lg" title="save changes and close"></a>
       <input type="hidden" id="id_q" name="obj_id" value="0"/>
    </span>

    <span>
       <a href="#" id="reload_tree" class="ctl fa fa-refresh fa-lg" title="refresh tree"></a>
       <a id="continue_q" href="#" class="ctl fa fa-arrow-right fa-lg" title="go to the query page to edit the query, run it, and view its results"></a>
    </span>
</div>

{{ end }}
