{{if side_items:}}
<ul id="side_list_{{=qw}}">
    {{
    if qw == 'q':
        sortkey = lambda x: (x['item'].created_by.last_name, x['item'].created_by.first_name, x['item'].name)
    else:
        sortkey = lambda x: x['item'].entry_heb
    pass
    for si in sorted(side_items, key=sortkey):
        iid = si['item'].id
        if qw == 'q':
            qname = si['item'].name
            fname = si['item'].created_by.first_name
            lname = si['item'].created_by.last_name
            pname = fname + ' ' + lname
            desc = si['item'].description
            mql = si['item'].mql
            qname_short = qname if len(qname) < 7 else qname[0:7]+'..'
            pname_short = pname if len(pname) < 11 else pname[0:11]+'..'
            title = '{} by {} {}'.format(qname, fname, lname)
            clinktext = pname_short
            dlinktext = qname_short
            cclass = 'qauth'
            dclass = 'qname'
            eclass = 'qdesc'
        elif qw == 'w':
            wentry = si['item']['entryid']
            wgloss = si['item']['gloss']
            pos = si['item']['pos']
            vc = si['item']['g_entry_heb']
            entry_heb = si['item']['entry_heb']
            entryid_heb = si['item']['entryid_heb']
            title = wentry
            clinktext = vc if vc else entry_heb
            dlinktext = wgloss or '?'
            cclass = 'i_hl'
            dclass = 'i_gl'
            eclass = 'wdesc'
        pass
    }}
    <li id="{{='{}{}'.format(qw,iid)}}" iid="{{=iid}}" title="{{=title}}" monads="{{=si['monads']}}">
        <div>{{=XML(colorpicker(qw,iid, ''))}}
            <table class="item_{{=qw}}" id="h_{{=qw}}{{=iid}}"><tr>
            <td class="{{=cclass}}">{{=A(clinktext, _class=cclass, _href='#', _iid=iid, _id='item_{}{}'.format(qw, iid))}}</td>
            <td><span class="ctrl">{{=A(dlinktext, _class=dclass, _href='#', _id='m_{}{}'.format(qw, iid))}}</span></td>
        </tr></table>
        </div>
        <div id="d_{{=qw}}{{=iid}}" class="{{=eclass}}">
        {{if qw == 'q':}}
            <b>{{=qname}}</b> by <i>{{=pname}}</i><br/>
            {{=desc}}<br/>
            <textarea class="mql small" readonly>{{=XML(mql)}}</textarea>
        {{else:}}
            <p class="txt_il">
            &nbsp;<span class="wd1_pos">{{=pos}}</span>&nbsp;
            &nbsp;<span class={{=cclass}}>{{=entryid_heb}}</span>&nbsp;
            &nbsp;<span class={{=cclass}}>{{=wentry}}</span>&nbsp;
            </p>
        {{pass}}
        </div>
    </li>
    {{pass}}
</ul>
{{ pass }}
