<script type="text/javascript">
var query_url = "{{=XML(URL('hebrew','query','',host=True).replace('https://','http://'))}}"
var queries_url = "{{=XML(URL('hebrew', 'queries', extension=''))}}"
var field_url = "{{=XML(URL('hebrew', 'field', extension='json'))}}"
var fields_url = "{{=XML(URL('hebrew', 'fields', extension='json'))}}"
var notes_url = "{{=XML(URL('hebrew', 'notes', extension='json'))}}"
var word_url = "{{=XML(URL('hebrew','word','',host=True).replace('https://','http://'))}}"
var words_url = "{{=XML(URL('hebrew', 'words', extension=''))}}"
var page_view_url = "{{=XML(URL('hebrew', 'text', host=True).replace('https://','http://'))}}"
var view_url = "{{=XML(URL('hebrew', 'text', host=True))}}"
var material_url = "{{=XML(URL('hebrew', 'material', host=True))}}"
var data_url = "{{=XML(URL('hebrew', 'verse', host=True))}}"
var side_url = "{{=XML(URL('hebrew', 'side', host=True))}}"
var item_url = "{{=XML(URL('hebrew', 'item.csv', host=True))}}"
var chart_url = "{{=XML(URL('hebrew', 'chart', host=True))}}"
var bol_url = "http://bibleol.3bmoodle.dk/text/show_text"
var thebooks = {{=XML(books)}}
var thebooksorder = {{=XML(booksorder)}}
</script>
