{{
for (qw, tags) in (('w', 'words'), ('q', 'queries'), ('n', 'notes')):
}}
<div id="side_bar_r{{=qw}}">
    <div id="side_settings_r{{=qw}}">
        <table class="hlsettings">
            <tr>
                {{if qw != 'n':}}
                <td id="colorpicker_i{{=qw}}"></td>
                <td>{{=XML(colorPicker(qw, 'me', ''))}}</td>
                {{pass}}
                {{if qw == 'q':}}
                <td id="thequeryid"></td>
                {{pass}}
                <td>{{
    for v in VERSION_ORDER:
                }}<span id="select_contents_chart_{{=v}}_{{=qw}}"></span>{{
    pass
                }}</td>
            </tr>
        </table>
    </div>
    <div id="side_material_r{{=qw}}"></div>
</div>
<div id="side_bar_m{{=qw}}">
    <a id="side_show_m{{=qw}}" class="ctll" href="#">show {{=tags}}</a>
    <a id="side_hide_m{{=qw}}" class="ctll" href="#">hide {{=tags}}</a>
    <div id="side_settings_m{{=qw}}" class="pnl">
        <table class="hlsettings">
            <tr>
              {{if qw != 'w':}}<td><a href="#" id="hlpub{{=qw}}" class="ctl {{=qw}}pradio fa fa-quote-right" title="show only published {{=tags}}"></a></td>{{pass}}
                {{if qw != 'n':}}
                <td><a href="#" id="{{=qw}}hlreset" class="ctl {{=qw}}hradio fa fa-close" title="reset highlight customization"></a></td>
                <td><a href="#" id="{{=qw}}hlmany" class="ctl {{=qw}}hradio fa fa-hand-o-up" title="show all highlights"></a></td>
                <td><a href="#" id="{{=qw}}hlcustom" class="ctl {{=qw}}hradio fa fa-hand-o-down" title="only customized highlight colors"></a></td>
                <td>{{=XML(colorPicker(qw, 'one', '2'))}}</td>
                <td><a href="#" id="{{=qw}}hlone" class="ctl {{=qw}}hradio fa fa-hand-o-left" title="choose one highlight color"></a></td>
                <td><a href="#" id="{{=qw}}hloff" class="ctl {{=qw}}hradio fa fa-ban" title="highlights off"></a></td>
                {{pass}}
            </tr>
        </table>
    </div>
    <div id="side_material_m{{=qw}}" class="pnll"></div>
</div>
{{pass}}
