<div id="material">
    <div id="material_heading" class="pnl2">
        <div id="select_passage">
            <span><select id="select_book"></select></span>
            <span id="thechapter"></span>
            <a title="previous chapter" contents="" id="prev_chapter" class="ctrl" href="#"><span class="icon arrow-left icon-arrow-left"></span></a>
            <span><a id="select_control_chapter" class="ctrl" href="#">other chapters ...</a></span>
            <a title="next chapter" contents="" id="next_chapter" class="ctrl" href="#"><span class="icon arrow-right icon-arrow-right"></span></a>
            <span id="select_contents_chapter"></span>
        </div>
        <div id="select_pages">
            <span id="theitemlabel"></span>
            <span id="theitem"></span>
            <span id="thepage"></span>
            <a title="previous page" contents="" id="prev_page" class="ctrl" href="#"><span class="icon arrow-left icon-arrow-left"></span></a>
            <span><a id="select_control_page" class="ctrl" href="#">other pages ...</a></span>
            <a title="next page" contents="" id="next_page" class="ctrl" href="#"><span class="icon arrow-right icon-arrow-right"></span></a>
            <span id="select_contents_page"></span>
            <span><a id="select_control_chart" class="ctrl" href="#">chart ...</a></span>
            <span id="select_contents_chart"></span>
        </div>
        <div id="material_settings">
            <span><a href="#" id="mtxt_p" class="ctrl mhradio">text</a></span>
            <span><a href="#" id="mtxt_il" class="ctrl mhradio">data</a></span>
            <span><a id="datalegend_control" class="ctrl" href="#">legend</a></span>
            <span id="datalegend" class="txt_il2">{{=XML(legend())}}</span>
        </div>
    </div>
    <div id="material_message"></div>
    <div id="material_chart"></div>
    <div id="material_txt_p"></div>
    <div id="material_txt_il"></div>
</div>
<script src="{{=URL('static','js/share.js',vars=dict(static=URL('static','images')))}}"></script>
