<div id="material">
    <div id="material_heading" class="pnl2">
        <a title="to this chapter in Bible Online Learner" target="_blank" id="bol_lnk" href="#"><img src="{{=URL('static', 'images/BibleOL.png')}}"/></a>
        <a title="to this chapter in ParaBible" target="_blank" id="pbl_lnk" href="#"><img src="{{=URL('static', 'images/ParaBible.jpg')}}" /></a>
        {{ include 'hebrew/versions.html' }}
        <a id="self_link" title="to the online version of this page" href="#">See this page on SHEBANQ</a>
        <div id="select_lang">
            <a title="all book names in all available languages" href="{{=URL('hebrew', 'books')}}" class="ctl fa fa-info-circle"></a>
            <a title="click to select another language for book names" id="select_control_lang" class="ctl" href="#"><span id="thelang"></span></a>
            <div id="select_contents_lang"></div>
        </div>
        <div id="select_passage">
            <a title="click to go to another book" id="select_control_book" class="ctl" href="#"><span id="thebook"></span></a>
            <div id="select_contents_book"></div>
            <a title="previous chapter" contents="" id="prev_chapter" href="#" class="ctl fa fa-arrow-left fa-lg"></a>
            <a title="click to go to another chapter" id="select_control_chapter" class="ctl" href="#"><span id="thechapter"></span></a>
            <span id="select_contents_chapter"></span>
            <a title="next chapter" contents="" id="next_chapter" href="#" class="ctl fa fa-arrow-right fa-lg"></span></a>
        </div>
        <div id="select_pages">
            <span id="theitem"></span>
            <a title="previous page" contents="" id="prev_page" href="#"><span class="ctl fa fa-arrow-left fa-lg"></span></a>
            <a title="click to go to another page" id="select_control_page" class="ctl" href="#"><span id="thepage"></span></a>
            <span id="select_contents_page"></span>
            <a title="next page" contents="" id="next_page" href="#"><span class="ctl fa fa-arrow-right fa-lg"></span></a>
        </div>
        <div id="material_settings">
            &nbsp;&nbsp;&nbsp;&nbsp;
{{for tr in trInfo:}}
            <span><a href="#" id="m{{=tr}}" class="ctl mtradio">{{=trLabels[tr]}}</a></span>
{{pass}}
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span><a href="#" id="mtxtp" class="ctl mhradio">text</a></span>
{{for t in range(1, nTabViews + 1):
  lb = tabLabels[f'txt{t}']
}}
            <span><a href="#" id="mtxt{{=t}}" class="ctl mhradio"
            >{{=f'{lb} ({t}/{nTabViews})'}}</a></span>
{{pass}}
            <span><a id="datalegend_control" class="ctl" href="#">legend</a></span>
            <span id="datalegend" class="txtd2">{{=XML(legend)}}</span>
        </div>
    </div>
    <div id="material_message"></div>
    <div id="material_txtp"></div>
{{for t in range(1, nTabViews + 1):}}
    <div id="material_txt{{=t}}"></div>
{{pass}}
</div>
<script src="{{=URL('static','js/app/share.js',vars=dict(static=URL('static','images')))}}" type="module"></script>
