<div class="sel">
    <a id="yviewlink" href="#">share link</a> <a id="xviewlink" href="#">done</a>
    <textarea readonly id="cviewlink"></textarea>
{{if viewsettings.page_kind == 'passage':}}
    -
    <table class="hlview">
        <tr>
            <td>word:</td>
            <td><a href="#" id="whlreset" class="whradio">reset</a></td>
            <td><a href="#" id="whlmany" class="whradio">many</a></td>
            <td><a href="#" id="whlcustom" class="whradio">custom</a></td>
            <td>{{=XML(viewsettings.colorpicker('w', 'one', '2'))}}</td>
            <td><a href="#" id="whlone" class="whradio">one</a></td>
            <td><a href="#" id="whloff" class="whradio">off</a></td>
        </tr><tr>
            <td>query:</td>
            <td><a href="#" id="qhlreset" class="qhradio">reset</a></td>
            <td><a href="#" id="qhlmany" class="qhradio">many</a></td>
            <td><a href="#" id="qhlcustom" class="qhradio">custom</a></td>
            <td>{{=XML(viewsettings.colorpicker('q', 'one', '2'))}}</td>
            <td><a href="#" id="qhlone" class="qhradio">one</a></td>
            <td><a href="#" id="qhloff" class="qhradio">off</a></td>
        </tr>
    </table>
{{else:}}
    {{=XML(viewsettings.colorpicker('q' if viewsettings.page_kind == 'query' else 'w', vid, ''))}}
{{pass}}
    -
    <input type="checkbox" id="txt_p" name="txt_p"/>text
    <input type="checkbox" id="txt_il" name="txt_il"/>data
    <span class="txt_il"><a id="datalegend_control" href="#">legend</a></span>
</div>
<div id="datalegend" class="txt_il2">{{=XML(viewsettings.legend())}}</div>
<script type="text/javascript">{{=XML(viewsettings.init_view())}}</script>
