{{ left_sidebar_enabled = True }}
{{ extend 'layout.html' }}

{{ block head }}
{{
other_lan = 'arc' if lan == 'hbo' else 'hbo'
this_language = 'Hebrew' if lan == 'hbo' else 'Aramaic'
other_language = 'Hebrew' if other_lan == 'hbo' else 'Aramaic'
gletter = chr(int(letter))
rows = 12
cols = 5
tsize = rows * cols
wsize = len(words)
ntables = int(wsize / tsize) + (1 if wsize % tsize != 0 else 0)
class_arc = 'ison' if lan == 'arc' else ''
class_hbo = 'ison' if lan == 'hbo' else ''
wordlb = 'words' if wsize != 1 else 'word'
}}
{{ end }}

<div id="words">
{{
tables = [[[None for c in range(cols)] for r in range(rows)] for t in range(ntables)] 
curtable = 0
currow = 0
curcol = 0
nw = 0
for w in words:
    if currow == rows:
        currow = 0
        curcol += 1
    pass
    if curcol == cols:
        curcol = 0
        curtable +=1
    pass
    tables[curtable][currow][curcol] = w
    currow += 1
    nw += 1
pass

nc = 0
for t in tables:
    if nc >= wsize: break
}}
<table class="dict">
{{  for r in t:
        if nc >= wsize: break
}}
    <tr>
{{      for c in r:
            if c != None:
                nc += 1
                (word, id, wordid, gloss) = c
}}
        <td class="d">
            <a gi="{{=id}}" class="dgl" href="#">{{=gloss or '??'}}</a>
            <a wi="{{=id}}" class="d" href="{{=URL('hebrew', 'word', vars=dict(mr='r', qw='w', id=id))}}">{{=word}}</a>
            <a wii="{{=id}}" class="d" href="{{=URL('hebrew', 'word', vars=dict(mr='r', qw='w', id=id))}}">{{=wordid}}</a>
        </td>
            {{pass}}
        {{pass}}
    </tr>
    {{pass}}
</table><hr/>
{{pass}}
</div>

{{ block left_sidebar }}
{{ include 'hebrew/versions.html' }}
<div id="letters">
<table><tr>
<td>
<p class="dd {{=class_arc}}">Aramaic</p>
{{ for let in letters[other_lan]:
    lclass = ' ison' if letter == let  and lan == 'arc' else ''
}}
    <p class="ctrld d{{=lclass}}">{{=A(chr(let), _class='dletter', _href=URL('hebrew', 'words', vars=dict(lan='arc', letter=let)))}}</p>
{{pass}}
</td>
<td>
<p class="dd {{=class_hbo}}">Hebrew</p>
{{ for let in letters[lan]:
    lclass = ' ison' if letter == let  and lan == 'hbo' else ''
}}
    <p class="ctrld d{{=lclass}}">{{=A(chr(let), _class='dletter', _href=URL('hebrew', 'words', vars=dict(lan='hbo', letter=let)))}}</p>
{{pass}}
</td>
<td>
    <h1 class="dletterh">{{=gletter}}</h1>
    <p>{{='{wsize} {wordlb}'}}</p>
</td>
</tr></table>
</div>
{{ end }}

<script type="text/javascript">{{=XML(viewsettings.writeConfig())}}</script>
<script type="text/javascript">
var ConfigW = {
  version: "{{=version}}",
  lan: "{{=lan}}",
  letter: "{{=letter}}",
}
</script>
<script src="{{=URL('static', 'js/app/words.js')}}" type="module"></script>


