[flake8]
max-line-length = 88
builtins = auth,cache,db,DAL,CONTINUOUS,GQLDB,IS_NOT_EMPTY,IS_SLUG,LOAD,NOTE_DB,PASSAGE_DBS,redirect,request,response,session,SQLDB,SQLFORM,VERSION_ORDER,VERSION_INDEX,VERSIONS,Caching,Check,logger,A,B,DIV,FORM,HTTP,IMG,INPUT,LI,P,PRE,SPAN,T,TABLE,TAG,TD,TR,UL,URL
