/* LAYOUT */

.page-header {
    margin: 20pt 0 10pt 0;
}
.mastheader {
    display: none;
}
.github img {
    margin: 0 10pt 0 0;
}
.github:last-child img {
    margin: 0;
}
a.github {
    text-decoration: none;
}
.logos {
    text-align: center;
    margin-bottom: -100pt;
    margin-top: 12pt;
}
ul.text {
    list-style-type: disc;
}

ol.text {
    list-style-type: decimal;
}

/* MATERIAL TITLE */

#thechapter,#theitemlabel,#theitem,#thepage {
    font-family: "Ezra SIL", "SBL Hebrew", sans-serif;
    font-weight: bold;
    font-size: x-large;
}
#material_heading {
    text-align: center;
}
#material_message p {
    text-align: left;
}
/* MATERIAL SELECT */

#to_passage {
    display: inline;
}
#select_book {
    width: 10em;
    height: 2em;
    display: inline;
    vertical-align: text-bottom;
    margin-bottom: -4pt;
}
#thechapter, #thechapterlabel, #theitem, #thepage {
    display: inline;
    vertical-align: text-bottom;
}
#select_iid, #select_chapter,#select_chapter ul, #select_chapter ul li {
    display: inline;
    vertical-align: text-bottom;
}
#select_passage,#select_pages,#select_contents_chapter,#select_contents_page,#select_contents_chapter ul,#select_contents_page ul, #select_contents_chapter ul li, #select_contents_page ul li {
    display: inline;
    vertical-align: text-bottom;
}

/* MATERIAL VIEW */

#viewlink,#page_title,#material_settings,#material_select {
    display: inline;
}

/* MATERIAL PAGINATION */

.pagination {
    text-align: center;
}
.pagination ul li {
    padding: 0pt;
}
.itemnav {
    border-radius: 6pt;
    border: 1pt solid #dde6dd;
    background-color: #eef1ee;
    padding: 0pt;
    font-size: small;
    margin: 0pt;
}
.active .itemnav {
    font-weight: bold;
}
#qresults,#wresults {
    overflow: auto;
}

/* MATERIAL */

#material_txt_p,#material_txt_il {
    overflow: auto;
}
.vnum {
    vertical-align: super;
    font-size: small;
    color: #cccccc;
    float: right;
    margin-right: -1.7em
}
span.vref {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    color: grey;
    text-align: right;
    display: block;
}

/* SIDEBAR ITEMS: BOTH */

table.item_w,table.item_q {
    display: inline-table;
    padding: 0;
    margin: 0;
    border: 0;
}
table.item_w td,table.item_q td {
    vertical-align: text-bottom;
}

.pnll ul {
    margin: 0pt;
}

/* VIEW SETTINGS */

.qhradio.ison,.whradio.ison,.mhradio.ison {
    font-weight: normal;
    background-color: #888888;
    color: #ffff00;
}
.qhradio,.whradio,.mhradio {
    font-weight: normal;
    background-color: #fafffa;
    color: #aaaaaa;
}

table.hlsettings {
    display: inline-table;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
}

/* CONTROLS */

.ctrl {
    border-radius: 6pt;
    border: 1pt solid #dde6dd;
    background-color: #fafffa;
    padding: 2pt;
}
.ctrll {
    border-radius: 8pt;
    border: 1pt solid #dde6dd;
    background-color: #eef1ee;
    display: block;
    text-align: center;
    padding: 2pt;
}
.pnl {
    border-radius: 12pt;
    border: 1pt solid #dde6dd;
    background-color: #eef1ee;
    padding: 2pt;
    text-align: center;
}
#side_bar_mq, #side_bar_mw, #side_bar_rq, #side_bar_rw, #querybody {
    border-radius: 12pt;
    border: 1pt solid #dde6dd;
    background-color: #eef1ee;
    padding: 2pt;
    margin-bottom: 8pt;
}
#side_material_mq,#side_material_mw {
    overflow: auto;
}
.pnll, #side_bar_mq, #side_bar_mw, #side_bar_rq, #side_bar_rw, #querybody {
    border-radius: 12pt;
    border: 1pt solid #dde6dd;
    background-color: #eef1ee;
    padding: 2pt;
}
.pnl2 {
    border: 1pt solid #dde6dd;
    background-color: #eef1ee;
    padding: 2pt;
    border-radius: 12pt;
    text-align: center;
}
#material {
    border-radius: 16pt;
    border: 1pt solid #dde6dd;
    background-color: #ffffff;
    padding: 2pt;
    text-align: center;
}

/* COLOR PICKERS */

.picker_dialog .ui-dialog-titlebar {
    font-weight: normal;
    font-size: small;
    height: 1em;
}
table.picker,.qdesc {
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
}

/* picker option cell */

td.cq,td.cw {
    width: 5em;
    height: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}
td.cq {
    border: 2pt solid #ffffff;
}
td.cq a {
    color: #000000;
    font-size: small;
}
td.cw {
    background-color: #fafafa;
    border: 2pt solid #aaaaaa;
}
td.cw a {
    font-size: small;
    font-weight: bold;
}

/* picker selected cell */

.pickedc {
    vertical-align: text-bottom;
}
.picked {
    border-radius: 3pt;
    border: 1pt solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
    padding-left: 4pt;
    padding-right: 4pt;
}
.picked.cc_sel_q {
    color: #000000;
}
.picked.cc_sel_w {
    background-color: #fafafa;
    font-size: large;
    font-weight: bold;
}

/* SIDEBAR ITEMS: QUERY */

textarea.mql {
    font-family: Menlo, Courier New, Courier, monospace;
    background-color: white;
    height: 10em;
    margin-left: 0em;
}
textarea.small {
    font-size: small;
}
td.qname {
    width: 6em;
}
td.qauth {
    width: 7em;
}

/* QUERY FORM */

div.mql_form,div.word_form {
    padding: 1pt;
    overflow: auto;
}
.mql_form div.w2p_fl, {
    display: inline;
}
.mql_form div.w2p_fl label {
    display: inline;
    font-size: small;
    font-weight: bold;
}
.mql_form div.w2p_fw {
    font-size: small;
    display: inline;
}
.mql_form div.w2p_fc {
    display: inline;
    font-size: small;
    color: grey;
}
#queries_name__row, #queries_is_published__row {
    display: inline;
}
#queries_name,#queries_name__row .w2p_fw {
    font-weight: bold;
    font-size: large;
    text-align: right;
    padding-right: 1em;
    text-align: center;
}
#queries_mql__label, #queries_description__label {
    display: block;
}
#queries_description {
    display: inline;
    height: 6em;
}
#queries_mql {
    display: inline;
    height: 12em;
    font-family: Menlo, Courier New, Courier, monospace;
}
#queries_project__label, #queries_organization__label {
    display: block;
}
#queries_project__reference-actions__wrapper, #queries_organization__reference-actions__wrapper {
    display: inline;
}
#queries_project, #queries_organization {
    display: inline;
    width: 10em;
}
#queries_created_on__label, #queries_created_by__label, #queries_modified_on__label, #queries_modified_by__label {
    font-size: small;
}
#queries_created_on__row {
    font-size: small;
}
#queries_created_by__row {
    font-size: small;
}
#queries_modified_on__row {
    font-size: small;
}
#queries_modified_by__row {
    font-size: small;
}
#submit_record__row {
}
.word_form div.w2p_fl, {
    display: inline;
}
.word_form div.w2p_fl label {
    display: inline;
    font-size: x-small;
    font-weight: normal;
}
.word_form div.w2p_fw {
    font-size: medium;
    font-weight: bold;
}
.word_form div.w2p_fc {
    display: inline;
    font-family: Menlo, Courier New, Courier, monospace;
    font-size: small;
    color: grey;
}

/* HEBREW DATA */

.txt_p {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: x-large;
    line-height: 1.7;
    direction: rtl;
    text-align: right;
    margin-right: 1.5em;
    color: #000000;
}
.txt_il {
    direction: rtl;
    text-align: right;
}
table.il {
    display: inline-table;
    empty-cells: show;
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    border-radius: 3pt;
    border-collapse: separate;
    border-spacing: 1pt 0pt;
    border-top: 2pt solid #aaaaaa;
    border-bottom: 2pt solid #aaaaaa;
}
table.c {
    width: 10em;
}
tr.il {
    padding-left: 0pt;
    padding-right: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
}
td.il {
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0pt;
    margin-right: 0pt;
}
td.c {
    text-align: center;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0pt;
    margin-right: 0pt;
}
td.ht, td.l_ht {
    text-align: right;
    direction: rtl;
    height: 30pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.hl, td.l_hl {
    text-align: right;
    direction: rtl;
    height: 30pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.tt, td.l_tt {
    text-align: left;
    direction: ltr;
    height: 12pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.tl, td.l_tl {
    text-align: left;
    direction: ltr;
    height: 12pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.gl, td.l_gl {
    text-align: center;
    direction: ltr;
    height: 24pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.wd1, td.wd2, td.l_wd1, td.l_wd2 {
    text-align: right;
    direction: ltr;
    height: 12pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
td.sp, td.l_sp {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #ffffff;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.sy, td.l_sy {
    background-color: #ffaaff;
    border-left: 4pt solid #ffaaff;
    border-right: 4pt solid #ffaaff;
}
td.ph, td.l_ph {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #aaffff;
    border-left: 4pt solid #aaffff;
    border-right: 4pt solid #aaffff;
}
td.cl, td.l_cl {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #00ffff;
    border-left: 4pt solid #00ffff;
    border-right: 4pt solid #00ffff;
}
td.sn, td.l_sn {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #88ffaa;
    border-left: 4pt solid #88ffaa;
    border-right: 4pt solid #88ffaa;
}
td.rr {
    border-right: 4pt solid #aaaaaa;
}
td.r {
    border-right: 4pt solid #ff0000;
}
td.ll {
    border-left: 4pt solid #aaaaaa;
}
td.l {
    border-left: 4pt solid #ff0000;
}
span.ht, span.l_ht {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: x-large;
    color: #000000;
    line-height: 1.5;
}
span.hl_hlv, span.l_hl_hlv {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: x-large;
    color: #000000;
    line-height: 1.5;
}
span.hl_hlc, span.l_hl_hlc {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: x-large;
    color: #000000;
    line-height: 1.5;
}
.i_hl,#lexicon_g_entry_heb__row .w2p_fw, #lexicon_entry_heb__row .w2p_fw, #lexicon_entryid_heb__row .w2p_fw {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: large;
    color: #000000;
    line-height: 1.2;
}
span.tt, span.l_tt {
    font-family: Menlo, Courier New, Courier, monospace;
    font-size: small;
    color: #000000;
}
span.tl, span.l_tl, #lexicon_g_entry__row .w2p_fw, #lexicon_entry__row .w2p_fw, , #lexicon_root__row .w2p_fw {
    font-family: Menlo, Courier New, Courier, monospace;
    font-size: small;
    color: #000000;
}
#lexicon_entryid__row .w2p_fw {
    font-family: Menlo, Courier New, Courier, monospace;
    font-size: medium;
    font-weight: bold;
    color: #0000ff;
}
.i_gl, span.gl, span.l_gl, #lexicon_gloss__row .w2p_fw {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    color: #dd0000;
}
span.n {
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    color: #888888;
}
span.wd1_lang, span.l_wd1_lang, #lexicon_lan__row .w2p_fw {
    font-style: italic;
    font-size: small;
    color: #0000ff;
}
span.wd1_pos, span.l_wd1_pos, #lexicon_pos__row .w2p_fw {
    font-weight: bold;
    color: #0000ff;
}
span.wd1_subpos, span.l_wd1_subpos, #lexicon_subpos__row .w2p_fw,, #lexicon_nametype__row .w2p_fw {
    color: #0000ff;
}
span.wd2_gender, span.l_wd2_gender {
    font-weight: bold;
    color: #aa00aa;
}
span.wd2_gnumber, span.l_wd2_gnumber {
    font-weight: bold;
    color: #008888;
}
span.wd2_person, span.l_wd2_person {
    font-weight: bold;
    color: #aaaa00;
}
span.wd2_stem, span.l_wd2_stem {
    font-weight: bold;
}
span.ph_typ, span.l_ph_typ {
    font-weight: bold;
}
span.ph_det, span.l_ph_det {
    font-style: italic;
    font-size: small;
}
span.cl_typ, span.l_cl_typ {
    font-weight: bold;
}

/* CHART */

table.chart, table.chp {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: small;
}
table.chp tr {
    height: 0.6em;
}
td.bnm {
    font-size: small;
    height: 0.8em;
    line-height: 0.7em;
    text-align: right;
    vertical-align: middle;
}
td.chp {
    vertical-align: middle;
}
table.chp td {
    border: 1pt solid #dde6dd;
    width: 6px;
    height: 6px;
    line-height: 5px;
    text-align: center;
    padding: 0;
    margin: 0;
}
td.z0 {background-color: #ffffff;}
td.z1 {background-color: #00ff00;}
td.z2 {background-color: #ffff00;}
td.z3 {background-color: #ffcc66;}
td.z4 {background-color: #ff0000;}
td.z5 {background-color: #ff00ff;}
td.z6 {background-color: #000000;}

/* GENERIC */

.left_ {
    float: left;
}
.right_ {
    float: right;
}
label.radio {
    margin-left: 0.5em;
}
span.error {
    background-color: #ffaaaa;
}
span.warning {
    background-color: #ffddaa;
}
span.info {
    background-color: #aaffaa;
}
.copyright {
    font-size: small;
}
div.msg_ok {
    background-color: #aaffaa;
    font-weight: bold;
    font-size: large;
}
div.msg_error {
    background-color: #ffaaaa;
    font-weight: bold;
    font-size: large;
}
/* DIALOGS */
.pnll .ui-dialog-titlebar-close {
  display: none;
}
