h1, h2 {
    display: inline-block;
}
#verses {
    direction:rtl;
    unicode-bidi:bidi-override;
    font-size: 2em;
}
.vnum {
    vertical-align: super;
    font-size: 10pt;
    color: #CCCCCC;
}
#verses dd {
    line-height: 2em;
    font-family: "Ezra SIL", "SBL Hebrew", sans-serif;
    margin-top: -2em;
    margin-right: 1.75em;
    margin-left: 0;
}
#verses_form ul, #verses_form li, #verses_form div, #verses_form label {
    display: inline;
}
.passageselect {
    display: inline;
}
#bookselect {
    float: left;
    width: 10em;
    line-height: 1.5em;
    height: 2em;
}
#chapterselect,#chapterselect ul, #chapterselect ul li {
    display: inline;
}
#verses_form .btn {
    vertical-align: top;
}
.qhradio.ison,.whradio.ison {
    font-weight: bold;
    background-color: #ffff88;
    color: #0000ff;
}
.qhradio,.whradio {
    font-weight: normal;
    background-color: #ffffff;
}
#presults {
    overflow: auto;
}
.cpickerd .ui-dialog-titlebar {
    font-weight: normal;
    font-size: 90%;
    height: 12pt;
    line-height: 10pt;
}
textarea.mql {
    font-family: Menlo, Courier New, Courier, monospace;
    background-color: white;
    height: 10em;
}
textarea.small {
    font-size: 90%;
}
table.picked {
    display: inline-table;
    padding: 0;
    margin: 0;
    border: 0;
}
table.picker,.qdesc {
    display: none;
    padding: 0;
    margin: 0;
    border: 0;
}
table.qlist,table.wlist {
    display: inline-table;
    padding: 0;
    margin: 0;
    border: 0;
}
table.hlview {
    display: inline-table;
    padding: 0;
    margin: 0;
    border: 0;
}
td.ccq {
    color: #000000;
    font-size: 8pt;
    width: 5em;
    height: 18pt;
    line-height: 10pt;
    padding: 0;
    margin: 0;
    border: 2pt solid #ffffff;
    text-align: center;
    vertical-align: middle;
}
td.ccw {
    background-color: #fafafa;
    font-weight: bold;
    font-size: 9pt;
    width: 5em;
    height: 18pt;
    line-height: 10pt;
    padding: 0;
    margin: 0;
    border: 2pt solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
}
td.cc_selq {
    color: #000000;
    font-size: 8pt;
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    border: 1pt solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
}
td.cc_selcq {
    color: #000000;
    font-size: 8pt;
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    border: 0pt solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
}
td.cc_selw {
    background-color: #fafafa;
    font-size: 9pt;
    font-weight: bold;
    width: 1.5em;
    height: 1.5em;
    line-height: 1em;
    padding: 0;
    margin: 0;
    border: 1pt solid #aaaaaa;
    text-align: center;
    vertical-align: middle;
}
td.qname {
    width: 6em;
}
td.qauth {
    width: 7em;
}
