h1, h2 {
    display: inline-block;
}

#verses {
    direction:rtl;
    unicode-bidi:bidi-override;
    font-size: 2em;
}
#verses dt {
    line-height: 2em;
    color: #CCCCCC;
}
#verses dd {
    line-height: 2em;
    font-family: "Ezra SIL", "SBL Hebrew", sans-serif;
    margin-top: -2em;
    margin-right: 1.75em;
    margin-left: 0;
}
#verses_form ul, #verses_form li, #verses_form div, #verses_form label {
    display: inline;
}
#verses_form .btn {
    vertical-align: top;
}

.highlight {
    background: #FFFF00;
}

#highlighter_form input[type="text"] {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
#highlighter_form div {
    display: block;
}
#highlighter_form label {
    display: none;
}

#verse_word_highlighter_form input[type="text"] {
    width: 95%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}
#verse_word_highlighter_form div {
    display: block;
}
#verse_word_highlighter_form label {
    display: none;
}
#get_queries_form ul li {
    margin: 0;
    padding: 0;
}
#queries {
    margin-left: 0;
}
#queries input[type="checkbox"] {
    margin: -0.25em 0 0 0;
}
#queries dl dd {
    margin-left: 0;
}
