/* mql result */
div.result {
    width: 100%;
}
div.book-title {
    margin-bottom:0.5em;
    margin-top:0.5em;
    margin-right:0.2em;
    line-height: 1em;
    font-size:90%;
    font-family:Verdana, Geneva, sans-serif;
    color: grey;
    text-align: right;
}

/* mql form */
div.mql_form {
    background-color: #EEEEEE;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    width: 100%;
}
.mql_form div.w2p_fl {
    display: inline;
}
.mql_form div.w2p_fl label {
    display: inline;
    font-size: 90%;
    font-weight:bold;
}
.mql_form div.w2p_fw {
    font-size: 90%;
    display: inline;
}
.mql_form div.w2p_fc {
    display: inline;
    font-size: 90%;
    color: grey;
}
#queries_name__row, #queries_is_published__row {
    display: inline;
}
#queries_name {
    width: 8em;
}
#queries_mql__label, #queries_description__label {
    display: block;
}
#queries_mql, #queries_description {
    display: inline;
    width: 17em;
    height: 6em;
}
#queries_mql {
    font-family: Menlo, Courier New, Courier, monospace;
}
#queries_project__label, #queries_organization__label {
    display: block;
}
#queries_project__reference-actions__wrapper, #queries_organization__reference-actions__wrapper {
    display: inline;
}
#queries_project, #queries_organization {
    display: inline;
    width: 10em;
}
#queries_created_on__label, #queries_created_by__label, #queries_modified_on__label, #queries_modified_by__label {
    font-size: 90%;
}
#queries_created_on__row {
    font-size: 90%;
}
#queries_created_by__row {
    font-size: 90%;
}
#queries_modified_on__row {
    font-size: 90%;
}
#queries_modified_by__row {
    font-size: 90%;
}
#submit_record__row {
}
button {
}
/* end mql form */

div.query {
    width: 20em;
}
textarea.query {
    font-family: Menlo, Courier New, Courier, monospace;
    width: 100%;
}
.left_ {
    float: left;
}
.right_ {
    float: right;
}
label.radio {
    margin-left: 3px;
}
.pagination {
    text-align: center;
}
#qresults,#wresults {
    overflow: auto;
}
span.error {
    background-color: #ffaaaa;
}
span.warning {
    background-color: #ffddaa;
}
span.info {
    background-color: #aaffaa;
}
