div.result {
width: 100%;
}
div.context {
padding:2px 7px 2px 7px;
margin-top:1em;
margin-bottom:1em;
background-color:  	#C0C0C0; /*#EDEDED;*/
text-align:right;
}
div.book-title {
margin-bottom:0.5em;
margin-top:0.5em;
color: blue;
font-size:90%;
font-family:Verdana, Geneva, sans-serif;
}
div.hebrew {
font-size: 150%;
line-height:1.3em;
}
span.sentence {
/*background-color:white;*/
margin-left:7px;
margin-right:7px;
padding:2px;
}
span.word {

}
span.focus {
background-color: yellow;
}

/* mql form */
div.w2p_fc {
vertical-align:top;
}
#mql_queries_mql {
width: 50em;
}
#mql_queries_handler_name__row div.w2p_fw div {
float: left;
margin-left: 20px;
}
#mql_queries_handler_name__row div.w2p_fl {
float: left;
}
#mql_queries_context_level__row div.w2p_fl, #mql_queries_context_marker__row div.w2p_fl {
float: left;
margin-right: 10px;
}
#mql_queries_context_level {
width: 2em;
}
#mql_queries_context_level__row, #mql_queries_context_marker__row {
clear: left;
}
#mql_queries_created_on__label, #mql_queries_created_by__label, #mql_queries_modified_on__label, #mql_queries_modified_by__label {
font-size: 100%;
}
#mql_queries_created_on__row {
float:left;
font-size: 90%;
}
#mql_queries_created_by__row {
float:left;
margin-left: 20px;
font-size: 90%;
}
#mql_queries_modified_on__row {
float: left;
margin-left: 20px;
font-size: 90%;
}
#mql_queries_modified_by__row {
float: left;
margin-left: 20px;
font-size: 90%;
}
#submit_record__row {
padding-top: 20px;
clear: left;
}


/* end mql form */

div.query {
width: 50em;
}

textarea.query {
width: 100%;
}

.left_ {
float: left;
}

.right_ {
float: right;
}

label.radio {
margin-left: 3px;
}