.page-header {
    margin: 20px 0 10px 0;
}

.mastheader h1 {
    font-size: 2em;
    margin: 0;
}

.mastheader h1 small {
    font-size: 0.75em;
    margin-left: 0.5em;
}

.github img {
    margin: 0 1em 0 0;
}
.github:last-child img {
    margin: 0;
}

a.github {
    text-decoration: none;
}

.logos {
    text-align: right;
    margin-bottom: -80px;
    margin-top: 25px;
}

ul.text {
    list-style-type: disc;
}

ol.text {
    list-style-type: decimal;
}
