p.p, div.p, .txt_p {
    text-align: right;
    direction: rtl;
    line-height: 32pt;
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: 18pt;
    color: #000000;
    display: none;
}
p.il, div.il, .txt_il {
    text-align: right;
    direction: rtl;
    display: none;
}
div.sel, p.sel {
    text-align: right;
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    color: #aaaaaa;
    line-height: 10pt;
}
span.sel {
    text-align: right;
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    color: #aaaaaa;
    line-height: 10pt;
}
table.il {
    display: inline-table;
    empty-cells: show;
    margin-top: 1pt;
    margin-bottom: 1pt;
    margin-left: 0pt;
    margin-right: 0pt;
    padding-left: 0pt;
    padding-right: 0pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    border-collapse: separate;
    border-spacing: 1pt 0pt;
    border-top: 2pt solid #aaaaaa;
    border-bottom: 2pt solid #aaaaaa;
}
table.c {
    width: 6em;
}
tr.il {
    padding-left: 0pt;
    padding-right: 0pt;
    margin-left: 0pt;
    margin-right: 0pt;
}
td.il {
    padding-left: 4pt;
    padding-right: 4pt;
    margin-left: 0pt;
    margin-right: 0pt;
}
td.c {
    text-align: center;
    padding-left: 4pt;
    padding-right: 4pt;
    margin-left: 0pt;
    margin-right: 0pt;
}
td.ht, td.l_ht {
    text-align: right;
    direction: rtl;
    height: 30pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.hl, td.l_hl {
    text-align: right;
    direction: rtl;
    height: 30pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.tt, td.l_tt {
    text-align: left;
    direction: ltr;
    height: 12pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.tl, td.l_tl {
    text-align: left;
    direction: ltr;
    height: 12pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.gl, td.l_gl {
    text-align: center;
    direction: ltr;
    height: 24pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.wd1, td.wd2, td.l_wd1, td.l_wd2 {
    text-align: right;
    direction: ltr;
    height: 12pt;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
    padding-left: 8pt;
    padding-right: 8pt;
}
td.sp, td.l_sp {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #ffffff;
    border-left: 1pt solid #aaaaaa;
    border-right: 1pt solid #aaaaaa;
}
td.sy, td.l_sy {
    background-color: #ffaaff;
    border-left: 4pt solid #ffaaff;
    border-right: 4pt solid #ffaaff;
}
td.ph, td.l_ph {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #aaffff;
    border-left: 4pt solid #aaffff;
    border-right: 4pt solid #aaffff;
}
td.cl, td.l_cl {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #00ffff;
    border-left: 4pt solid #00ffff;
    border-right: 4pt solid #00ffff;
}
td.sn, td.l_sn {
    text-align: right;
    direction: ltr;
    height: 12pt;
    background-color: #88ffaa;
    border-left: 4pt solid #88ffaa;
    border-right: 4pt solid #88ffaa;
}
td.rr {
    border-right: 4pt solid #aaaaaa;
}
td.r {
    border-right: 4pt solid #ff0000;
}
td.ll {
    border-left: 4pt solid #aaaaaa;
}
td.l {
    border-left: 4pt solid #ff0000;
}
span.ht, span.l_ht {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: 18pt;
    color: #000000;
    line-height: 28pt;
}
span.hl, span.l_hl {
    font-family: Ezra SIL, SBL Hebrew, Verdana, sans-serif;
    font-size: 18pt;
    color: #0000ff;
    line-height: 28pt;
}
span.tt, span.l_tt {
    font-family: Menlo, Courier New, Courier, monospace;
    font-size: 9pt;
    color: #000000;
    line-height: 11pt;
}
span.tl, span.l_tl {
    font-family: Menlo, Courier New, Courier, monospace;
    font-size: 9pt;
    color: #0000ff;
    line-height: 11pt;
}
span.gl, span.l_gl {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #dd0000;
    line-height: 11pt;
}
span.n {
    font-family: Verdana, Arial, sans-serif;
    font-size: 8pt;
    color: #888888;
    line-height: 11pt;
}
span.il {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10pt;
    color: #000000;
    line-height: 11pt;
}
span.wd1_lang, span.l_wd1_lang {
    font-style: italic;
    font-size: 8pt;
    color: #0000ff;
}
span.wd1_pos, span.l_wd1_pos {
    font-weight: bold;
    color: #0000ff;
}
span.wd1_subpos, span.l_wd1_subpos {
    color: #0000ff;
}
span.wd2_gender, span.l_wd2_gender {
    font-weight: bold;
    color: #aa00aa;
}
span.wd2_gnumber, span.l_wd2_gnumber {
    font-weight: bold;
    color: #008888;
}
span.wd2_person, span.l_wd2_person {
    font-weight: bold;
    color: #aaaa00;
}
span.wd2_stem, span.l_wd2_stem {
    font-weight: bold;
}
span.ph_typ, span.l_ph_typ {
    font-weight: bold;
}
span.ph_det, span.l_ph_det {
    font-style: italic;
    font-size: 8pt;
}
span.cl_typ, span.l_cl_typ {
    font-weight: bold;
}
