{{ left_sidebar_enabled = True }}
{{ extend 'layout.html' }}

{{ block head }}
    <link type="text/css" rel="stylesheet" href="{{=URL('static', 'css/passage.css')}}" />
    {{ if monads: }}
        <script type="text/javascript">
            // This is necessary to pass on the information in a web2py
            // controller variable to javascript.
            var w2p_monads = {{ =XML(response.json(monads)) }};
        </script>
    {{ pass }}
    <script src="{{=URL('static', 'js/passage.js')}}"></script>
{{ end }}

{{ include 'passage/browser_form.html' }}

{{
    ua = request.user_agent().browser.name
    adapt = ua == 'Safari' or ua == 'Chrome'
}}

{{ if verses: }}
    <dl id="verses">
    {{ for verse in verses:
        if adapt:
            ht = verse.html.replace('</span><span', '&nbsp;</span><span/')
        else:
            ht = verse.html
    }}{{pass}}
        <dt>{{ =verse.verse_num }}</dt>
        <dd>{{ =XML(ht) }}</dd>
    {{ pass }}
    </dl>
{{ pass }}


{{ block left_sidebar }}
    {{ include 'passage/highlight_form.html' }}
    <p>or</p>
    {{ =verse_word_highlighter_form }}
    <p>or</p>
    {{ include 'passage/query_form.html' }}
{{ end }}
