{{ left_sidebar_enabled = True }}
{{ extend 'layout.html' }}

{{ block head }}
    <link type="text/css" rel="stylesheet" href="{{=URL('static', 'css/passage.css')}}" />
    <script type="text/javascript">
var save_url = "{{=URL('default', 'save_var')}}"
var view_url = "{{=XML(URL(vars=request.vars, host=True))}}"
    </script>
    <script src="{{=URL('static', 'js/passage.js')}}"></script>
    <script src="{{=URL('static', 'js/rhtext_def.js')}}"></script>
{{ end }}

{{ include 'passage/browser_form.html' }}

{{
    ua = request.user_agent().browser.name
}}

{{ if verses != None: }}
    {{if len(verses.verses) > 0: }}
        {{=XML(verses.legend(request, response))}}
        {{ for verse in verses.verses:}}
            <div class="txt_p"><span class="vnum">{{=verse.verse_num}}&nbsp;</span>{{=XML(verse.plain_text(ua))}}</div>
            <div class="txt_il"><span class="vnum">{{=verse.verse_num}}&nbsp;</span>{{=XML(verse.rich_text(ua))}}</div>
        {{ pass }}
        <script type="text/javascript">{{=XML(verses.adjust_data_view())}}</script>
    {{ pass }}
{{ pass }}


{{ block left_sidebar }}
{{ if request.vars.chapter: }}
<div>
    <span id="s_queries">{{=A('get queries', _id='fetchqueries', callback=URL('passage', 'query_form', vars=dict(book=request.vars.book, chapter=request.vars.chapter)), target='qbar')}}</span>
    <span id="h_queries"><a href="#">hide queries</a></span>
    <script type="text/javascript">jsqueriesview({{= 1 if request.vars.get_queries == 'True' else 0}})</script>
</div>
<div id='qbar'>
    {{include 'passage/query_form.html'}}
</div>
{{ pass}}
{{ end }}
