{{ left_sidebar_enabled = True }}
{{ extend 'layout.html' }}

{{ block head }}
    <link type="text/css" rel="stylesheet" href="{{=URL('static', 'css/passage.css')}}" />
    {{ if monads: }}
        <script type="text/javascript">
            // This is necessary to pass on the information in a web2py
            // controller variable to javascript.
            var w2p_monads = {{ =XML(response.json(monads)) }};
        </script>
    {{ pass }}
    <script src="{{=URL('static', 'js/passage.js')}}"></script>
    <script src="{{=URL('static', 'js/rhtext_def.js')}}"></script>
{{ end }}

{{ include 'passage/browser_form.html' }}

{{
    ua = request.user_agent().browser.name
}}

{{ if verses != None: }}
    {{if len(verses.verses) > 0: }}
        {{
            ajax_url = URL('default', 'textdata')
        }}
        {{=XML(verses.legend().format(ajax_url=ajax_url))}}
        {{ for verse in verses.verses:}}
            <div class="p"><span class="vnum">{{=verse.verse_num}}&nbsp;</span>{{=XML(verse.plain_text(ua))}}</div>
            <div class="il"><span class="vnum">{{=verse.verse_num}}&nbsp;</span>{{=XML(verse.rich_text(ua))}}</div>
        {{ pass }}
        <script type="text/javascript">
            add_highlights('{{=verses.hl_query}}')
        </script>
        <script src="{{=URL('static', 'js/rhtext_call.js')}}"></script>
        <script type="text/javascript">{{=XML(verses.adjust_data_view())}}</script>
    {{ pass }}
{{ pass }}


{{ block left_sidebar }}
    <!--{{ include 'passage/highlight_form.html' }}
    <p>or</p>
    {{ =verse_word_highlighter_form }}
    <p>or</p>-->
    {{ include 'passage/query_form.html' }}
{{ end }}
