{{ =get_queries_form }}

{{ if query_monads: }}
    <hr />
    <p>
        <input type="checkbox" name="highlight_all_queries" id="highlight_all_queries" />
        Highlight all queries
    </p>
    <hr />
    <ul id="queries">
    {{ for q in query_monads: }}
        <li id="query_{{ =q['query'].id }}" monads="{{ =q['json_monads'] }}">
            <p><input type="checkbox" name="highlight" /> Highlight this query</p>
            <dl>
                <dt>Name</dt>
                <dd>{{ =q['query'].name }}</dd>
                <dt>Author</dt>
                <dd>{{ =q['query'].created_by.first_name }} {{ =q['query'].created_by.last_name }}</dd>
                <dt>MQL Query:</dt>
                <dd>{{ =q['query'].mql }}</dd>
            </dl>
            <hr />
        </li>
    {{ pass }}
    </ul>
{{ pass }}
