{{ if query_monads: }}
    <ul id="queries">
    {{ for q in query_monads:
            qid = q['query'].id
    }}
        <li id="query_{{=qid}}" qid="{{=qid}}" monads="{{ =q['json_monads'] }}">
            <p>{{=XML(query_settings.colorpicker(qid))}}
               {{=A(
                    '{} by {} {}'.format(q['query'].name, q['query'].created_by.first_name, q['query'].created_by.last_name),
                    _href=URL('mql', 'display_query', vars=dict(id=qid)),
                )}}
            <span class="sel"><a href="#" id="m_{{=qid}}">more</a><a href="#" id="l_{{=qid}}">less</a></span><p>
            <p id="d_{{=qid}}">{{=q['query'].description}}</p>
            <script type="text/javascript">jsqueryview({{=qid}})</script>
        </li>
    {{ pass }}
    </ul>
{{ pass }}
