<div class="sel">
    <a id="yviewlink" href="#">share link</a> <a id="xviewlink" href="#">done</a>
    <textarea readonly id="cviewlink"></textarea>
    <input type="hidden" name="dataviewvars" id="dataviewvars"/>
    <input type="hidden" name="queryviewvars" id="queryviewvars"/>
    <input type="hidden" name="querymapvars" id="querymapvars"/>
    <input type="hidden" name="querymapvarsq" id="querymapvarsq"/>
    {{if page_kind == 'passage':}}
    -
    query colors:
    <a href="#" id="qhldel" class="qhradio">reset</a>
    <a href="#" id="qhlmany" class="qhradio">many</a>
    <a href="#" id="qhlmy" class="qhradio">my own</a>
    {{=XML(viewsettings.colorpicker2())}}
    <a href="#" id="qhlone" class="qhradio">one</a>
    <a href="#" id="qhloff" class="qhradio">off</a>
    {{else:}}
    {{=XML(viewsettings.colorpicker(verses.qid, monads=verses.hl_query))}}
    {{pass}}
    -
    <input type="checkbox" id="txt_p" name="txt_p"/>text
    <input type="checkbox" id="txt_il" name="txt_il"/>data
</div>
<script type="text/javascript">
    jsviewlink()
</script>
<div class="txt_il">{{=XML(verses.this_legend)}}</div>
