{{ if word_monads: }}
    <ul id="words">
    {{ for w in word_monads:
            vid = w['word']['id']
            wentry = w['word']['entry']
            wgloss = w['word']['gloss']
    }}
        <li id="w{{=vid}}" vid="{{=vid}}" monads="{{ =w['json_monads'] }}">
            <div>{{=XML(viewsettings.colorpicker('w',vid,''))}}
                <table class="wlist" id="h_w{{=vid}}"><tr><td class="wentry">{{=A(wentry, _href=URL('lexicon', 'display_word', vars=dict(id=vid)))}}</td>
                <td class="wgloss"><a href="#" id="m_w{{=vid}}">{{=wgloss}}</a></td></tr></table>
            </div>
            <div id="d_w{{=vid}}">
                <b>{{=wentry}}</b> by <i>{{=wgloss}}</i><br/>
            </div>
        </li>
    {{ pass }}
    </ul>
{{ pass }}
