{{extend 'layout.html'}}
<div class="mql_form">
{{=form}}
</div>


    {{if exception is not None:}}
        <div class="exception">
            <div>The error message is printed below.</div>
            <div>
                {{=exception_message}}
            </div>
            <div>Remote exception:</div>
            {{=exception}}
         </div>
    {{else:}}
        <div class="monad_sets">
            There are {{=len(monad_sets)}} result{{='' if len(monad_sets) == 1 else 's'}}
            {{=monad_sets}}
        </div>
        {{pass}}
