{{extend 'layout.html'}}
<div class="mql_form">
{{=form}}
</div>


    {{if exception is not None:}}
        <div class="exception">
            <div>The error message is printed below.</div>
            <div>
                {{=exception_message}}
            </div>
            <div>Remote exception:</div>
            {{=exception}}
         </div>
    {{else:}}
        <div class="monad_sets">
            There {{'is' if len(monad_sets) == 1 else 'are'}} {{=len(monad_sets)}} highlighted passage{{='' if len(monad_sets) == 1 else 's'}}.
            {{if len(monad_sets) != 0:}}
            <br/>Press the <i>Render</i> button to view them.
            {{pass}}
            {{monad_sets if False else ''}}
        </div>
        {{pass}}
