{{extend 'layout.html'}}
<div class="mql_form">
{{=form}}
</div>


    {{if exception is not None:}}
        <div class="exception">
            <div>The error message is printed below.</div>
            <div>
                {{=exception_message}}
            </div>
            <div>Remote exception:</div>
            {{=exception}}
         </div>
    {{else:}}
        <div class="monad_sets">
            {{verses = verse_iter}}
            {{for verse in verses:}}
                <div class="book-title">{{=verse.citation_ref()}}</div>
                <div class="hebrew">{{for word in verse.get_words():}}{{if word.focus:}}<span class="focus">{{=word.text}}</span>{{else:}}<span class="word">{{=word.text}}</span>{{pass}}{{=word.trailer}}{{pass}}</div>
            {{pass}}
        </div>
     {{pass}}
